[2018-01-10 09:29] divdax opened #1 "Post additional data"
There should be a data property to post additional data without using custom handler functions.

[2018-01-10 13:23] rikschennink commented on #1
@divdax Can you be a bit more specific? What data do you want to post along with the image?

[2018-01-10 13:36] divdax commented on #1
Sometimes i need to submit additional data with post requests like users-metadata. Maybe just pass the data like headers for the request.
[code]

[2018-01-11 06:53] rikschennink commented on #1
I understand, will see if I can introduce this as a tiny plugin somehow. Will keep you posted.

[2018-02-15 10:14] rikschennink commented on #1
Version (1.0.4) enables adding data to files.

[code]

It's then appended to the upload.

[2018-02-24 09:45] #1 closed

[2018-03-09 13:55] bonesoul opened #3 "Can filepond upload to amazon s3?"
with the help of a hosted server side api?

[2018-03-09 14:03] rikschennink commented on #3
Yes, shouldn't be a problem.

Looking at [S3 this upload example](https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/s3-example-photo-album.html#s3-example-photo-album-adding-photos) it should be possible to do it straight from the webpage with a custom [process function](https://pqina.nl/filepond/docs/patterns/api/server/#advanced).

[2018-03-11 10:05] rikschennink commented on #3
Will close for now, if you have any further questions let me know. :-)

[2018-03-11 10:05] #3 closed

[2018-03-14 09:46] kailashvele opened #4 "File uploaded to server success or failure events?"
How can I get the event where file was successfully uploaded to server or failed to upload to server event.

[2018-03-14 14:15] rikschennink commented on #4
Hmm, seems I've forgotten to document this. It's the `"processfile"`event. There's a generic `"error"` event that is triggered when something goes wrong. Might be handy to have a specific `"processfileerror"` event.

[code]

I'll run some tests tomorrow morning just to be sure.

[2018-03-15 11:36] rikschennink commented on #4
@kailashvele I've pushed a new version to npm (1.2.0) and have [updated the docs](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#events).

You can handle the `processfile` event like this.

[code]

Or

[code]

Or

[code]

[2018-03-16 00:15] pathvine opened #5 "Getting dataURL"
Hey Rik, I have set the `instantUpload` to `false` to intercept the image upload and handle the saving of images to the server myself. How do I get the dataURL of the images after browsing for them? The `File` object is returned by the `FilePond:addfile` event in this case, but the `File` object does not have the dataURL within. Thanks!

P.S. It would be great to have a search box on your site as

[2018-03-16 15:40] #4 closed

[2018-03-16 15:48] rikschennink commented on #5
Hi @pathvine !

The `File` object has a `.file` property that returns the JavaScript file object. Which you could then append to a FormData object.

By "intercept the image upload" you mean you want to trigger the upload yourself (with a button outside of FilePond) and hide the default upload button for each item (that's a feature on my todo list)?

Good idea on the search. Will look into that.

[2018-03-16 17:13] pathvine commented on #5
Hi @rikschennink,

Thank you, I will give a shot on that.

That's close to what I want to do, although I am also being greedy and want to hijack the display of upload progress when I click on this button outside of Filepond, I am not sure if this is possible. I have already set up an image server that accepts POST from my web app. When I click submit on the web app, the images will be sent to the

[2018-03-16 19:26] rikschennink commented on #5
You can define a custom `processing` function, that way your function automatically gets called when a file is queued for upload. It exposes methods to update the FilePond interface, I think that is exactly what you're looking for.

See the [advanced section](https://pqina.nl/filepond/docs/patterns/api/server/#advanced) of the server docs.

[2018-03-16 22:11] IL4Miy opened #6 "Can't use "multiple" option."
I'm using [this](https://codepen.io/rikschennink/pen/WXavEx) example in my electron-vue app. I should be able to upload multiple files.
This is shown: <img width="908" alt="bildschirmfoto 2018-03-16 um 23 01 17" src="https://user-images.githubusercontent.com/6071634/37546627-f8865f82-296d-11e8-987a-0af59ddfcf1a.png">

But I expected this:
<img width="354" alt="bildschirmfoto 2018-03-16 um 23 02 58

[2018-03-17 06:00] kailashvele commented on #4
@rikschennink Thats great, thanks for quick response and many thanks for the library I loved it. Cheers. If you need any assistance in future do let me know :)

[2018-03-17 11:22] kasparek opened #7 "Canvas toBlob quality option"
FilePondPluginImageTransform

image.toBlob(resolve, options.type, **options.quality**);

Canvas toBlob function accepts values for quality parameter between **0-1**

so if the parameter imageTransformOutputQuality specified by docs between 0-100 is used directly images are always encoded 100% quality

So either use imageTransformOutputQuality: **0.6**, or change to image.toBlob(resolve, options.ty

[2018-03-17 12:09] rikschennink commented on #4
Awesome, glad to hear that! And, will do ;-)

[2018-03-17 12:20] rikschennink commented on #6
I'm not sure how Vue modifies the HTML before it's parsed by FilePond (my guess is that's where the problem lies). Maybe it needs to be `multiple="multiple"` or `multiple="true"` but I would advice to go another route.

The React wrapper creates the instance from JavaScript using the FilePond object `create` method. I would advise doing the same with Vue. Pass options using JavaScript instead of d

[2018-03-17 12:24] rikschennink commented on #7
You're absolutely right, it takes a value between 0 and 100, should be divided by hundred before being applied. Thanks for reporting @kasparek! Will fix this on Monday.

[2018-03-17 15:59] aminkt opened #8 "Jquery event handler not run."
I'm trying use more than one filepond in page.
I registered one process event and want know wich one are already changed but all filepond triggered.

[2018-03-17 16:02] aminkt commented on #8
I tried jquery interface to select one element and register for that just but not working.

[2018-03-17 16:06] pathvine commented on #5
Hi @rikschennink,

I have tried to locate the `.file` property after trying the following code from the documentation:
`
const _inputElement = document.querySelector('input[type="file"]');
    const _pond = FilePond.create( _inputElement, {
      imageCropAspectRatio: '1:1',
      imagePreviewMaxFileSize: '3MB',
      imagePreviewHeight: 80,
      imageTransformOutputMimeType: 'image/jpeg',

[2018-03-17 19:05] IL4Miy commented on #6
@rikschennink Perfect.
I already tried your approach, but I used the property **multiple** instead of **allowMultiple**.
It's working now.

[2018-03-17 19:05] #6 closed

[2018-03-18 12:14] rikschennink commented on #8
Hi! Please post a code snippet, it's very difficult to debug without knowing how it's setup.

[2018-03-18 12:30] rikschennink commented on #5
Should throw the same error in both handlers, I will look into that.

I've copied this snippet and can load files without problem, no errors. What error is logged in the `on` handler?

Have you registered the required plugins?

[code]

Small note, `imagePreviewMaxFileSize` should be `maxFileSize`.

[2018-03-18 12:42] rikschennink commented on #7
@kasparek Just published version 1.0.1 to npm and [GitHub](https://github.com/pqina/filepond-plugin-image-transform).

[2018-03-18 12:42] #7 closed

[2018-03-18 17:12] pathvine commented on #5
Hi @rikschennink,

Thanks for picking up the `maxFileSize`.

The error message logged in the `on` handler is:
[code]
I had failed to mention that I am implementing FilePond on Meteor.js. I suspect the Meteor.js is messing with the event listener even though I wait for all the elements to finish loading.

[2018-03-19 07:22] rikschennink commented on #5
@pathvine I think you might be on version 1.1.0, have you tried version 1.2.0?

[2018-03-19 09:05] vitaliy-bobrov opened #9 "RFC: Angular wrapper"
Thanks for such excellent library!

Want to help with Angular (2, 4, 5, 6) wrapper, but faced few problems to get started:
1. Only dist folder available on repo
  Want to see project structure and source code.

2. AJAX requests implementation backed-in
  Angular uses own wrapper on top of requests `HttpClient` and also it is possible to use any external library instead it, for example, axios. In t

[2018-03-19 09:14] rikschennink commented on #9
@vitaliy-bobrov I'd love to!

1. I'm planning to add it in the near future, but want to clean up the source files first.

2. You can setup [custom file processing methods](https://pqina.nl/filepond/docs/patterns/api/server/#advanced) which allow you to completely customize uploads (and other requests).

3. I'm not sure what you mean with DOM manipulations, please elaborate.

[2018-03-19 09:40] vitaliy-bobrov commented on #9
Under DOM manipulations I mean add/remove DOM nodes, etc. But we can wrap filepond calls inside separate zone with `NgZone` API to avoid unnecessary change detection calls.

[2018-03-19 10:00] rikschennink commented on #9
There's no manipulation of the DOM outside of the FilePond root node. You can create a pond without having a target element to bind to (it will then create a node itself), the element will be available in from the `element` property. You can then add that element to the page manually.

I have limited experience with Angular 1, 2 and up. But if `NgZone` blocks mutation events than if the Angular co

[2018-03-19 10:21] vitaliy-bobrov commented on #9
Thanks for the explanation, I need to investigate how it works and will experiment on Angular wrapper.

[2018-03-19 10:27] rikschennink commented on #9
No problem, let me know if you've got any questions, happy to help 👍

[2018-03-19 13:11] pathvine commented on #5
Hi @rikschennink,

You are amazing at catching that. I don't even know how the version I got was so far behind when I installed it via npm a few days ago. I am now on version 1.2.1.

The good news is, I got the `File` object with the following code:
[code]
The key is to call the `.getFiles()` when the event is triggered. The result is:
[code]
The result corresponds well with the properties listed

[2018-03-19 15:30] rikschennink commented on #5
I'm constantly working on it and if I add features the minor version is increased. In this case, I should have increased the major version as it's a breaking change (hence your issue).

The `.fileURL` property hasn't been available for a while, it seems I forgot to update the docs, I've now fixed that. It was basically a wrapper around `URL.createObjectURL` so I felt it would be better to not dupl

[2018-03-19 17:46] pathvine commented on #5
I can't thank you enough @rikschennink. I got it working with the following code:
[code]
It somehow works without the `URL.createObjectURL`. By the way, I like the plugin system that you got going there.

[2018-03-19 18:50] rikschennink commented on #5
Fantastic! Thanks for posting the end result.

Yes, I plan to write a guide eventually. At the moment I've purposely left it out of the documentation because I'm not a 100% sold on the current way the plugins integrate with the FilePond core.

[2018-03-19 18:50] #5 closed

[2018-03-20 09:23] #9 closed

[2018-03-21 04:31] yotewach opened #10 "When angular component will be release ?"
Waiting for angular component

[2018-03-21 14:12] rikschennink commented on #8
Will close for now.

[2018-03-21 14:12] #8 closed

[2018-03-21 16:58] apandichi opened #11 "Filepond inside accordion does not have the right height"
When placing the filepond enhanced file input inside an accordion, the height of the "drag and drop" zone is not calculated correctly.

![screenshot from 2018-03-21 18-57-36](https://user-images.githubusercontent.com/1415168/37724616-db85f7c4-2d39-11e8-94ec-5050d731305b.png)

See [fiddlejs](https://jsfiddle.net/7yx7w9o5/4/)

[2018-03-21 18:21] kmanley opened #12 "trouble trying to get FilePondPluginFileValidateSize working"
Thank you for creating filepond, I found the integration really easy and it looks great.

I'm having a little problem trying to get the file size validator plugin working though -- the following code from docs doesn't seem to work, I get an error about setDefaults not existing. Any help would be appreciated; I'm restricting filesize on the server but the UI experience will be better if I can get t

[2018-03-21 20:37] lytvynenko commented on #8
Having same issue with react wrapper. The "onprocessfile" event hasn't been fired after successful upload to the server. See example here: https://codesandbox.io/s/x2zw6jzj24.

[2018-03-21 21:06] kmanley opened #13 "restoring state after page submit"
I have a page with the filepond control and some other controls.
Suppose the user uploads a couple files, and the filepond control shows them in green.
Then the user submits the page and there is a validation error, so all the controls are shown again.
My server knows the current state of the uploads; how can I update the filepond UI on the client to show the files that were uploaded previously?

[2018-03-22 06:50] rikschennink commented on #10
@yotewach I'm currently working on Vue.

I've got zero professional experience with Angular so it'll be a while before I start working on that. Maybe you can ask the op of issue https://github.com/pqina/filepond/issues/9?

[2018-03-22 06:50] #10 closed

[2018-03-22 06:54] rikschennink commented on #11
@apandichi, good catch. FilePond measures the available space and then scales the drop area accordingly if it's initialized in an invisible element the available space will be 0 (as the element does not have any layout).

You could initialize FilePond when the section becomes visible (maybe the accordion throws an event?).

I'll look into the following solutions
- Keep (cheap) render loop going wh

[2018-03-22 08:02] rikschennink commented on #12
Hm, seems to be a problem with the `setDefaults` / `setOptions` method. When assigning the `'3MB'` value like this, it works.

[code]

I'm looking into it.

[2018-03-22 08:35] rikschennink commented on #12
The problem was the `'3MB'` string not being converted properly to bytes when setting it as a default option. Fixed the issue and just published version `1.2.4`. You can leave the jQuery adapter as is.

[2018-03-22 08:35] #12 closed

[2018-03-22 08:39] rikschennink commented on #13
It's best to use the `files` property for this when creating the FilePond instance. It can be configured to restore server files. See [Setting initial files](https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files) for instructions.

[2018-03-22 10:26] rikschennink commented on #11
I've just published versions `1.2.5` of FilePond. It fixed the issue in my test case. Will close for now.

[2018-03-22 10:26] #11 closed

[2018-03-22 10:49] apandichi commented on #11
@rikschennink Thanks, it fixed my problem too!

[2018-03-22 10:59] rikschennink commented on #11
Awesome, thanks for confirming! @apandichi

[2018-03-22 20:49] lytvynenko opened #14 "React wrapper - no onprocessfile event fired"
Hi! First of all, thank you very much for this library. Saved massive amount of time for us.

Here is an example https://codesandbox.io/s/x2zw6jzj24 (server code here: https://runkit.com/lytvynenko/5ab2b90f25eebc0012140268) , where "onprocessfile" event  isn't happening.

[2018-03-23 08:06] rikschennink commented on #14
Thanks! Glad you like it!

Apparently, I somehow forgot to add the `onprocessfile` callback to the options object. Just did and published version `1.2.6`

[2018-03-23 09:31] lytvynenko commented on #14
Woah! Blazing fast turnaround! You're absolute legend! Keep it up!

[2018-03-23 09:32] #14 closed

[2018-03-23 18:30] kmanley commented on #13
Thanks, this is really helpful and it's working.
The only issue now is when I do this the file size is displayed as "1 KB". Is there a way I can just hide the file size for files that were previously uploaded before the page refresh?

[2018-03-23 18:40] rikschennink commented on #13
@kmanley Good point, I'll run some tests on Monday, will get back to you on this (currently there's no way to disable file size).

[2018-03-23 18:44] rikschennink commented on #8
The `onprocessfile` event was not defined on the global options object. If you download the latest version of FilePond it should now work correctly.

[2018-03-24 12:04] pathvine opened #15 "Parameter available on event functions"
Hi @rikschennink,

For the `pond.on(event, function)`, the `addfile` event yields parameters of (error, file) for the callback function. Do you happen to have a list of what parameters are available for other events such as processfile and removefile, etc.?

[2018-03-24 12:21] Rekseto opened #16 "Upload src file"
Uploading src file will open way to contribute :D

[2018-03-24 16:03] rikschennink commented on #16
I want to get some of the kinks out first and need to create some time in my schedule to handle pull requests.

Anyway, it's on the [backlog](https://wip.chat/products/191/pending) :)

[2018-03-24 16:03] #16 closed

[2018-03-26 06:34] rikschennink commented on #15
Hi @pathvine, I'm updating the docs now. In the meantime, the handler parameters are the same as the [callback parameters](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#callbacks).

[2018-03-26 06:34] #15 closed

[2018-03-26 06:38] rikschennink commented on #13
Hi @kmanley, does your server return the **content-length**, **content-type** and **content-disposition** headers? You can see them implemented in the `handleRestore` method of the [PHP API](https://github.com/pqina/filepond-boilerplate-php/blob/3aaf16db6121ac471eb3f600ec52c043747637fe/public/api/index.php#L85).

FilePond uses these headers to determine what file it has just restored.

[2018-03-26 12:05] pathvine opened #17 "File upload to external image server"
Hi @rikschennink,

Very Sorry to bother you again, I am trying to implement custom upload to my image server.
My image server accepts the image name, dimensions, dataURL via POST API and returns a unique server file name for the uploaded image. I have attempted to implement the handler function but no success, is there an example that you can show us on how this works?

I have seen someone asked i

[2018-03-26 13:07] rikschennink commented on #17
Hi @pathvine!

No worries.

The `serverId` is a unique identifier returned by the server, it can be the filename the file id, as long as it identifies the file to the server. In your situation, this value _"returns a unique server file name"_ should do it, FilePond remembers it and then automatically passes it to the `revert` or `restore` method. You can then override those methods and do with it

[2018-03-26 13:58] rikschennink commented on #17
Okay, see the code below.

- I've disabled `fetch` and `load` by setting them to `null` ( to show this is possible, you can of course implement these methods )
- Instead of an `XMLHttpRequest` I've used a timeout as. It just waits a couple milliseconds and then calls the `load` ( we're done ) method. This would normally probably be in the `onload` callback of the `XMLHttpRequest` instance. But, yo

[2018-03-26 16:07] cmatzenbach opened #18 "Possible error in documentation"
When following the instruction on the website about how to register filepond plugins, I found what seems to be an error in the documentation.  It says [here](https://pqina.nl/filepond/docs/patterns/plugins/introduction/#registering-plugins) that you should import plugins like this: `import FilepondPluginImagePreview from 'filepond-plugin-image-preview';` however, this was giving me errors.  Turns

[2018-03-26 17:39] rikschennink commented on #18
My guess is that this is an Aurelia thing, or maybe it's dependent on node or webpack version? I'm not sure.

In all my test projects (Vue, React, vanilla Webpack), I can import the plugin as described in the docs without problems.

[2018-03-27 11:05] pathvine commented on #17
Hi @rikschennink ,

Thank you for your examples. I have successfully implemented HTTP POST within the process. However, as it is a plain HTTP POST with the data pulled from the Meteor template, it doesn't enjoy the benefit of the image crop plugin. I should mention that since I am using Meteor and information of photos and their dataURL are pre-stored on the blaze template. I did this to easier ma

[2018-03-27 11:19] rikschennink commented on #10
@yotewach I could not let this go, you can find the adapter here.
https://github.com/pqina/angular-filepond

[2018-03-27 11:20] rikschennink commented on #9
@vitaliy-bobrov I've set up an [adapter for Angular here](https://github.com/pqina/angular-filepond), I'm no pro at this, but it seems to work, probably lots of room for improvement.

[2018-03-27 12:33] rikschennink commented on #17
If you pass `false` to the progress function once, it'll go into infinite loading mode.

[code]

To complete upload you need to call the `load` method. Otherwise FilePond doesn't know when the upload is finished.

You can alter FilePond options during runtime. If you're instance is set to single file mode you can switch to multiple input mode by setting `allowMultiple` to true.

[code]

Processing

[2018-03-27 15:14] cmatzenbach commented on #18
@rikschennink Ah ok, I see.  Seems it's not really an error then, just a.....javascript thing lol.

You can probably close this if you want.

[2018-03-27 17:29] rikschennink commented on #18
@cmatzenbach Will do, if anyone knows how to make it so that it works everywhere, I'm all ears.

[2018-03-27 17:29] #18 closed

[2018-03-28 06:40] pathvine commented on #17
Thanks @rikschennink. Previously I was using body-parser on the image server, and the body-parser does not support multipart/form-data. This caused some incompatibilities with FilePond. I am taking this opportunity to upgrade the image server to accept multipart/form-data as it is faster than base64.

I have set up a basic endpoint on my image server to accept multipart/form-data. It is working fi

[2018-03-28 11:50] rikschennink commented on #17
@pathvine Okay, glad to hear it's working!

Will close this issue, can you open a new issue for the transform problem? ( Trying to keep things grouped by subject :) )

[2018-03-28 11:50] #17 closed

[2018-03-28 15:22] 00cpxxx opened #19 "Example for picture upload not working for me"
Hi, I tried using the picture upload example in the website and it failed with JS errors in both FF and Chrome. I'm on GNU/Linux if that makes any difference. Could it be a problem here or with the specific image?

FF 52 console:
https://alexa.pro.br/pond/ff.jpg

Chrome 57 console:
https://alexa.pro.br/pond/chrome.jpg

Picture used as test:
https://alexa.pro.br/pond/Landscape_5.jpg

Best wishes.

[2018-03-28 17:05] pathvine opened #20 "Photos are not cropped after upload."
Hi @rikschennink,

I have set up the multipart/form-data upload and am able to accept the uploaded photos to my image server. However, the transformations are not applied to the photos upon upload. Can you please advise how the transformation, cropping, and resize plugins work upon the file upload?

All of the plugins are registered properly.
Here are my settings for `FilePond` instance:
[code]
He

[2018-03-29 06:06] rikschennink commented on #20
@pathvine This is difficult to debug. Uploading is done separate from transforming so how you upload should not matter. As you're using the file-encode plugin, it's best to see if the data is located in the hidden input field (as a base64 formatted string) and if it's less than what you'd expect for a big file.

If you have a public test case I'm happy to take a look.

[2018-03-29 06:15] rikschennink commented on #19
Hi @00cpxxx, Thanks for reporting! Turns out it's the orientation of your image, combined with me forgetting to turn the transform translations for that specific orientation into a function, causes this problem. Big oops on my part. Am fixing it now.

[2018-03-29 06:29] rikschennink commented on #19
@00cpxxx Done! Version `1.0.6` of the image-preview plugin fixes this issue.

[2018-03-29 06:29] #19 closed

[2018-03-29 06:31] rikschennink commented on #19
Small note, the preview of the image looks a bit grainy, I'm working on improving the image-preview quality. The output image will be crisp.

[2018-03-29 08:30] pqina opened #21 "test issue"
test issue for linking up wipbadge

[2018-03-29 08:32] #21 closed

[2018-03-29 08:40] pathvine commented on #20
@rikschennink. I will see if I can setup a public test. I have printed out the items pertain to FilePond inside the form data with a file of about 1.8MB.

The two FilePond form data parts have the following information:
[code]
I don't see a base64 formatted string for the photo, is it in the `blob`? The rest looks fine to me, except that the hidden data (crop, aspectRatio, resize) did not get appl

[2018-03-29 09:04] rikschennink commented on #20
Okay, I think I get it. You're requesting the `file` object manually and then uploading it? Are you not using the `process` callback? In that situation, you're basically using FilePond as a file drop area and indeed it will not apply transforms. It'll only apply transforms before upload or when storing the data as a base64 encoded file (using the file encode plugin).

There's currently no way to a

[2018-03-29 09:56] pathvine commented on #20
Can you please point me to where the `process` callback is in the documentation? I may have missed that. Currently, I am using this:
[code]
I am not doing anything in this callback because I have handled everything in the:
[code]
I have registered the `allowFileEncode` plugin, but I can't find the data block that you've shown on the documentation [https://pqina.nl/filepond/docs/patterns/plugins/fi

[2018-03-29 10:31] rikschennink commented on #20
I meant the server.process property but set as a function.

If you're handling the upload in the `process` property of the `server` option then there's no need for the `file-encode`. File-encode is only there to allow uploading of files with the classic form post, if you're doing async uploading then you don't need the file-encode plugin.

`processFile` triggers FilePond to start the upload proces

[2018-03-29 12:16] pathvine commented on #20
I have disabled the file-encode. For now, the preference is to send the photos instead of the base64 format. I have converted the file to base64 and use `graphicsMagick` to crop and resize the photos on the image server.

[2018-03-29 13:05] rikschennink commented on #20
No problem! Glad to hear you found a solution @pathvine, will close for now.

[2018-03-29 13:05] #20 closed

[2018-04-03 08:52] DrTF commented on #13
restor mutiple files failed ! Only echo the last file's name.

[2018-04-03 09:00] rikschennink commented on #13
Hi @DrTF, can you share your options object?

[2018-04-03 09:09] DrTF commented on #13
The circumstance like this.
1. create form： upload multiple file to server. And Database save file infos use **JsonArray**.
2. modify form:  I want to use  **modal_info** (**springmvc**) directly that with the **JsonArray**.
3. like this
![image](https://user-images.githubusercontent.com/11496772/38240150-644826d2-3761-11e8-839a-4853b44a6b00.png)
4. The method **server.load** only return true. Bec

[2018-04-03 09:58] rikschennink commented on #13
Hi!

You need to set the files as a property of the options object, `addFiles` is for adding new files.

[code]

[2018-04-04 06:11] weiliank opened #22 "How to get compressed/resized image?"
How to get the result of image after uploading process?

I tried the codes below:
[code]

but when i inspect back the image size or dimension is still the same as original file.

[2018-04-04 08:35] rikschennink commented on #22
@weiliank Have you added the `image-transform` plugin?

[2018-04-04 09:34] weiliank commented on #22
Hi @rikschennink

Yes, I did included the plugin library and also I have registered the plugin

`
FilePond.registerPlugin(
//            // encodes the file as base64 data
//            FilePondPluginFileEncode,
//            // validates the size of the file
//            FilePondPluginFileValidateSize,
//            // corrects mobile image orientation
//            FilePondPluginImageExifOrient

[2018-04-04 09:47] rikschennink commented on #22
@weiliank If you're uploading using XMLHttpRequest ( the `server` config property ) you can leave out the File Encode plugin. How have you configured the `server` property?

[2018-04-04 09:52] weiliank commented on #22
Hi @rikschennink,

I configured it as below:

`
        // get a reference to the input element
        const inputElement = document.querySelector('.filepond');

        // create a FilePond instance at the input element location
        const pond = FilePond.create(inputElement, {
            labelIdle: 'Drag & Drop your picture or <span class="filepond--label-action">Browse Your PC</span>',

[2018-04-04 10:46] pathvine opened #23 "Allow only adding one file at a time"
Hi @rikschennink,

I want to allow the user to add one file at a time and able to add 10 files maximum. Hence, the options I have is:
[code]
However, the FilePond wouldn't let me add more files after the first file. The preview of the first photo covers the entire pond area so that the "Drag & Drop your files or Browse" area is hidden. Is there any way to configure the FilePond properly for this p

[2018-04-04 11:11] rikschennink commented on #22
Looks okay to me. You can remove these lines `allowFileEncode: true` and `allowImageTransform: true` as plugins are enabled by default. It looks okay otherwise.

Just took a look at the `registerPlugin` snippet for the second time, it seems the Image Crop and Image Resize plugins are not loaded.

[2018-04-04 11:13] rikschennink commented on #23
Hi @pathvine, there's currently no way to limit the amount of files a user can add in a single action. The `allowMultiple` property toggles FilePond in single or multiple file mode.

What is the use case if I may ask? Why do you want the user to only add a single file at a time?

[2018-04-04 11:51] pathvine commented on #23
I realized that the graphicsMagick performance is unstable when I resize and crop one image to multiple resolutions (sometimes it yields 0 byte files). So I decided to move the resizing and cropping to the client side, but too many photos at once would choke the processing pipeline (later added photos replacing earlier photos) and burden the cpu too much on mobile as well. The simplest solution so

[2018-04-04 12:36] rikschennink commented on #23
@pathvine

Have you tested this? Or is this an assumption, I've tried to optimized the client side image processing as best as possible, if it's not up to par, it might need further improvement.

What do you mean with:

[2018-04-04 12:49] pathvine commented on #23
Sorry for the confusing @rikschennink. Not referring to your transformation plugin, I am using another nom package to perform image transformation. As you may recall, I am using FilePond as a file drop area. Since the transformation of FilePond is only done with the built-in upload mechanism, I have to roll my own transformation as well.

[2018-04-04 12:52] rikschennink commented on #23
No problem @pathvine, I'm still not sure why you're not using a custom processing method, that would allow you to send files to a custom upload location but still use fileponds image transform logic.

[2018-04-04 14:04] pathvine commented on #23
@rikschennink. I have tried it before actually, the transformation wasn't applied in the custom `.process` function in the server block.

[2018-04-05 05:42] rikschennink commented on #23
@pathvine And you had the Image Transform plugin registered? FilePond applies the transforms sending the file to that function.

[2018-04-05 12:05] Quadriphobs1 opened #24 "Uploading File manually"
Is it possible to upload the file manually by letting the user click on a normal submit button alongside with a form either using ajax or direct post

[2018-04-05 13:49] Quadriphobs1 commented on #24
Okay, I seems to get that part but where am little confused is the `processFiles methos` which requires query, what is the query structured required here like... I do hope you can help with that

[2018-04-05 14:10] rikschennink commented on #24
@Quadriphobs1 Ah, tested, and indeed it didn't work when omitting arguments. Just released a fix version `1.2.9`. You can now trigger uploading of all files by calling `myPond.processFiles()` without arguments.

[2018-04-05 14:41] Quadriphobs1 commented on #24
Although I don't seem to get what you meant but what I am trying now is I created `server` in the setOptions which the process goes to a route but then I can't trace an error of why the upload is not working and there is no way to actually check for error with the option, or maybe I don't about it yet, maybe you can put me through that :)

[2018-04-05 17:52] rikschennink commented on #24
If I understand correctly you want:

1. User clicks button outside of FilePond, this starts the upload of all selected files
2. A custom upload method is used to upload the files

Is that correct?

If so, can you describe which step is difficult and why?

[2018-04-05 23:39] DamSenViet commented on #24
I need to submit a form and other fields along with the files in an AJAX post. Would it be possible to attach and add the base64 encoded data to my request?

[2018-04-06 00:36] DamSenViet opened #25 "removeFiles not working correctly"
Idk why but it's just not working correctly. I've tested it multiple times in the console.

removeFile() works but
removeFiles() doesn't (regardless of whether I set allowMultiple on the instance or multiple attribute on the element)

Here's the file I used to test it.

Try uploading some files into it and you can see that removeFiles() does nothing.

[code]

[2018-04-06 01:08] DamSenViet commented on #25
I think removeFiles() may need parameters of the file names. It probably works like processFiles() where I need to add queries otherwise it won't work.

The documentation says that removeFiles() should remove all Files and not by query.

[2018-04-06 06:37] rikschennink commented on #25
@DamSenViet You're absolutely right, thanks for reporting!

Just published FilePond version `1.2.10` that fixes this issue.

[2018-04-06 06:37] #25 closed

[2018-04-06 06:44] rikschennink commented on #24
@DamSenViet You can use the File Encode plugin to have FilePond encode the files as base64 data. You can then send it along with a normal form post ( not using AJAX ).

If you want to send data asynchronously you can use a [FormData object](https://developer.mozilla.org/en-US/docs/Web/API/FormData) to store all the values and files, this is what FilePond uses to send data to the server.

To add da

[2018-04-06 06:45] rikschennink commented on #22
@weiliank Will close for now as the issue is probably related to the Image Crop and Image Resize plugins not being loaded.

[2018-04-06 06:45] #22 closed

[2018-04-06 08:59] TweeZz opened #26 "Events don't get triggered"
Hi,

I'm figuring out which file upload library to use in my project. I bumped into yours and am giving it a try.
For unknown reason, events don't seem to be triggered.

What am I doing wrong?

https://jsfiddle.net/6j2h8trL/7/

[2018-04-06 09:04] rikschennink commented on #26
@TweeZz Thanks for considering FilePond!

FilePond replaces the `<input type="file"/>`, you'll have to listen on the `pond.element` ( or one of its parents ) for events.

The `FilePond:loaded` event has already fired by the time you start listening for it. :-)

[2018-04-06 09:06] TweeZz commented on #26
Alright. That actually makes sense :)
Dank je wel ;)

[2018-04-06 09:06] #26 closed

[2018-04-06 09:25] TweeZz opened #27 "Recursively add files in a directory and it's sub directories"
The question says it all :)

[2018-04-06 09:38] rikschennink commented on #27
@TweeZz Currently FilePond does not recursively read subdirectories. Added to the todo list.

[2018-04-06 17:08] rijkvanzanten opened #28 "Addfile fires before hidden input is populated by file-encode plugin"
Hi! Awesome work on this plugin, I love it 😄

I'm trying to dynamically render the preview image (using the base64 string) outside of the plugin. In order to achieve this, I'm trying to get the base64 string as soon as it's ready so I can update my preview. However, it seems like the `FilePond:addfile` event fires _before_ the hidden input is created (let alone ready) and `FilePond:processfile` do

[2018-04-06 18:10] rijkvanzanten commented on #28
Maybe the `file-encode` plugin could emit an event when the worker is done?

[code]

https://github.com/pqina/filepond-plugin-file-encode/blob/4b39b31c3bf735903bf75a2ff0334eca297af7b2/dist/filepond-plugin-file-encode.js#L71-L91

[2018-04-07 00:43] DamSenViet commented on #28
Ah I understand. The problem here is that when the FileReader object is called to read in the data uri, it does it ASYNCHRONOUSLY. You have to wait for the readIn to finish before it's ready.

Also your `pond.processFile()` only works when you set the `server` option when you create the object or when you `setOptions`. As default, it will attempt to upload or `processFile()` when you drop in a fil

[2018-04-07 09:15] rikschennink commented on #27
@TweeZz Alright, that makes it a lot more difficult as FilePond would have to show the directory structure on the frontend as well and the server would have to be able to recreate it. This would be super nice but to be honest it's not a top priority right now.

I'm planning to release the source files in the near future, and describe the plugin API in the docs, a feature like this I think would be

[2018-04-07 13:56] rijkvanzanten commented on #28
Ahhh gotcha! I didn't realize from the docs that the process events were for server only. I think this boils down to the feature request for an event onencode  :)

[2018-04-07 15:15] pathvine commented on #23
Yup the plugins are installed and registered properly. To catch up on your last question of why the process function was not used, I realized that when I did manual uploading through an API endpoint. The transformation of the photos didn't happen, so I decided to do the manual transformation when the photos are added. When I added multiple files at once, the burden of transformation of multiple fi

[2018-04-08 07:42] TweeZz commented on #27
@rikschennink
- there is code which walks through the directory structure when doing a folder drag'n drop (`// the recursive function`)
- when debugging, I noticed that each `entry` has the relative path information. That info would somehow need to added to the already available properties in `e.detail.file`. (https://pqina.nl/filepond/docs/patterns/api/file/#properties)
- I personally don't think

[2018-04-09 07:11] rikschennink commented on #23
@pathvine I've set up an Image Transform example on CodePen, I use the process method to convert the file object to an image and add it to the page so you can see that the transforms have been applied.
https://codepen.io/rikschennink/pen/vRvZPK?editors=1010

[2018-04-09 07:13] rikschennink commented on #27
Will look into this.

I do think it's important to be able to see the structure of the directory on the front-end folders could have similarly named files, and it confirms visually that FilePond has parsed the directory structure and is sending that information to the server.

As I'm also offering a PHP solution and plan to add a NodeJS solution I want to make this work on the server as well.

[2018-04-09 07:25] TweeZz commented on #27
Ok, I understand your argumentation for the front-end changes.

Currently, filepond walks through the directory structure, but it uploads the files in the first directory it bumps into which contains files.
Let me explain.

I drag the 'mainDir'.
When I have the following structure:
[code]
then file1.txt and file2.txt will be uploaded.

When I have the following structure:
[code]
then file1.1.txt w

[2018-04-09 12:12] rikschennink commented on #28
Hi @rijkvanzanten and @DamSenViet !

I would like the `addfile` event to fire after the file has been encoded, having a separate file encoded event might be a bit confusing, also, is another plugin does some other alterations on the file we'd need another event to track when it's done.

The file encode action is currently run after the load of the file, which causes the event to fire before the en

[2018-04-09 21:53] DamSenViet commented on #28
I recommend giving us access to the FileReader object. It's native to JavaScript and we could just get the data from the hidden input by detecting a success from the readIn.

[2018-04-10 07:12] #13 closed

[2018-04-10 13:31] rikschennink commented on #28
@DamSenViet I'd consider that a suboptimal solution as it would require devs to have knowledge of FilePond's internal systems in order to use the file encode plugin. Whether you're uploading async or encoding files, the `addfile` event should be fired when the file has been fully added. Using plugins should be as easy as registering them and setting some options, seamless.

If you do need access t

[2018-04-11 05:53] rosnaib11 opened #29 "not showing"

[2018-04-11 05:54] #29 closed

[2018-04-11 11:28] #24 closed

[2018-04-11 15:36] snuuve opened #30 "Disabling Undo option"
How to disable Undo feature?

[2018-04-11 16:00] rikschennink commented on #30
What do you mean by Undo feature.

[2018-04-11 16:05] snuuve commented on #30
This button "undo"
![image](https://user-images.githubusercontent.com/9519759/38628905-d827b2c8-3db2-11e8-9562-83a4db4e67b0.png)

[2018-04-11 16:07] rikschennink commented on #30
It's currently not possible to disable this feature (only the revert action that removes the temp file from the server can be disabled), why do you want to disable it? What is the use case?

[2018-04-11 16:09] snuuve commented on #30
Because we don't want to let users delete files from this component

[2018-04-11 16:10] rikschennink commented on #30
Existing files? I assume a user can remove files they themselves dropped?

[2018-04-11 16:12] snuuve commented on #30
Yes, but not from this component :)

[2018-04-11 16:17] rikschennink commented on #30
Okay, thanks for clarifying! Final question, if you don't mind, how are you using FilePond? It helps to know the use case to determine how to best integrate this feature.

[2018-04-11 17:57] rikschennink commented on #27
Thanks for the additional details, will look into this further when I get the chance.

[2018-04-12 08:27] DamSenViet commented on #28
For now as a temporary solution. I here's what I did to detect whether the encoding is finished.

[code]

[2018-04-12 10:52] rikschennink commented on #28
@rijkvanzanten @DamSenViet Just published version `1.2.11` of FilePond and `1.0.4` of the File Encode plugin. Should fix the issue.

[2018-04-12 10:54] DamSenViet commented on #28
Awesome and thank you so much! Will you be updating the npm modules too?

[2018-04-12 11:12] rikschennink commented on #28
@DamSenViet Noth npm modules have been updated as well.

[2018-04-12 12:01] #28 closed

[2018-04-13 00:14] Quadriphobs1 commented on #24
So finally I got to upload a file and in my controller I return the generated ID for the file but how would I add the return key to an hidden input and since I would prefer using the file-encode-plugin, how can someone attach the file-encode to an input filed... am just lost a little bit on it

[2018-04-13 06:43] rikschennink commented on #24
If you're using the File Encode plugin you don't need a `process` entry in the server configuration as you'll be uploading files on form submit ( note that this will cause trouble for large files ). When using the File Encode plugin the hidden inputs FilePond generates contain the file data.

[2018-04-16 10:16] jamesblasco opened #31 "Advanced server"
Hi!, I am trying to use filepond with firebase and I am having troubles using advanced server, it would awesome to have an example of it. For example my process function would be

[code]
But doesn´t work and abort method neither.

[2018-04-16 10:52] jamesblasco commented on #31
I have fixed the problem, but firebase storage doesn´t allow to move files in its servers so I would like to avoid restore function.

[2018-04-16 19:04] rikschennink commented on #31
Hi! Currently on a short vacation, so can’t do a lot of support, if you meant the “revert” functionality than you can disable it by passing null as the property value.

On 16 Apr 2018, 11:52 +0100, jamesblasco <notifications@github.com>, wrote:

[2018-04-16 22:48] chewtoys opened #32 "Boilerplate Express/Node"
Anyone has example how to handle the upload process?

[2018-04-18 08:03] rikschennink commented on #32
Hi! Don’t have this yet but am planning to build a node version of the PHP boilerplate in the near future. I’ve played around with Multer and that makes handling the upload a lot easier so it might be of help to you.

On 16 Apr 2018, 23:48 +0100, NEKIO <notifications@github.com>, wrote:

[2018-04-18 09:10] jamesblasco commented on #31
Thanks

[2018-04-18 09:10] #31 closed

[2018-04-18 18:48] mattkibbler opened #33 "Loading files without transferring file contents"
Hi there,

I'm using FilePond to upload a file within in an interface for a data object. The user can then go back to edit that data object, where I would like to show them the currently uploaded file and give them the option to delete that one and upload another.

FilePond does this very well, as I can add the previously uploaded file data to the `files` array and use the **load** part of the ser

[2018-04-18 19:46] rikschennink commented on #33
Hi! Glad to hear FilePond is a good fit. You’re not missing something obvious, FilePond currently downloads the file. I wanted to push towards version 1.0.0 and moved this improvement to a next version.

There are some caveats with not downloading the data, it would for instance make showing an image preview impossible.

The solution you suggested is probably where I’m going with this. Without dat

[2018-04-18 19:59] mattkibbler commented on #33
I see!

I'm actually using FilePond to manage videos so I didn't think about the image preview, also as they are videos the file size can be a little large so downloading the file is more of a problem for me.

I should add that what you've created so far is really great and enjoyable to use. I'll look forward to future updates!

[2018-04-20 20:17] cmatzenbach opened #34 "Error not triggering on incorrect file type uploaded through drag and drop"
Everything works perfectly fine when uploading via the "Browse" link provided by the plugin, but when I drag and drop a file that is an invalid type, nothing happens.  Filepond does not produce the same red error component as it does when uploading via the link.  However, drag and drop does work perfectly fine for uploading - the issue lies only with producing the error component.  Is this a known

[2018-04-21 00:08] LivioGama opened #35 "[React] Can't load File preview from URL"
First of all thanks for this component, it's great!

On the React version, when uploading a picture, I get the preview and everything works great, then I store in my resource the picture url. But then when I consult my resource, I try to set up the initial state with a file, but somehow I can't get the preview of that image url.

My code :
[code]

Result :
![capture d ecran 2018-04-21 a 02 07 51](

[2018-04-21 07:36] momin-ctg opened #36 "File upload status design and progressbar"
I am trying to keep file uploading status on right and design like this screenshot . Can i do this with __filepond__ ?

Here is the Screenshot
![upload](https://i.imgur.com/swrTzIx.png)

Please ! Thanks in advance

[2018-04-21 10:04] jdriesen opened #37 "Translations (i18n) ..."
Hi Rik,

First of all, CONGRATZ with this software.
I'm currently using it within my Vue Apps, and it works like a charm !

My question:
Do you plan to implement translations ?
e.g. currently, (when trying to upload an invalid FileType), I see the message "File is of invalid type".

It would be great if this string can become language dependent...

It's just a question, but do you have any plans t

[2018-04-21 10:38] jdriesen commented on #37
Apologies !!!
Forget my question.

Just found "labelFileTypeNotAllowed"

Problem solved. (feel free to delete this question)

Grtz,
Johnny

[2018-04-21 12:55] rikschennink commented on #37
No problem! Was about to reply, glad you found the right property :-)

I’ll keep it around, might always be useful for someone else.

On 21 Apr 2018, 11:38 +0100, Johnny Driesen <notifications@github.com>, wrote:

[2018-04-21 12:56] #37 closed

[2018-04-21 13:05] rikschennink commented on #36
I don’t think that would really work. FilePond is quite rigid from a design perspective. I think the only way would be to set display to *none* on all the filepond items and then use the event API to rebuild the file list on the right.

I’ll add different layout options to my todo list.

[2018-04-21 13:07] rikschennink commented on #34
Hi! I’m currently on a short trip, will look into this later this week.

[2018-04-21 13:53] rikschennink commented on #35
Hey! That’s a bit odd, I’m currently on a short trip, will look into this when I get back later this week.

[2018-04-21 22:49] simioluwatomi opened #38 "Questions about Filepond that are not clear from the documentation"
I currently use Slim image cropper to handle image uploads in a project. And with what I have read so far, implementing this in lieu of Slim would be a walk in the park. But I have some questions.

- In the profile picture selection example, can I pass an external URL of an image (say from S3 or CloudFront) to the preview area and have the image loaded into the preview area? I know this is possibl

[2018-04-23 08:44] rikschennink commented on #38
Hi! Currently on a short trip, will get back to you on Wednesday.

[2018-04-24 14:17] rayax86 commented on #30
Please, this is very important. There are many many cases you just want to avoid this, for example whenever a file is uploaded, it is processed and takes effect immediately. It would be meaningless to allow the user to revoke this file.

[2018-04-25 23:07] nifte commented on #24
@rikschennink Could you provide an example of how to add the encoded files to a FormData object? I'm having trouble figuring it out.

[2018-04-25 23:10] DamSenViet commented on #24
@nifte check out the add files before encode. The op dropped a codepen that checks on the element with the img data.

[2018-04-25 23:26] nifte commented on #24
@DamSenViet Gotcha. Thanks!

[2018-04-26 01:33] nifte commented on #24
@DamSenViet So, I figured out how to access the Base64-encoded data for each file, but I'm still confused on how to actually attach them to a FormData object...

[2018-04-26 02:26] DamSenViet commented on #24
@nifte C'mon man we're all developers but you gotta learn how to use the APIs.

https://developer.mozilla.org/en-US/docs/Web/API/FormData/append

Really not that hard to Google "formData".

[2018-04-26 11:49] rikschennink commented on #38
Hi!

- You can't, you need a server to load the remote file and return it to the front-end. Front-end can't do cross domain requests without authorization.

- You should pass a custom `process` method, see the [server docs](https://pqina.nl/filepond/docs/patterns/api/server/). This allows you to then use the name of the file as a unique identifier.

[2018-04-26 11:56] rikschennink commented on #34
@cmatzenbach The drop is automatically prevented when the file is not allowed (fails validation). I'm planning to make this behaviour optional and make the default to add all files and show error states.

[2018-04-26 11:59] rikschennink commented on #30
@rayax86 That would mean there's no way for the user to alter the interface state? The file is uploaded and stays green? Is that correct?

[2018-04-26 12:15] rikschennink commented on #35
@LivioGama If you remove the `type="local"` from the `File` component it should work. FilePond will now load the file by URL.

The `type="local"` is only for files that are inaccessible from the web. When type is set to local the file is requested via the server `load` end point ( which by default returns a webpage in a react app, which is also why the file is so tiny ).

If you inspect the networ

[2018-04-26 12:16] #23 closed

[2018-04-26 12:51] rayax86 commented on #30
@rikschennink That's the idea. Just need to show a tick in the button and don't register any `onclick` handlers on it.

[2018-04-26 14:42] #36 closed

[2018-04-26 14:44] rikschennink commented on #34
Just added the `dropValidation` property. Validation is now disabled by default.

Enable it to validate files before they are dropped.
[code]

[2018-04-26 14:44] #34 closed

[2018-04-26 17:16] nifte commented on #24
@DamSenViet I know how to use the FormData object. The part I'm confused on is what to actually append to the FormData (i.e. the 'value' parameter).

[2018-04-26 23:06] DamSenViet commented on #24
@nifte well the file is base64 encoded. Get the base64 string via the data json and attach that to your FormData. Send that off then process the data server side (save/write in base64 mode, etc).

[2018-04-27 02:03] nifte commented on #24
@DamSenViet Okay, this is what I've got:
[code]
I'm taking the data from each hidden input, and appending it to the FormData object. But when I check the `$_POST` object on my server, it just shows each file with the data as a string.

[2018-04-27 03:15] DamSenViet commented on #24
That's exactly what a file is. It's literally just a giant string, usually in binary 0's & 1's. If you open a file in binary reading mode that's literally all you will see. When you use base64 encoding it helps compress the binary representation.

e.g. Here's why we base64
15 in binary (base 1) is "1111" = 4 characters = 4 bytes
15 in hex (base 16) is "F" = 1 character = 1 byte
Imagine you have an

[2018-04-27 06:52] rikschennink commented on #30
@rayax86 The *Just* in your sentence is where the problem is. It's never just doing something. 😊

If I leave the button, it indicates the user can click it, but it won't do anything ( as it does not trigger any events ). The subtext shows to "tap to undo" but as there's no button there's nothing to tap. Removing the subtext makes the design look unbalanced, etc.

I've set up the situation on my de

[2018-04-27 06:58] rikschennink commented on #24
@nifte If you're going to send FormData objects, why not use a custom `process` method instead of the File Encode plugin?

[2018-04-27 07:02] LivioGama commented on #35
There is no picture preview in the solution you gave me. I would except the remote image to have the same look than the ‘just uploaded successfully’ picture

[2018-04-27 07:52] LivioGama commented on #35
Removing the `type=local` will cause the file to upload, then the model will change and the page will re-render, then the file upload again, in an infinite loop. I will try to disable auto upload to see what it does, I'm coming back to you.

[2018-04-27 07:57] rikschennink commented on #35
Have you tried implementing the load API end point? It basically loads the file and returns it from the server, you can find and example here: https://github.com/pqina/filepond-boilerplate-php/blob/master/public/api/index.php#L45

I'm thinking of making this optional ( as when the file is accessible from the browser it's unnecessary ).

[2018-04-27 08:25] LivioGama commented on #35
I read the documentation, there is :
FilePond.setOptions({
    allowDrop: false,
    allowReplace: false,
    instantUpload: false,
    server: {
        url: 'http://192.168.33.10',
        process: './process.php',
        revert: './revert.php',
        restore: './restore.php?id=',
        fetch: './fetch.php?data='
    }
});

is there a server option `load: 'load.php'` to call this `handleLoa

[2018-04-27 08:34] rikschennink commented on #35
Hi!

It's explained on the [server page in the docs](https://pqina.nl/filepond/docs/patterns/api/server/#load).

So this would be the default:

[code]

You could try [using a custom function](https://pqina.nl/filepond/docs/patterns/api/server/#load-1) and getting the file with `fetch`. I haven't tested this but it should work.

[code]

[2018-04-27 08:54] LivioGama commented on #35
Thanks a lot for your patience !
Unfortunately it is not working, the load function is never called. Here is my ready to use example :
[code]
No "TEST" is shown in the log. Note that if I add a `process` function, and drop a file, it will upload successfully !

[2018-04-27 09:26] LivioGama commented on #35
Actually I tried :
[code]

And only the `process` method is called :(

[2018-04-27 09:36] rikschennink commented on #35
@LivioGama Sorry for the confusion, the `type="local"` needs to be present on the `File` for the load method to be called.

[2018-04-27 09:38] LivioGama commented on #35
Even with type="local" no other method than process are called for me. I'm using the latest "react-filepond": "^2.0.4" version

[2018-04-27 10:12] rikschennink commented on #35
@LivioGama Okay, I seem to have reproduced the problem here, working on a fix.

[2018-04-27 10:59] rikschennink commented on #30
@snuuve @rayax86 I just published version `1.4.0` which now has a `allowRevert` setting which defaults to `true`, set it to `false` to disable the undo feature.

[2018-04-27 10:59] #30 closed

[2018-04-27 11:13] rikschennink commented on #35
@LivioGama Just publish version `2.0.6` of the react adapter and version `1.4.0` of the core library. Please let me know if this fixes the issue.

[2018-04-27 22:55] nifte commented on #24
@rikschennink So, I already have a php file that handles files submitted from my form. I'm basically just trying to use Filepond as the UI for the file inputs in my form, so I'll use whatever the easiest solution is.

[2018-04-28 05:51] rikschennink commented on #24
@nifte I you’re submitting async set the server property to your php file location. If you’re submitting a form with page reload then FormData is not going to help you (as it’s for use with fetch or XMLHttpRequest) and you’ll need to adjust the backend to accept encoded files (see the php boilerplate for the required code changes).

[2018-04-30 05:24] rayax86 commented on #30
@rikschennink Thanks for the update 👍

By "leaving the button" I actually mean "show something that looks the same as the button but don't allow the user to click it". Sorry I didn't make it clear.

As for your statement "It's like if this text box I'm typing this comment in would not allow me to use my backspace button", please consider cases similar to Google Instant: whenever you type in someth

[2018-04-30 06:33] rikschennink commented on #30
@rayax86 No problem!

I'm still struggling to understand the use case :)

[2018-05-01 08:48] #38 closed

[2018-05-01 08:48] #35 closed

[2018-05-02 07:49] DamSenViet commented on #36
You'd probably be better off writing your own API for this. I recommend using jquery ajax and from the xhr factory, modify it by adding an onprogress event listener so you can monitor the progress. Use css and html to create a loading bar.

[2018-05-03 21:45] cooldesigns opened #39 "Translations"
Missing feature. I think using options for this problem is scary.

[2018-05-04 07:26] rikschennink commented on #39
@cooldesigns It's not clear what you're getting at. I need more information than this. Pro's, con's, good practises, examples.

[2018-05-05 16:38] cooldesigns commented on #39
if we keep the translations in JavaScript code, our code will looks like spaghetti.
if we make translations in our config, not in the library. Peoples which use this library make translations by ourself, but actually we can share our translations and we can save someones time.
The important part is a big question about how we can use it international web apps.
I think it can be done with a 'locale

[2018-05-07 06:33] rikschennink commented on #39
You can pass translations to FilePond using options parameters.

[code]

That's not what you're looking for?

[2018-05-08 14:17] JoaquimLey commented on #31
Hey @jamesblasco if you found an issue to your problem it would be considered best practice to post it here :P so future guys like myself don't have to open a duplicate issue :D

I'm trying to use filepond as a UI component only (vue) and I'm currently having some trouble passing the progress through my own implementation.

[2018-05-08 17:28] JoaquimLey commented on #17
@rikschennink maybe you could add this example to the documentation?

I'm struggling to get this working with Vue (I created an issue in the respective repo).

[2018-05-08 18:09] mycalhunter opened #40 "File upload not cooperating with PHP upload script"
Hello,

I am using a tested and proven php snippet to get the file and upload it to a server directory. However, I am now getting a getimagesize error - (getimagesize(): Filename cannot be empty). Perhaps i am missing something in this library that is hindering this and causing the script to think the filename is empty.

[code]

[code]

[2018-05-09 06:54] rikschennink commented on #17
@JoaquimLey good idea, will see if I can do this later this week.

What specific issue are you running into?

[2018-05-09 09:43] JoaquimLey commented on #17
I will open an issue over there to keep this one scoped and not polluted for people coming in the future ;).
Thanks!

[2018-05-10 19:23] gabaum10 opened #41 "Access to the raw response object"
I'm uploading a file to a temp bucket in my app.  I'm trying to integrate filepond but am having a hard time getting access to the raw response object on upload success.  As part of that payload there is a temp file ID I need to get to submit with a later request.  Is there a way to do that?  It's kind of a deal breaker for using filepond.

[2018-05-10 20:49] gabaum10 commented on #41
I'm trying to step through the source, but I just straight up don't see a way of getting the raw response.  I see the event fire for the `process-complete` event, but that never makes it to my client listener.  I'm using the Vue component, but that shouldn't matter really.

[code]

Is there really no way to access this thing?

[2018-05-11 06:57] rikschennink commented on #41
Hi @gabaum10!

There's no public `process-complete` event, the one you found is only used internally. See this list for a complete overview of all available events:
https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#events

You can access the returned id through the file object API.
[code]

From the top of my head, that would convert to Vue in the following manner:

[code]

[2018-05-11 07:02] #40 closed

[2018-05-11 10:04] gabaum10 commented on #41
Thanks but that's not what I was asking.  I saw the docs and tried all the events and callbacks.  We return a special attribute called "key" in the response.  I need that somehow in my component.  It seems the raw response object is not returned anywhere which seems like kinda an oversight.  Can we do something like at least add the response to the file metadata or something?

[2018-05-11 10:57] rikschennink commented on #41
@gabaum10 The server response should automatically be stored in the `file.serverId` value. Is it empty? What does the server response look like?

[2018-05-11 12:50] gabaum10 commented on #41
@rikschennink This is what the response looks like:

![fileresponse](https://user-images.githubusercontent.com/1561245/39925027-16a55e90-54f8-11e8-9c0c-e33139aec7bb.png)

As you can see there is some extra data that's returned that doesn't exist on the file object that's passed back to the done event; specifically the `key`.  If there is nothing that's exposed, is there a way I can bind something

[2018-05-11 13:56] gabaum10 commented on #41
Oh!  Indeed.  I see that now.  Weird I missed that.  Carry on.

[2018-05-11 13:56] #41 closed

[2018-05-11 14:01] rikschennink commented on #41
@gabaum10 The server response should be a unique identifier so when the form is submitted it can be linked to the file on the server. But that's probably not always the case. I take it the property contains the entire response in your situation? But if it was just the `key` it would match right? Maybe some sort of filter method to select the right property from the response would make it match bet

[2018-05-11 14:45] rikschennink commented on #41
A filter in FilePond, where it would pass the server response through the filter so you can select the property to use as file server identifier ( in your case `key`). You could write a custom processing method but that's a bit overkill if you only need to select a property, sometimes altering the server response is out of our control so this would make it a bit easier to use.

[2018-05-11 14:49] gabaum10 commented on #41
That sounds exactly like what we need here. :+1:

[2018-05-14 22:02] cooldesigns opened #42 "allowRevert: falseOption is changing request parameters"
When I added allowRevert: false

request is changing to this:

 {"filepond"=>"{\"base64\":\"dHJhY2tpbmdfY29kZQo3MTE2ODUyMjcwNjgKODEzNDU2NzgxMDIzMwoxMjQyMzQyMzQyMzQy\"}"}

The original is here:

{"shipment"=>{"csv"=>"{\"base64\":\"dHJhY2tpbmdfY29kZQo3MTE2ODUyMjcwNjgKODEzNDU2NzgxMDIzMwoxMjQyMzQyMzQyMzQy\"}"}}

[2018-05-14 22:03] cooldesigns commented on #42
[code]

[2018-05-15 06:59] rikschennink commented on #42
Can you please double check? As the `allowRevert` setting only impacts the visibility of a single button ( see below ) I suspect something else might be going on.

![screen shot 2018-05-15 at 08 58 23](https://user-images.githubusercontent.com/1132575/40041457-4a8a1380-581e-11e8-8516-72ed306caded.png)

[2018-05-15 08:59] #39 closed

[2018-05-15 10:10] gabaum10 commented on #41
Great!  Thanks for being so responsive.

[2018-05-15 10:13] rikschennink commented on #41
No problem @gabaum10! Let me know if you have any further questions.

[2018-05-16 08:03] cooldesigns commented on #42
Yes, It is worked after clear browser cache. Thanks.

[2018-05-16 20:22] cd13sr opened #43 "File Type Validation Issues"
I'm having trouble validating file types using the File Type Validation plugin

Here's my jQuery:

[code]

PDF's are passing the validation, but nothing else is. I've tried removing the "application/" text and using an extension with a dot (.doc) too, but with no luck.

Also, check out the attached screenshot. Is there anyway to style this so the file types subtitle doesn't push everything out of

[2018-05-17 06:00] rikschennink commented on #43
Hi @cd13sr

Sorry to hear it's not working.

At the moment the `acceptedFileTypes` property only accepts mime types ( and mime type wildcards ), not extensions, so `.docx` won't work. Its functionality is based on the `<input type="file"/>` [accept attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#attr-accept) which unfortunately [doesn't function on Edge and is only just

[2018-05-17 06:26] rikschennink commented on #43
@cd13sr Just logged the mime types for a .pages and .docx file, it shows these two,
- *docx* application/vnd.openxmlformats-officedocument.wordprocessingml.document ( I kid you not )
- *pages* application/x-iwork-pages-sffpages

So while adding those will probably fix the validation of those files it'll make the error message even more ridiculous, so I'm adding a property to override it.

[2018-05-17 07:42] rikschennink commented on #43
@cd13sr Just published version `1.5.1` of FilePond and version `1.1.0` of the File Type Validation plugin.

About to update the docs, see below for changes.

[code]

When adding an incorrect file this would output:
[code]

If you have a lot of mime types to check you can either opt for nulling exotic types or replacing the label with a custom label.

[code]

[2018-05-17 14:36] cd13sr commented on #43
Awesome, thanks Rik! I'll give it a try a little later today.

I was testing this in Chrome on a Mac.

[2018-05-17 23:53] cd13sr commented on #43
Hey—

.doc and .rtf files aren't working for me. However, .pages, .doc, and .txt files are working.

I'm currently using the unpkg.com CDN for Filepond, Filepond jQuery, and the file type validation plugin.

Thanks!

[2018-05-18 06:44] RjRana opened #44 "Can't load remote url via files attribute in vue js"
[code]

[code]

`this.getRemoteUrlforEditing` computed property is giving me the remote URL. but filepond giving me 400 error everytime .. i have configured everything successfully.  but can't figure out this issue

[2018-05-18 07:11] rikschennink commented on #44
@RjRana The `files` property expects an array, it looks like the `this.getRemoteUrlForEditing` is a reference to a function. Are you sure you shouldn't be running the function `this.getRemoteUrlForEditing()`?

[2018-05-18 09:47] alexander-v-ysbm opened #45 "Browser Droping down on all devices when I uploading file(video) ~100mb and more"
Browser Droping down on all devices when I uploading file(video) ~100mb and more
maybe somebody can help

[2018-05-18 17:43] rikschennink commented on #45
@alexander-v-ysbm I'm sorry but it's not clear to me what problem you're experiencing, please try to clarify. Additional information like error messages, code samples, browser names and versions are very helpful. The more effort you put in describing the issue the more willing people are to help you out.

[2018-05-20 13:23] johnnyasantoss opened #46 "AngularJS Component"
Hey! Just for letting you know that I made a AngularJS Component for FilePond (inspired by the other Angular Component) :)
I still need to do some tests, so there might be errors :)
If you are interested you can check it out [here](https://github.com/johnnyasantoss/angularjs-filepond).

[2018-05-20 14:13] rikschennink commented on #46
@johnnyasantoss Waw! Thanks so much!

I don't have a lot of experience with Angular but will surely take a look this week.

[2018-05-20 14:15] rikschennink commented on #46
By the way, if you've got some ideas on how to best set up the [other angular adapter](https://github.com/pqina/angular-filepond/issues/1), I'm all ears! :-)

[2018-05-20 21:26] johnnyasantoss commented on #46
I'm not much familiarized with Angular and it's AOT compilation system, so I think that I might not be a really good help hehe :sweat_smile: but I would like keep helping with the AngularJS adapter :)

[2018-05-21 06:39] rikschennink commented on #46
@johnnyasantoss No worries! 😊 Keep being awesome! I'll close this issue and add a link to your repository to the readme.

[2018-05-21 06:39] #46 closed

[2018-05-21 16:31] cd13sr commented on #43
Ah yes. So the mime types for the files were different then what I originally had. It works great with the correct ones! Ha.

Thanks again.

[2018-05-22 06:17] rikschennink commented on #43
@cd13sr Fantastic, glad to hear it's working!

[2018-05-22 06:17] #43 closed

[2018-05-24 11:55] aitorllj93 opened #47 "Unable to change the default remove behaviour"
Hi,

I have troubles handing de DELETE file method

The revert handler works well when upload is done with the component, but when I load
the files preloaded with this format:

[code]

I'm unable to change the remove file default behaviour

Thanks for your time

[2018-05-25 10:40] #45 closed

[2018-05-25 10:40] #44 closed

[2018-05-25 11:17] rikschennink commented on #47
I’ll test it this afternoon, it’s set up to remove temporary files, so maybe I missed a use-case 🙃

[2018-05-25 13:14] rikschennink commented on #47
@aitorllj93 There's currently no `remove` end-point. It only handles reverting temporary files.

The reasoning behind this is that destructive actions like that should be done after careful consideration ( and would require an undo option or serious confirm popup ). FilePond keeps a list of current files, then, when the parent form is submitted you can determine the differences after the user made

[2018-05-25 15:19] aitorllj93 commented on #47
Hi @rikschennink, sorry, was my fault, I had already handled the remove event but didn't saw it.

The problem now is, this event gets called also during revert process so I'm unable to know if that file was already deleted by the revert handler

[2018-05-25 16:50] rikschennink commented on #47
@aitorllj93 Yes that's also a way handle it. I think a property to indicate the origins of the file would be a nice addition, something like: `local`, `limbo`, `input`. That should offer enough detail to be able to handle file removal in the remove handler.

[2018-05-26 08:53] mvrhov opened #48 "Take a look at tus for chunked uploading"
https://tus.io/

[2018-05-28 07:31] rikschennink commented on #48
@mvrhov Thanks!

Super interesting, you could use [the tus js client](https://github.com/tus/tus-js-client) to enable chunk uploading by writing a custom `process` function.

[2018-05-28 07:31] #48 closed

[2018-05-28 07:32] rikschennink commented on #45
@alexander-v-ysbm If this is about uploads of big files failing you could try this => https://github.com/pqina/filepond/issues/48

[2018-05-28 09:40] alexander-v-ysbm commented on #45
@rikschennink Hi, sorry for long reply, for some reason when my users load files more that ±100mb browser freezing down(I have use it for upload videos on server) iPhone(safari) MacBook, Ubuntu(firefox),
I have already resolve this problem using another uploader with chunk upload process, I saw that your uploader will be use it chunk upload at future 👍 . It will be interesting to use it in another

[2018-05-28 09:46] rikschennink commented on #45
@alexander-v-ysbm Thanks for the update! Glad to hear you've found a working solution. :-)

Hope to be able to add chunk uploading soon.

[2018-05-28 12:05] enisdenjo opened #49 "Stale files when replacing an already-uploaded temporary file"
First of all, FilePond is **very awesome and slick**, superb job!

Anyhow, I'll go right to the point. Lets say you have a FilePond instance which **allows only 1 file**. You drag-and-drop the file and it is immediatly uploaded as a tmp file on the server. Now you realised that its the wrong file, the natural behaviour would be to **just drag another file over that one**, FilePond behaves accordin

[2018-05-28 12:30] rikschennink commented on #49
Hi @enisdenjo, Thanks for giving FilePond a go!

Good point, it should call `revert`, I've added it to my todo list.

About the temp files. I think it's wise to set up a server script that periodically clears the temp upload folder ( for instance of files older than a day ) as users could also simply close the browser window.

[2018-05-28 12:34] enisdenjo commented on #49
Hey @rikschennink,

thanks for the quick reply! Of course we'll have a cleanup method which removes stale temporary files. The reason behind the issue is that our use case is that EVERY uploaded file will come with a `payload` which will hold all relevant information for processing the said file. In this case we need to be carefull in what we delete from the tmp file, and this feature would help a

[2018-05-28 12:54] rikschennink commented on #49
@enisdenjo Aha, got it! :-)

Just published version `1.5.4` which should fix the issue.

[2018-05-28 13:06] enisdenjo commented on #49
Amazing, I can confirm that it works! 😄

[2018-05-28 13:07] rikschennink commented on #49
Thanks for confirming 👍

[2018-05-28 13:07] #49 closed

[2018-05-28 14:31] rikschennink commented on #47
@aitorllj93 Just added the `origin` property to the file item and the `FileOrigin` enum to the FilePond object. The origin is either 1, 2 or 3, and you can use the FileOrigin enum to make your code more readable.

It's available in version `1.6.1`

[code]

[2018-05-28 18:37] rikschennink commented on #49
@enisdenjo Just uploaded version `1.6.2`, found an issue with restored temporary files not being removed when replaced. Should be good now.

[2018-05-29 12:57] lekoala opened #50 "multiple uploads using the same name"
Hello,

I'm trying to use the multiple uploads feature, but it seems that the hidden fields created to store the temporary id use all the same name (and not the array notation, like `filepond[]`).

Therefore, when I post the form, only one id gets through.

In your examples on the website, there is no mention of any other setting

[code]

I'm currently using multiple attribute (although I use `mul

[2018-05-29 14:03] rikschennink commented on #50
Hi @lekoala! If you change the `name` of the `input` to `filepond[]` FilePond will copy that name to the hidden input fields.

[2018-05-29 14:20] IsraelAdura commented on #1
how to use the above please, I wanna send auth headers with the request.

[2018-05-29 14:25] rikschennink commented on #1
@IsraelAdura You can [add custom headers to requests](https://pqina.nl/filepond/docs/patterns/api/server/#configuration) using the `headers` property on the various `server` endpoints.

For instance:

[code]

[2018-05-29 16:12] lekoala opened #51 "Automatically load included plugins"
Hi again !

Although it's great to be able to load plugins selectively, it would be great to have a bundled versions of filepond that includes all plugins.

Also, it would be wonderful if plugins were able to auto register themselves if they have been loaded before filepond. I'm using standard script tags (so no vue, react or anything) and basically, since the plugin is declared as a global variab

[2018-05-29 21:08] lekoala commented on #51
In my setup, I've settled for using defer instead of async for that reason : at least I get a predictable loading order. It's even actually more efficient to do it that way (this article has some great explanations : https://flaviocopes.com/javascript-async-defer/#tldr-tell-me-whats-the-best)

When using defer, plugins will be loaded before and can be discovered easily. In the case of the jQuery p

[2018-05-29 21:18] lekoala commented on #50
I just tried on jsfiddle, it works indeed as you said so there must be something wrong in my setup. I'll have a look tomorrow to see what's wrong.

[2018-05-30 08:03] rikschennink commented on #50
Alright, will await your response.

[2018-05-30 08:19] rikschennink commented on #51
What a clear and concise article, love it.

I think using defer is a great approach, will see if I can add this in the near future. `registerPlugin` would still be useful for devs loading async or using the modules ( without global scope pollution ).

[2018-05-30 08:28] lekoala commented on #50
ok, it was because I was using the name option to set the name of the field when uploading the file. It's still a bit annoying though because it means that the behaviour is not the same when having single or multiple uploads : the endpoint will get passed an array of files or a single file. But at least its working now :-)

Maybe the docs deserved to be updated so that it's clearly specified that

[2018-05-30 10:45] rikschennink commented on #50
I'm not sure I understand what you mean with:

But I'm glad it's working.

[The docs are on GitHub](https://github.com/pqina/filepond-docs) as well, so if you have suggestions for improvement, pull requests are very welcome.

[2018-05-30 12:29] lekoala commented on #50
it means i was doing something like

`<input class="filepond" type="file" name="Files[]" multiple="multiple" id="InputFiles">`

and then doing this

`$('.filepond').filepond({allowMultiple: true, name: 'Files'})`

When done like that, it's Files that will be used for hidden fields, not Files[]. I was using the "name" option to make sure that it was sent properly to the server.

With Files as key,

[2018-05-30 14:55] enisdenjo opened #52 "Expose "file-status" view for plugins"
Hello again!

I am currently implementing a custom filepond plugin which will handle some specific steps and requirements for us. I have managed to make one by reading through the filepond, and some plugins, source code.

During this process I realised that I needed a **filter** which will hook to the "file-status" view, but the `const fileStatus = createView(...)` does not have a `didCreateView`

[2018-05-31 06:05] mattwriley opened #53 "Changing file name of uploaded files"
I'm new to FilePond - and GitHub - so if this isn't the proper channel to ask for help, please let me know what is.  :-)

I want to change the name of files uploaded through FilePond. I've figured out how to manipulate this with the php boilerplate files you have provided. However, I want to be able to pass a php variable from the page FilePond is on to the Item.class.php file to add to the file n

[2018-05-31 13:04] rikschennink commented on #52
Hi Denis! That is awesome!

Do note that I've currently not documented the plugin API as it might still change in the future. I'll see if I can add the didCreateView to the file status view as well.

What kind of plugin are you building if I may ask?

[2018-05-31 13:11] rikschennink commented on #53
Hi Matt, excellent first post!

If you're uploading the files async then you could add the file id when posting the form. You can then modify the submit.php file and loop over the `$items` array after the temp files have been loaded. The `Item` class has a `rename()`, `getFilename()` and `getName()` function which you can use to rename the file.

[2018-06-01 06:49] mattwriley commented on #53
Thanks for the quick response. I really appreciate it.

I've spent some time messing around with it again tonight based on your suggestions. I think I'm closer but I'm still struggling to figure out what I need to change to make it work.

In the submit.php file, I've got a loop going over the $items array, prepending the ID to each item. This ID comes from a hidden $POST value I added to the form.

[2018-06-01 08:44] enisdenjo commented on #52
Hey Rik,

I figured that its because of that, I'll just re-write it again once you change the API. 😄

Anyway, for us, when you upload a document file it goes through 2 processing steps. **1st** one is the upload (FilePonds "processing"); and the **2nd** one is our own processing of the said document. This 2nd step is rather similar to the FilePond "processing" step where you see the progress, you

[2018-06-01 15:32] mpavey0 opened #54 "Documentation website is down"
Clicking on https://pqina.nl/filepond gives me a 503 response and this screen:

![image](https://user-images.githubusercontent.com/12401696/40849232-5adcb07a-658f-11e8-9780-2d483ef59d8e.png)

[2018-06-01 16:00] matthieubellon commented on #54
This is where you realize that without documentation any code is worthless.

[2018-06-02 11:13] rikschennink commented on #54
Thanks for reporting, should be back up again.

[2018-06-02 11:13] #54 closed

[2018-06-03 10:46] rikschennink commented on #52
Thanks for clarifying Denis! Amazing that you've managed to set this up with a plugin. I'll see if I can add the `createView` method somewhere this week.

[2018-06-03 12:11] rikschennink commented on #53
No problem Matt!

A file rename plugin is on the roadmap but I am currently not working on it so it's still some time away.

I had to update the PHP boilerplate to make this work correctly, indeed the `$items` were id's instead of actual Item instances.

After getting the latest files, this should work:

[code]

[2018-06-04 02:30] inglesuniversal opened #55 "Can it upload to AWS S3 Bucket?"
I would like to know if you have some sample tests for AWS uploads

Thanks

Hugo

[2018-06-04 09:55] rikschennink commented on #55
Hi!

Yes, you can integrate with S3 by providing FilePond with a custom process method.

Something like this works:

[code]

[2018-06-04 10:16] #47 closed

[2018-06-04 14:29] rikschennink commented on #53
Hi! Just published the [File Rename plugin](https://github.com/pqina/filepond-plugin-file-rename) to rename files on the client, I would still advice to prepend id's on the server but who knows, it might be useful.

[2018-06-06 03:38] Nierrrrrrr commented on #1
How can I retrieve metadata on the server side?

I'm using Spring for the back-end, and all I found the examples the metadata JSON has a different name, but when I using ```setMetadata``` the name is the same with the file. For example, my request payload will looks like:

[code]

Is there any method to set a different name on the metadata?

[2018-06-06 09:43] rikschennink commented on #53
For demo purposes, the default path is currently relative to the API location, as that makes it visually clear where the files end up. You can override the location either in code or by setting the static property.

I've updated the file-rename plugin docs with a quick example:
https://pqina.nl/filepond/docs/patterns/plugins/file-rename/#usage

[2018-06-06 09:44] rikschennink commented on #53
Will close this for now as the original issue has been resolved.

[2018-06-06 09:44] #53 closed

[2018-06-06 09:48] rikschennink commented on #1
@Nierrrrrrr I do not have any experience with Spring, with PHP the values are split over `$_POST` and `$_FILES`. There's is currently no way to set a different name for the metadata.

Maybe this post on Stack Overflow is of use?
https://stackoverflow.com/questions/13779656/spring-mvc-map-multiple-dynamic-form-elements-with-the-same-name

[2018-06-06 12:04] #55 closed

[2018-06-06 12:06] #50 closed

[2018-06-06 12:06] #32 closed

[2018-06-07 06:03] simioluwatomi commented on #55
Please could you provide a sample implementation of signing the file uploads on the server before file is actually uploaded to s3?

I simply don't trust my client enough to provide s3 configuration variables to it.

[2018-06-07 06:18] rikschennink commented on #55
@simioluwatomi I wouldn't also.

I don't know how to sign files on the server, I'm not very experienced with S3 or AWS, to be honest ( the above example is my first stab at working with it ).

You could supply your API endpoint to the `server` property.
https://pqina.nl/filepond/docs/patterns/api/server/

Then upload to your server and pass the file to S3 from the server and return the S3 key back

[2018-06-07 18:53] simioluwatomi commented on #55
I'll walk you through the process of signing file uploads with [dropzone](http://www.dropzonejs.com) which I'm currently using in a Laravel project. The code might be long but I think you can read it and understand what it does. I don't have enough time on my hands right now but I'll look into the filepond documentation and the events that fire when files are added to the filepond instance

[code]

[2018-06-08 06:50] rikschennink commented on #55
@simioluwatomi When a file is dropped it needs to be loaded to FilePond ( as you can also drop remote or local URLs ).

The `start` events tell you when loading or processing is started, the `onaddfile` one tells you when it's done. `progress` gives information on the total amount of bytes processed.

Therefor there's a file load (file has been loaded to FilePond) and file process event ( File has

[2018-06-08 09:08] simioluwatomi commented on #55
@rikschennink I worked on this a little before sleeping and this is what I have done so far

[code]
I was thinking of hooking into the `onprocessfilestart` event to create FormData object and append signing information to it.

But in your comment above, how would I start the actual upload? I know we would have a working example in the next few hours.

[2018-06-08 10:15] rikschennink commented on #55
@simioluwatomi You'd have to set up an XMLHttpRequest, there's a very basic example at the top of this page:
https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects

[2018-06-10 00:30] laurent-d opened #57 "multiple fields - Identify instances index ?"
Hi !
Is there way to get the index of field, for example to get some info about dom parent when we have multiple instances ? (i didn't found it on documentation)
Or we have to create all instances separately ?

[2018-06-10 00:41] simioluwatomi opened #58 "Upload files directly to S3 with server signing using Laravel"
For brevity sake, I won't be including steps on how to create a S3 bucket, set up of CORS configuration and how to setup the aws sdk in your laravel project. If you want to do that, kindly visit this [link](https://cwhite.me/avoiding-the-burden-of-file-uploads/)

**Code updated to reflect @rikschennink's comment**

[code]

@rikschennink
The arguments of the `progress` callback in the custom `progr

[2018-06-10 08:06] rikschennink commented on #57
The `FilePond.create` method returns an array of instances. Each instance has an `element` property which you can use to identify it on the page. If you need a FilePond instance bound to a certain DOM element you can use the `FilePond.find(certainDOMElement)` method and it will return the instance bound to the passed element.

[2018-06-10 08:34] rikschennink commented on #58
Thanks for the example!

The `file` param of the `process` method contains the native file object, access to the file item is restricted inside the process method. You could then set properties or run functions that would contradict or interfere with the current processing of the file.

This is similar to the values exposed by the `onprogress` event of the `XMLHttpRequest` object. https://develope

[2018-06-10 08:36] rikschennink commented on #55
An example implementation of S3 can be found here:
https://github.com/pqina/filepond/issues/58

[2018-06-10 18:56] simioluwatomi commented on #58
@rikschennink Thanks for your comment. I have made changes to the code to reflect your suggestions

Could you provide an example of how to do this? My javascript skills are not at ninja level yet.

Spot on. I noticed that if I revert a successful upload then perform another upload, the second file does not get uploaded. Your suggestion fixes that.

I will definitely take a look at the docs and fix

[2018-06-12 03:05] haribabu500 opened #59 "Image label"
Is it possible for us to add custom label like tags in uploaded preview.

Any information would be really helpful
Thank you

[2018-06-12 07:22] rikschennink commented on #59
I'm not sure what you mean, can you elaborate?

[2018-06-12 07:50] rikschennink commented on #58
Adding this before `filepondRequest.open`should work:

[code]

[2018-06-12 10:46] haribabu500 commented on #59
After successful upload of image, we can view uploaded image with the name of an image file, can we append some text to file name after it?
or is it possible to add some additional text as a label in the preview?

[2018-06-12 11:10] rikschennink commented on #59
You can use the [file-rename plugin](https://pqina.nl/filepond/docs/patterns/plugins/file-rename/) to alter the filename.

If you want to add additional data to the upload, you can use the `setMetadata` method on the [file item](https://pqina.nl/filepond/docs/patterns/api/file/#methods).

[2018-06-12 13:56] aitorllj93 opened #60 "Unable to upload files on multiple input with preloaded files"
Hi, I'm trying to use the allowMultiple feature but I'm unable to make it work properly.

When there's no files on start it works fine, but when I initialize the input with already uploaded files with this config:

options:
[code]

files:
[code]

And try to add another file, the process event isn't triggered and file doesn't get uploaded.

I'm currently using filepond v1.7.1 and ngx-filepond

Than

[2018-06-12 14:28] haribabu500 commented on #59
can you please elaborate rikschennink,
my code is as folllows:
Initialize

[code]
 Creating of filepond instance is as follows:
                 `const pond2= FilePond.create(
                        document.querySelector('#floorplan_image'),{
                            allowImagePreview:true,
                            allowFileRename:true
                        }
                      );`

I

[2018-06-12 14:41] rikschennink commented on #59
I think you forgot to add `FilePondPluginFileRename` to the `registerPlugin` call.

[2018-06-13 13:30] enisdenjo commented on #52
Any updates regarding this?

[2018-06-13 13:59] rikschennink commented on #52
Sorry Denis, unfortunately, I haven't gotten around to it yet.

[2018-06-13 14:32] enisdenjo commented on #52
No problem! Anyway, I made the changes in a new branch (locally) but I can't push it here so that I create a PR. Everything is in place, it just needs to be reviewed by you. 😄

Can you give me access to create a new **branch** at this repo? I would understand if you say "no", just asking.

[2018-06-13 14:42] enisdenjo commented on #52
No problem! I made a PR, so you just need to review/test it. 😄

[2018-06-13 17:49] rikschennink commented on #60
Is the `myfile.pdf` file correctly loaded via the server `load` endpoint?

[2018-06-13 19:59] erquhart opened #62 "Any plans to open source?"
Hi there - great project! Looks like the actual source is kept offline and only the build files are being added to this repo. If you open source it, the community can help make it better. Any plans to do that?

[2018-06-14 00:42] simioluwatomi commented on #58
[code]
Unfortunately, this
- makes it impossible to cancel any uploads in progress
- file preview turns green (indicating upload is complete) just before upload starts, then reverts to the default grey color when upload starts. When uploading progress gets to 100%, file progress doesn't change to `Upload complete`;

    error('oh my goodness');

Could you please provide a sample implementation?

T

[2018-06-14 06:10] rikschennink commented on #62
Thanks! The plan is to release the source later this year.

To be able to better facilitate pull requests and new ideas I want to have more unit tests and need to restructure the repository. Without that, it'll cost way too much time to support incoming improvements/suggestions so therefore I've currently only released the build targets.

[2018-06-14 06:35] rikschennink commented on #52
Just published version `1.7.2` it adds the `didCreateView` filter for file status. 🙂

[2018-06-14 06:51] enisdenjo commented on #52
Superb! Thanks a lot. 😁

[2018-06-14 07:09] #52 closed

[2018-06-14 11:42] aitorllj93 commented on #60
Hi,

yes, the preloaded files get loaded correctly (or at least I think so). I can even remove them.
Here is the events log:
![preload-attachments](https://user-images.githubusercontent.com/5903438/41409932-2e3967f4-6fd8-11e8-9db4-149afb1bdcda.png)

When I try to upload another file I get this events:
![upload-another](https://user-images.githubusercontent.com/5903438/41410006-656e237c-6fd8-11e8-8

[2018-06-15 07:29] rikschennink commented on #58
You're calling `load` immediately without waiting for the upload to finish. Also there's stray `progress` after the `fetch` closes, that needs to be removed.

![screen shot 2018-06-15 at 09 23 42](https://user-images.githubusercontent.com/1132575/41455741-818e560c-707e-11e8-839b-49b7a65dbbf6.png)

Add this before the `filepondRequest.send()`

[code]

More information on the XMLHttpRequest object.

[2018-06-15 09:16] simioluwatomi commented on #58
Thank you for your patience, really appreciate. I am also working on the docs to make them extremely easy to understand for novices like me. Would send a PR soon!!!

[2018-06-15 09:16] #58 closed

[2018-06-15 09:29] rikschennink commented on #58
No problem! PR's on the docs are very much appreciated! Thanks in advance :-)

[2018-06-15 09:29] #59 closed

[2018-06-15 09:30] #57 closed

[2018-06-15 09:59] mneuhaus opened #63 "Documentation extremely slow"
Hey, thanks for creating such an awesome fileupload library!

is there any chance, that you move the Documentation to github or somehwere else?
Currently the Documentation takes 15s to respond, which is a bit annoying, if you want to look up something :joy:

[2018-06-15 10:03] rikschennink commented on #63
Hi!

The docs GH repository is available here:
https://github.com/pqina/filepond-docs

The docs website is super fast from where I'm viewing it, it's a static site and I've set it up behind Cloudflare so it should serve it fairly quickly around the world. I'm no expert so maybe I missed something. Is it possible that this is a connection issue?

[2018-06-15 11:03] mneuhaus commented on #63
ok, pretty weird, seems like my provider is doing some shitty stuff :/

This really looks quite ok:
![](http://img.mia3.com//?i=ZGuCq9SIXHA5AJq3.png)

but with my provider it's more like this:
![](http://img.mia3.com//?i=Y0GRnX0s6Wlkcv69.png)

my connection speed itself isn't the culprit either:

![](http://img.mia3.com//?i=ib4e7QUgcUun6jxP.png)

so, this does not seem to be something you can fix,

[2018-06-15 11:03] #63 closed

[2018-06-15 11:14] rikschennink commented on #63
Hm strange, thanks for sharing. I might be able to improve the time to first byte ( which is a bit high ) but other than that it should be quite fast.

[2018-06-18 12:53] rikschennink commented on #60
@aitorllj93 I'm not sure what's going on. I just tested with 5 local files, adding a new file correctly runs the `process` method. Do you have a public test case?

[2018-06-18 21:54] kylefox opened #64 "Filename incorrectly parsed from Content-Disposition header"
First of all — awesome plugin 👍

We use Amazon S3 for file storage, and the `Content-Disposition` header includes both the `filename` and [`filename*`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition#Directives) directives:

[code]

Which displays like so in FilePond:

![image](https://user-images.githubusercontent.com/37838/41562725-b4841392-730a-11e8-9f00-2eb4302f8d

[2018-06-18 22:11] kylefox commented on #33
Any updates on this, or anything I can do to help?

Our app deals with a lot of video (online courses), and it's simply not feasible to download the existing files for FilePond 😢

I think it would be cool to have something like the [`poster` attribute](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video#attr-poster) that allows the user to specify an image URL to load into FilePond for

[2018-06-19 08:36] rikschennink commented on #33
@kylefox I'm looking into it now, the poster/preview thing I'll leave out ( for now ), but it should be relatively "easy" to at least add a stub file with filename and size.

[2018-06-19 09:07] enisdenjo opened #65 "Set files metadata through FilePond.create"
Hey its me again! 😄

I have another enhancement request. All files which go through my FilePond implementation have a `payload` which is essentially the file `metadata`. This `metadata` lives alongside the file ALWAYS and it provides some extra information which changes the way the file is displayed.

It would be really nice if I could set the `metadata` of the file through the instance creation w

[2018-06-19 09:48] rikschennink commented on #65
Thanks for the suggestion, I'm currently working on issue #33, this is something I'll add immediately as it's indeed vital for building continuous client/server experience.

[2018-06-19 10:28] enisdenjo commented on #65
Sweet! You know it. 😄

As I am digging deeper in filepond, I also realised that I would find `file-info` view very helpful.

Can you maybe do the same thing you did with the `file-status` but for `file-info` for the next release? (I wan't to display addition information next to the filename).

[2018-06-19 11:25] enisdenjo opened #66 "File not renamed on restore as of 1.7.4"
Hey,

I have found a bug. When restoring a temporary uploaded file, the filename is not updated using the `Content-Disposition` header. The item filename stays at the unique server ID.

This bug appears in version `1.7.4`, downgrading to `1.7.3` solves the issue.

[2018-06-19 11:35] rikschennink commented on #65
Just published version `1.8.0`, secretly added the `createView` filter in file-info. Now updating docs and plugins.

Release info:
https://twitter.com/rikschennink/status/1009036630307540993

[2018-06-19 11:36] rikschennink commented on #33
Just published version `1.8.0`. Now updating docs and plugins.

Release info:
https://twitter.com/rikschennink/status/1009036630307540993

[2018-06-19 11:42] rikschennink commented on #66
Can you post the header?

[2018-06-19 12:00] enisdenjo commented on #66
Restore header: `content-disposition: inline; filename=invoice_sample.pdf`

[2018-06-19 12:01] enisdenjo commented on #65
Wow, you are amazing! Thanks. 😄

[2018-06-19 12:02] enisdenjo commented on #66
I see your change, it should be: `content-disposition: inline; filename="invoice_sample.pdf"` _notice the quotes_. Right?

[2018-06-19 12:04] rikschennink commented on #66
Yes, as far as I can tell it should have quotes. More information on the Content-Disposition header:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition

[2018-06-19 12:06] rikschennink commented on #65
My pleasure!

[2018-06-19 12:06] #65 closed

[2018-06-19 12:07] enisdenjo commented on #66
My fault.

Everything (from 1.8.0) is working great again!

[2018-06-19 12:08] enisdenjo commented on #65
I can confirm that both: setting `metadata` and the exposed `file-info` work nice.

[2018-06-19 12:10] rikschennink commented on #66
Fantastic :-) Thanks for the update.

[2018-06-19 12:29] rikschennink commented on #64
Will close for now. If not resolved, I'll re-open.

[2018-06-19 12:29] #64 closed

[2018-06-19 12:29] enisdenjo commented on #66
I used your server reference to build my server, so that might be the case. 😅

[2018-06-19 12:36] rikschennink commented on #66
Hah :) Wooops 🙃

[2018-06-19 12:36] #66 closed

[2018-06-19 17:14] kylefox commented on #64
Works perfectly 👍Thanks for the quick response!

[2018-06-19 17:48] rikschennink commented on #33
100% agreed.

The file info is also useful for updating the view early on (before the same info is retrieved from the server). While it's possible to leave out the file property I agree that it would be easier to have a property to turn it on or off.

I'm still figuring out how this combines with a `poster` / `preview` property. I'm currently leaning towards a separate 'poster' plugin as the poste

[2018-06-19 17:59] kylefox commented on #33
Makes sense! I see now why it's more complicated how loading & previewing are tied together.

Would the image preview and poster plugins be compatible with one another? 🤔

[2018-06-20 08:43] rikschennink commented on #33
The new version of the image preview plugin I published yesterday checks if the item contains an actual file. So if that’s the case only the poster plugin can pick it up. Should be okay, but might be some surprises along the way ;-)

[2018-06-20 08:47] rikschennink commented on #62
I understand, I’m trying to get this done ASAP but it’s not the only thing on my plate. I’d rather not have pull request than have pull requests I can’t review, judging from the issue quality so far a simple entry in the readme would not be enough.

[2018-06-20 14:52] johnnyasantoss opened #67 "Bug in drag and drop inside a $mdDialog from AngularJS"
Hello!

I've been using this awesome lib for a few time now, and I found a bug when the FilePond elements are inside a component (from AngularJS, I think that this happens because of a shadow root created for this dialog).

Turns out that the element returned by the function `getRootNode` ([here][error1]) doesn't have an implementation of `elementFromPoint` used [here][error] and the drag and drop

[2018-06-20 14:58] johnnyasantoss commented on #67
My console log:

[code]

[2018-06-20 15:24] skayablars opened #68 "Add base64 to File instance"
Problem: Right now the base64 string of a file (while using the encoded plugin) can only be obtained searching the document for the name-id hidden input, it will be easier if this base64 string is returned in the File instance.

Solution: (?) When the encoded plugin is available after the add file method is finish mutate the File instance allowing the exposure of the base64 string.

Reason: It wil

[2018-06-20 18:57] johnnyasantoss commented on #68
Wouldn't a customized `process` handler solve your issue?
It passes as parameter the original file instance.
See: https://pqina.nl/filepond/docs/patterns/api/server/#process-1
https://developer.mozilla.org/en-US/docs/Web/API/File/File
https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL

[2018-06-21 05:58] rikschennink commented on #68
@skayablars As the base64 strings can get quite large and I didn't want to consume a lot of memory unwanted ( I assume that is what will happen when having potentially megabytes of data in separate locations ) I only store them in the DOM itself.

Why is it more common nowadays to use base64 strings? Why are you not updating your server with the actual file objects?

[2018-06-21 11:36] enisdenjo opened #69 "FilePond performance degrades for every file item"
Hey hey,

this is another **enhancement** request. Essentially using FilePond on an average device and uploading 15+ items immediately causes a heavy frame drop! We can either: have a property `enableAnimations` which would disable the animations completely; disable the animations automatically when received N+ items; or virtualize the items.

The first 2 options are self-explanatory, but regardin

[2018-06-21 11:46] rikschennink commented on #69
Hi Denis,

Some questions as FilePond already heavily optimizes for render performance.

- What device specifically are you testing on?
- Does the problem occur on a blank page ( to make sure no other script is interfering )?
- Does the problem occur without any plugins loaded?
- On which browsers did you test this?
- And is the problem the same on all browsers?

[2018-06-21 12:20] enisdenjo commented on #69
Hey @rikschennink,

So I just stress tested your own FilePond instance on https://pqina.nl/filepond/. And I saw a different result! The problem causing the performance bottleneck is in MY custom plugin or the implementation, I must've missed some re-flow causing JS calls... Sorry again, I'll report back soon once I find out what is causing the problem exactly.

You can close this issue!

My bad! 😭

[2018-06-21 12:43] rikschennink commented on #69
No problem @enisdenjo, be careful to do DOM reads in a read function and writes in a write function. It's a bit finicky but results in very smooth performance.

[2018-06-21 12:43] #69 closed

[2018-06-22 10:12] kevduggan opened #70 "when adding a blob, blob name is ignored and current date used as name instead"
I am added a Blob using the addFile function. the name of the file then gets set to the current date.
<img width="468" alt="screen shot 2018-06-22 at 11 09 48" src="https://user-images.githubusercontent.com/3285939/41771368-d24fc074-760c-11e8-8032-5fd2d504229e.png">

there doesn't appear to be any way of over-ridding this behaviour (I am using the blob method in IE11 as adding a File object not wo

[2018-06-22 10:19] rikschennink commented on #70
FilePond tests if it's an instance of `File` or `Blob`, you can turn a Blob into a file using the following method:

[code]

This might not work on older browsers, I'll see if I can adjust the logic so it tests for `name` and only sets the `name` and `lastModifiedDate` automatically if they're missing.

[2018-06-22 14:43] David-Melo commented on #32
@chewtoys https://gist.github.com/David-Melo/4b36e969b9cfcda8f065156e056ddaab

I just set this up for use with feathers.js which is based on express.

[2018-06-22 15:05] skayablars opened #71 "Feature: Add changelog to filepond repositories."
Hi,

I notice the filepond repositories are updated, it will be useful to have a changelog with at least the breaking changes and new features.

[2018-06-25 06:48] rikschennink commented on #71
Just added a [changelog](https://github.com/pqina/filepond/blob/master/CHANGELOG.md)

[2018-06-25 06:48] #71 closed

[2018-06-25 07:30] rikschennink commented on #60
Will close for now.

[2018-06-25 07:30] #60 closed

[2018-06-25 11:53] rikschennink commented on #67
Just published version `1.8.1`, should be fixed, haven't been able to test it though. Can you confirm if it is fixed?

[2018-06-25 11:53] rikschennink commented on #70
Just published version 1.8.1, should work now. Please confirm.

[2018-06-25 14:04] rikschennink commented on #67
Fantastic, thanks for confirming @johnnyasantoss

[2018-06-26 13:43] #70 closed

[2018-06-26 15:00] Carmezim commented on #60
I'm also having trouble uploading multiple files on Vue with `allow-multiple` set to `true`.

[2018-06-26 17:30] rikschennink commented on #60
@Carmezim That's so weird.

Some questions:
- Does renaming to `allowMultiple` do anything?
- Are you using Vue-CLI?
- Can you create a public test case?
- Does it only happen when setting the `files` array?

[2018-06-27 08:41] kevduggan commented on #70
works like a dream @rikschennink. Thanks a million!

[2018-06-27 10:10] rikschennink commented on #70
@kevduggan Fabulous! Thanks for confirming. :-)

[2018-06-28 00:11] kylefox commented on #33
Works nicely 👍

It might be good to document the difference between `options.file` and `options.metadata` — I'm still not quite sure I understand how they are different, and the implications of providing (or omitting) those objects.

Again, great work!

[2018-06-28 06:05] rikschennink commented on #33
I'll add some more info in the future.

In short:

- `file` is the info used by FilePond to render the file item info. If the `file` object is set, FilePond will note load the remote file.

- `metadata` is generic data that can be added to a file using the `setMetadata` method (crop information, custom data, etc.). The `metadata` property outlines the initial `metadata` object for that file (which

[2018-06-28 06:15] rikschennink commented on #33
Will close the issue as the core feature has been added.

I've added the `load` boolean to the roadmap.

[2018-06-28 06:15] #33 closed

[2018-06-28 06:16] rikschennink commented on #27
The feature is on the [backlog](https://wip.chat/products/191/pending), the request is pretty clear, so I'll close the issue.

[2018-06-28 07:37] gkf442573575 opened #72 "Server Process Onload"
Server response in process onload, I return a `res.fiid`, but the value in file input is 'undefined'

This is my Server Options

[code]

[2018-06-28 10:28] rikschennink commented on #72
Try this:

[code]

[2018-06-28 11:28] rikschennink commented on #72
Just published version `1.8.4` which should fix this without using the solution posted above.

[2018-06-28 11:49] Crisis2010 opened #73 "Broken allow-multiple in versions 1.8.2 and above"
Hello! Today I updated filepond to version 1.8.3 and encountered a problem. Allow-multiple parametr does not work any more
I teseted all versions from 1.8.0 to 1.8.5 (newest at this time) and problem starts from 1.8.2

I also use vue-filepond 2.1.3, maybe problem is there...

But, also i have problem with css styles, the back of the plugin panel is very narrow and does not change at all when addin

[2018-06-28 12:40] rikschennink commented on #73
What was the previous version you were running?

[2018-06-28 12:52] Crisis2010 commented on #73
I started using your plugin about a couple of days ago, so version was 1.8.0 or 1.8.1, don't remember
And multiple files was ok, but problem with styles was from the beginning

[2018-06-28 12:57] rikschennink commented on #73
Might be a collision with other styles, do you have a public test case?

I'm looking into the other problem, it seems the changes to option inheritance in version 1.8.2 somehow impact the Vue adapter.

[2018-06-28 13:11] Crisis2010 commented on #73
No, these is no collapse with other styles, looks like it cannot hook container with background, because there is no style="height: 81px" etc, like in demo

Probably

[2018-06-28 13:38] rikschennink commented on #73
The `allowMultiple` problem is now fixed in version `1.8.5` of FilePond. I just published version `2.1.5` of the Vue adapter so installing that should resolve the problem.

Concerning the style issue. Do you experience the same problem in a clean HTML page without any other scripts or styles?

[2018-06-28 13:39] rikschennink commented on #60
@Carmezim I've just uploaded a new version of FilePond which will probably fix the issue in Vue

[2018-06-28 17:49] rikschennink commented on #73
The only thing I can think of is that it overwrites a global variable or JavaScript feature that FilePond relies on. I can only test this if I can view the generated source, better yet, look at a public test case.

[2018-06-29 05:52] rikschennink commented on #72
Will close this for now.

[2018-06-29 05:52] #72 closed

[2018-06-29 05:53] rikschennink commented on #73
Will close the issue as the original problem has been resolved and we're now looking into interactions between Laracast and FilePond.

[2018-06-29 05:53] #73 closed

[2018-07-01 09:34] rikschennink commented on #51
Added this to the roadmap so will close for now.

[2018-07-01 09:34] #51 closed

[2018-07-01 18:07] DesWurstes opened #74 "Replace the arrow with a cross"
What really confuses me is that my instincts look for a cross to remove an item, but it's an arrow.

![screenshot_2018-07-01 easy file uploading with javascript filepond](https://user-images.githubusercontent.com/23437045/42137294-955cc1c2-7d72-11e8-81bd-c248a8b02d4c.png)

I'd be more comfortable if it was (shadow is a mistake):

![screenshot_2018-07-01 easy file uploading with javascript filepond

[2018-07-02 06:33] rikschennink commented on #74
I agree that when `instantUpload` is set to `true` it's probably more intuitive if the icon is a cross and the text says `"tap to remove"` instead of `"tap to undo"`. I'll add this to the roadmap.

In the mean time, you can [change the icons](https://pqina.nl/filepond/docs/patterns/api/style/#changing-icons) using FilePond instance properties.

For some very nice looking items, take a look at [Fea

[2018-07-03 08:18] LostKobrakai opened #75 "Global plugins"
It seems plugins are globally registered, so I'm wondering how I could get a filepond instance with image preview and one without working in the same script.

[2018-07-03 08:20] rikschennink commented on #75
You can set `allowImagePreview` to `false` on the instance you don't want to have previews.

[2018-07-03 08:29] LostKobrakai commented on #75
Ah, that works, thanks.

[2018-07-03 08:29] #75 closed

[2018-07-04 06:05] keha94 opened #76 "Add base64 file error"
Using the addFile method on the filepond instance to add a base64 image is returning an error.
`getDateString is not defined`

Looked into the filepond.js code - and found `var getDateString$1 = function getDateString()`

But at line 3473 `data[0] = source.name || getDateString();` - the reference here does not have the '$1' in the function name - which I believe is causing the undefined error.

I

[2018-07-04 08:19] rikschennink commented on #76
Thanks for the detailed error report, will look into this later today!

[2018-07-04 12:22] keha94 commented on #76
Thanks for the prompt fix, however I'm actually using vue-filepond which is currently dependent on `1.8.5`.

Any chance you can update the filepond dependency to latest on that?

[2018-07-04 12:55] rikschennink commented on #76
Done!

[2018-07-04 12:55] #76 closed

[2018-07-08 15:27] yukyolol opened #77 "How to upload to uploadcare?"
Hello, after message to this awesome file uploader, he told me to post there.

Actually, I'm using this for upload to uploadcare server, which works:
[code]

And I was trying to get the progress bar of the upload, after asking to Rik, he told me better not use addfile for upload instead server.

But after checking server I have even more doubts...

This is the uploadcare rest doc: https://uploadca

[2018-07-08 17:20] rikschennink commented on #77
Please don't use the addfile callback to do the actual uploading, FilePond has all sorts of optimizations to handle uploads as smoothly as possible. Also, plugins are set up to modify files before they are sent to the `process` method so you won't be able to use them in the setup above.

There's a generic `url` param on the server property to set a base URL, you can then use paths in the `process`

[2018-07-08 17:21] yukyolol commented on #77
Hey @rikschennink Thanks!! Just you answered when I edited the post. Please check again, there are some new things.

[2018-07-08 18:40] rikschennink commented on #77
@yukyolol That's currently not possible without writing a custom processing method.

[code]

[2018-07-08 23:36] yukyolol commented on #77
And for some reason that code throwing me syntax error

[2018-07-10 08:14] rikschennink commented on #77
The snippet I posted is an example from the docs, you'll have to complete it. I'm planning to update the docs with a working custom implementation soon.

I don't have any experience with uploadcare but by looking at the docs I would suspect the custom process funciton would look something like this:

[code]

[2018-07-10 20:04] taras96 opened #78 "rename of instantUpload option"
Hello!
I suggest rename _`instantUpload`_ option (Immidiately upload new files) to **`autoUpload`**, and set this option by default to **false**

[2018-07-11 20:24] sandro-pasquali opened #79 "upload not storing id; can't delete w/ id"
### Summary
`<hidden>` field not being populated with uniqid returned from server on upload

### How to reproduce
See implementation below

### Expected behaviour
after upload `<hidden>` field has value="uniqid"

### Additional information
Express server, using multer.

| Environment  | Version
|------------- | -----------
| OS           | MacOS High Sierra
| Browser      | Chrome latest

Hi, usin

[2018-07-12 06:54] rikschennink commented on #79
Hi, I just tested on my local environment to be sure but it seems to store the server response just fine. If the above is how you've configured the server it should function correctly. Can you see the server response and the returned unique id in your chrome dev tools network tab?

[2018-07-12 07:05] #77 closed

[2018-07-12 12:31] KevinCocquyt39 opened #80 "Multiple upload with encoding only posts one file"
### Summary

It seems only 1 file is uploaded after using the encode-plugin, whilst I selected 2 files.

### How to reproduce

[code]

### Expected behaviour

The JSON string that was posted only contains an object with 1 file in there. I would expect a JSON array notation with 2 files.

### Additional information

Processing the JSON string is done using .NET MVC. I receive the posted data as a s

[2018-07-12 13:12] rikschennink commented on #80
Does setting the name to `"filepond[]"` fix this?

[2018-07-12 14:58] KevinCocquyt39 commented on #80
Hi. Thanks for the quick reply. I tried that, using a closed issue as inspiration, but I've got the same result unfortunately. The input element looks like this...

[code]

But after the post, it only shows 1 file and the hidden field contains the following after the upload of the 2 files (also, logically, containing the 1 json object).

[code]

[2018-07-12 15:00] rikschennink commented on #80
Alright thanks, will look into this further tomorrow morning

[2018-07-13 06:55] rikschennink commented on #80
I've just run a quick test, it seems to work on my local development environment where I test against a scotch box PHP server.

FilePond creates two hidden inputs, one for each file, each with the name of the original input element `"filepond[]"`, values are set correctly, see below with two small text files.

![screen shot 2018-07-13 at 08 49 06](https://user-images.githubusercontent.com/1132575/

[2018-07-13 15:04] kylefox opened #81 "Have hidden input with empty state when no files added."
Is there a way to directly modify the hidden input?

Here's my use case:

Our FilePond is part of an AJAX form that saves other data (ex: title, body, image_id). The user can upload an image and pressed "Save", which will submit the data `image_id="1234"`.

However, if they now remove (i.e. _revert_) that file, the hidden `image_id` input is removed from the DOM. If "Save" is pressed, there is no

[2018-07-16 06:48] rikschennink commented on #81
I think it would be better to add the element outside of the FilePond root element, just to be on the safe side.

Added this to my todo list as well as it should indeed have an empty state.

[2018-07-16 08:35] KevinCocquyt39 commented on #80
You're completely correct. I must have missed the second hidden field (thinking it would have been a JSON array instead of 2 separate objects). Passing those to .NET is easy as the receiving model contains a List<string> property, meaning both objects will be passed to the server where I can use the JSON library to deserialize the objects into a dto and continue from there.

Sorry for wasting your

[2018-07-16 08:35] #80 closed

[2018-07-16 08:37] rikschennink commented on #80
No problem @KevinCocquyt39, glad to hear it's working and good to know that this setup is easy to link to .Net as well.

[2018-07-16 15:30] KevinCocquyt39 opened #82 "Support for IE11?"
### Summary

There is no support in IE11 for the file uploader. Are there any plans for support or would it need a polyfill or a suggested fix/fork/pull request?

### How to reproduce

When loading the page with FilePond, a javascript error occurs... "Object doesn't support this action".

### Additional information

It has to do with IE not knowing the method "document.dispatchEvent()".

| Environ

[2018-07-17 06:09] rikschennink commented on #82
Hi! Adding the [FilePond Polyfill](https://github.com/pqina/filepond-polyfill) files should fix the issue

[2018-07-17 07:06] #79 closed

[2018-07-17 19:06] afaraha8403 opened #83 "Uncaught TypeError: Cannot read property 'querySelectorAll' of null"
Hello fellow developer!

I am trying to build a Filepond plugin for a platform I am using bubble.is  Everything is going well, the element is rendered and works great  it uploads and does everything it supposes
But I keep getting this error in the console when it is first initialized.

[code]

which points to this line in the filepond.js
[code]

I create the element using an ID that is passed like

[2018-07-17 19:48] rikschennink commented on #83
Hi! That's odd, it seems that the `parse` method is called without a parameter.
Are you sure you're not calling `FilePond.parse()` somewhere?

[2018-07-18 08:15] KevinCocquyt39 commented on #82
As I was driving home, I thought to myself, I should have RTFM a little bit better before opening a new issue. Browser support is idd mentioned in the docs and I should have seen it. Thanks again for your patience and making the README even better.

Maybe something to mention... For IE, there is no support for Promises which made me also add a polyfill like es6-promise (https://github.com/stefanpe

[2018-07-18 12:56] ronaldohoch opened #84 "Locale options?"
Hello! Thank you for this AWESOME plugin, I have a question:

![image](https://user-images.githubusercontent.com/2287371/42883017-c2e38eb8-8a70-11e8-914e-9691d0746150.png)
![image](https://user-images.githubusercontent.com/2287371/42883102-fec37dda-8a70-11e8-8883-1a8edf5ea3a7.png)

How can I change this labels, can you provide a Locale object to us?

[2018-07-18 17:37] rikschennink commented on #84
See the [labels](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#labels) entry in the docs for translation and customization options.

[2018-07-18 17:37] #84 closed

[2018-07-19 05:06] afaraha8403 commented on #83
Hey @rikschennink

Thanks for getting back to me.  I have just gone through the whole code and couldn't find `FilePond.parse()` anywhere

For your information, this is the code I am passing

[code]

[2018-07-19 06:10] rikschennink commented on #82
Haha, no worries @KevinCocquyt39, and good idea to mention Promises as well!

[2018-07-19 13:43] floriansemm opened #85 "Filepond ignores server config"
We are using Filepond together with Symfony4. When a image was uploaded and the form was submitted with an error, then filepond ignores the server config. Filepond tries to call the default `restore` endpoint, which does not exists in our application and is not configured (see below).

[code]

It seems like that filepond uses the default config if an the input-field contains a Id attribute.

[2018-07-19 14:05] rikschennink commented on #85
What happens when the form is submitted with an error? Does the page reload?

If I understand correctly when you remove the `id` attribute it does pick-up the new configuration on server error?

[2018-07-19 15:47] floriansemm commented on #85
Yes it is a page reload. It has no effect if I remove the ID attribute.

In our form the `images` field from above is not a file-input it is a hidden-input.

[2018-07-19 17:14] rikschennink commented on #85
Can you try if the problem is the same with a file input, using something else is not tested and supported.

[2018-07-19 18:18] #83 closed

[2018-07-20 22:44] jernjennlondon opened #86 "(Solved) - SharePoint REST integration"
Trying to upgrade a file uploader I built a while back for a SharePoint site using jquery and the file API.

I currently run a little function to create my directory inside the site which can be run off the onOnce addfile event listener with now problems. I would love to take my file upload buffer and replace it with filepond.

Right now I pass in a multiple input tag and for each item in the file

[2018-07-21 07:33] rikschennink commented on #86
I think you can basically place the $.ajax method inside the custom `process` handler. But the method receives a file object and not an ArrayBuffer, I don't know if you can configure Sharepoint to accept that?

[code]

[2018-07-23 18:21] pmkroeker opened #87 "allowMultiple does not show file upload progress"
### Summary
When I set `allowMultiple` to `true`, the upload status bar for each file does not show.

...

### How to reproduce
Set `allowMultiple` to `true` in `FilePond.create()` method. When multiple files are then loaded (either via drag and  drop or by explorer window), the upload progress bar does not show for any of the files.

...

### Expected behaviour
I would expect each file to have it

[2018-07-23 18:30] pmkroeker commented on #87
It was a CSS Issue, now resolved.

[2018-07-23 18:30] #87 closed

[2018-07-24 02:35] jernjennlondon commented on #86
Thank you Rik! I was able to put together a great working copy! upgraded our front end UI a ton, ended up converting the file object to a FormData and passed it through the ajax request.

Only problem I'm having now is to track how many bytes have been sent in comparison to the file size. Any suggestions?

So far I can see it working up to the totalSize, but wondering what to put for the processed

[2018-07-24 07:42] rikschennink commented on #86
Fantastic! It seems jQuery does not have standard support for the `progress` event.

Apparently it can be added using the `xhr` property.

[code]

Please note that for a `GET` request the `onprogress` handler needs to be added to the `xhr` object directly and for a `POST` request it's set to the `xhr.upload` property.

[code]

[2018-07-24 19:56] jernjennlondon commented on #86
Rik, You rock! was playing with this and got it fine tuned, thank you again for the help and quick replies

Final progress event code for POST ajax call:
[code]
Looking forward to seeing the updates and using this tool as much as I can.

[2018-07-25 04:52] rikschennink commented on #86
Glad to hear it’s working! Will close the issue.

[2018-07-25 04:52] #86 closed

[2018-07-25 12:36] ricky11 opened #88 "Can i use this in .vue files without using the vue-filepond package?"
### Summary
The following script doesn't bind to the input element

const inputElement = document.querySelector('input');
const pond = FilePond.create(inputElement);
According to the DOCS the input element will be replaced with <div class="filepond--root">...</div>
But It doesn't get replaced.

### How to reproduce
Using a .vue create the code below:
`
<input type="file">

<script>
import * as Fil

[2018-07-25 12:38] ricky11 commented on #88
Sorry i am not sure why my code isn't being see here, i did surround them with backticks

[2018-07-27 05:04] rikschennink commented on #88
I would advice against this as you’d have to add most of the code that is in the Vue adapter yourself. Why not use the adapter?

Will close this issue as it’s related to Vue implementation details and not a FilePond bug/problem.

[2018-07-27 05:04] #88 closed

[2018-07-28 11:05] yukyolol commented on #77
Hello, the file is uploaded but the loading bar it stucks on "Uploading".

[code]

This is how Uploadcare handles loading bar:
[code]

So I've tried this:
[code]

But didn't worked.

Any idea?
Thanks.

[2018-07-28 15:40] yukyolol opened #89 "Add close button after upload."
Hello, is possible to add "close" button after success upload?

https://puu.sh/B4BtG/1c711e55b9.png

Like tap to close. I disabled undo action because I don't want it. But now I can't close a file after upload.

Thanks.

[2018-07-28 23:57] yukyolol opened #90 "Plugins (FilepondPluginFileValidateType and FilepondPluginFileValidateType) not working!"
Hello, I've noticed those two plugins are not working for me.

[code]

[code]

I'm getting one of those errors (random):
FilepondPluginImageValidateSize is not defined
FilepondPluginFileValidateType is not defined
FilepondPluginImageValidateSize is not defined

[2018-07-31 06:53] boyukbas commented on #90
I am using FileValidateType plugin and it is working

If there is a problem, you should check others I guess.

[2018-07-31 15:32] JakeHenshall opened #91 "WordPress Integration"
Hi,

Is there any way to override or Integrate Filepond into the WordPress Media Uploads.

A point in the right direction would be great.

Thanks, Jake.

[2018-07-31 18:30] #85 closed

[2018-08-01 06:11] rikschennink commented on #91
Hi Jake, If WordPress exposes an api to upload files it shouldn’t be a problem to set up a custom processing method (see FilePond advanced server docs) to integrate with WP.

[2018-08-01 20:31] oalejos opened #92 "Empty temporary files after upload"
Hello!

I've been trying to integrate filepond in a WEB page that I'm building up. I have used the filepond PHP boilerplate as a starting point for development. However, although files are apparently uploaded (from the point of view of the WEB browser user, since the message 'upload complete' appears), the files stored in the tmp folder of the server are completely empty.

I must admit that I'm a

[2018-08-02 11:11] yukyolol commented on #90
To me is still giving the error: Can you please try using the other plugins at the same time?

Thanks.

[2018-08-02 17:09] oalejos commented on #92
Hi, again!
Thank you for your quick response and your assistance . As you have correctly deduced, temporary files are created, but all are empty (0KB).
Although my web hosting service doesn't provide with logs, I could find a workaround to get one, so please find it attached. I'll also try to figure out what is wrong with the upload procedure.
[error.log](https://github.com/pqina/filepond/files/22

[2018-08-03 06:46] rikschennink commented on #92
I guess it’s trying to save to a folder that is not allowed or does not have the correct rights assigned? I would advice to do some google searches on this and see what comes up.

[2018-08-03 10:58] oalejos commented on #92
Yes, I've come to the same conclusion. I have contacted with my provider to get access to the open_basedir directive, or if they can suggest any workaround.
Thank you again.

[2018-08-03 11:45] rikschennink commented on #92
I think the default location the script tries to write to is a sub directory tmp. It’s possible that you might have to change this to the actual temp file upload directory the provider exposes.

[2018-08-03 18:34] oalejos commented on #92
I agree with you. Apparently, the problem was related to the location of such a temporary folder.
In any case, I've got through to the provider. They might have altered any configuration, since things seems to be properly working now.
Let me congratulate you on the good quality of the filepond libraries, and thank you again for your assistance.
Greetings!

[2018-08-04 07:09] rikschennink commented on #92
Thanks! I very much appreciate the feedback :-) Good luck with your project!

[2018-08-04 07:09] #92 closed

[2018-08-04 14:35] jdriesen opened #93 "Small Typo in FilePond Server Docu"
### Summary
Small typo in the documentation for [FilePond Server](https://pqina.nl/filepond/docs/patterns/api/server/)

### How to reproduce
Just take a look on the URL mentioned above (halfway the page)

### Expected behavior
mmm ... it would be nice if it could be corrected in the docu :)
Will protect other developers from confusion ...

### Additional information
In the docu, you're using a mix

[2018-08-05 10:47] rikschennink commented on #93
Thanks Johnny! Just updated the docs.

[2018-08-05 10:47] #93 closed

[2018-08-05 12:00] rikschennink commented on #90
@yukyolol It's `FilePond` not `Filepond`, I just checked the docs, and it seems the error originates from there, will update in a minute.

[2018-08-05 12:00] #90 closed

[2018-08-05 12:11] rikschennink commented on #89
This should do it:

- Set `instantUpload` to `true`
- Set the `iconUndo` property to a SVG depicting a cross
- Set `labelTapToUndo` to `'tap to remove'`
- Disable the revert fuction

[code]

[2018-08-05 12:11] #89 closed

[2018-08-05 12:59] yukyolol commented on #90
Ah, I see. Yeah, I took from the documentation. Thanks, @rikschennink much appreciated.

[2018-08-06 10:55] rikschennink commented on #74
Now available in version `2.0.0`, text remains `"tap to undo"` but icon is automatically replaced with a cross (the icon set to remove button).

[2018-08-06 10:55] #74 closed

[2018-08-06 11:11] DesWurstes commented on #74
Nice, thanks!

[2018-08-07 16:11] hmalaud opened #94 "Total maximum file size wrong calculation"
### Summary
When setting `maxTotalFileSize` to a specific size, uploads get stopped by an error before the limit is reached.
...

### How to reproduce
Set `maxTotalFileSize` to 30MB, upload files (e.g. https://www.thinkbroadband.com/download).
Live version on codepen: https://codepen.io/bigjohnbigd/pen/EpdPWv (tried with HTML attribute and option in Javascript Object)
Upload 10MB zip : ✔️ OK
Uploa

[2018-08-08 08:51] hmalaud commented on #94
Wow, that was fast! Thanks for the fix, it seems to be working :) I'll let you know by tomorrow if I run into other issues, or would you rather me to close the issue right away?

PS: I have a minor problem with installing your module with rollup as an ES module, but didn't want to make an issue out of it since it seems it's mostly rollup having problems with babelHelpers, are you interested in an

[2018-08-08 09:07] rikschennink commented on #94
@hmalaud Fantastic :-) If you feel like it's working, then please close it, we can open it again something is wrong.

Please add an issue, would be nice if you can add an example set up so I can reproduce it quickly, happy to assist.

[2018-08-09 03:02] stack-its opened #95 "Custom Processing Method"
Ok, if I'm just trying to submit a file object to my backend using ajax.  FYI - I'm running jquery plugin too.  You suggested setting up a custom processing method.  If I have the following code so far, I'm still shaky on a few things:

1) Seeing an error from 'FilePond:addfile' when browsing/dropping a file in:
<img width="764" alt="202" src="https://user-images.githubusercontent.com/1207542/4387

[2018-08-09 07:40] hmalaud opened #96 "Image Preview not showing when error"
### Summary
When uploading an image that exceeds the max total file size, the preview thumbnail is not generated.
In case of multiple uploads, when removing previous files, errored images are not updated and are still considered as errors.
...

### How to reproduce
Register FilePondPluginImagePreview and FilePondPluginFileValidateSize plugins
Create pond with max-total-file-size="2MB"
Upload 1MB i

[2018-08-09 12:49] rikschennink commented on #96
If an image is invalid whether it's invalid because the image itself is not suitable or the total file size is exceeded it is not loaded. Therefore the image data is not available for the image preview to load.

Some error messages like the total file size exceeded error message are currently shown on the item that exceeds the limit. This I feel can be improved as the error in this situation conce

[2018-08-09 13:05] rikschennink commented on #95
Hi

1. When listening for events you only receive the event object, so in this case you're logging the event object and not an error.

2. A function or reference to function is fine.

3. It is passed to your custom processing method as the second argument, you can also use the `getFile` method on your FilePond instance (see [docs](https://pqina.nl/filepond/docs/patterns/frameworks/jquery/) on how

[2018-08-09 19:55] stack-its commented on #95
Ok, Updated code, but still not getting things to work:  Remember, you told me not to use FileEncode Plugin.  **InputNameTag** is undefined & **file.filename** is undefined - not an object

I tried putting fpUpload inside of on('FilePond:addfile') w/ & w/o variables but still nothing, etc.
It's my understanding that all these variables are auto-generated once a file is browsed/dropped.  I need som

[2018-08-10 06:59] rikschennink commented on #95
You need to set the fpUpload method to the server.process property. Best to read the documentation carefully.

[code]

[2018-08-10 12:54] peterbrinck opened #97 "Resize single image while maintaining the size of others"
Hi!

How do I resize a single image, while maintaining the original size of the other images?

I'm using the `image-resize` plugin, but as far as I can see, it can only resize all images.
I want to be able to pick an image to resize

[2018-08-10 13:04] rikschennink commented on #97
Hi, This is not possible, it will either resize all images or none. You'd have to create two separate drop areas.

[2018-08-10 13:05] peterbrinck commented on #97
Hmm... Okay

Thank you for the quick answer

[2018-08-10 14:52] #97 closed

[2018-08-10 21:48] stack-its commented on #95
Ok, I added that server setting.
Notice metadata is blank.  When I look at array values added to my imgData = new FormData() I see 'File' (notice Uppercase).  But when I look at log of imgData, it's empty, I think.
<img width="416" alt="204" src="https://user-images.githubusercontent.com/1207542/43982456-97bfc08c-9cbb-11e8-9a97-011fd4b58870.png">

Here's the code that's generating that:

[code]

[2018-08-13 08:02] peterbrinck opened #98 "Create a custom button?"
Hi!

How do I add a custom button, like the cross to remove a single file, or the upload button?
If it's at all possible?

[2018-08-13 08:31] #91 closed

[2018-08-13 08:31] #96 closed

[2018-08-13 18:52] cngeru opened #99 "How To Load the CSS"
{
        test: /\.css$/,
        loader: "style-loader!css-loader",
      },
How come the loaders can load the css???

[2018-08-13 18:55] #99 closed

[2018-08-13 21:38] akadop opened #100 "Integration with S3"
Hello,

Thanks for all your work on this awesome library. It's really my favorite of all the available image uploaders here.

I'm having trouble getting the image to correctly upload to S3, though. I've written a custom onProcess function (in react) -- and tried both the encoded and regular transfers. The node server has `multiparty` and is looking out for the multipart request, and I am actually

[2018-08-13 22:27] stack-its commented on #95
Ok, I removed the headers stuff.  I was wondering if I could just add key/value pairs to my obj_data, sim. to the line I commented out above in function fpUpload ?

Also, I realized I didn't have my inputs wrapped in a form tag w/ enctype="multipart/form-data" method="post", so did that.  But now the Browse text doesn't work.  I did have an unbind called on my wrapping span, but not working now.

[2018-08-14 06:18] rikschennink commented on #100
Glad to hear that!

There are some S3 example implementations to be found in this thread:
https://github.com/pqina/filepond/issues/55

[2018-08-14 06:27] rikschennink commented on #95
You can, you don't have to use the `metadata` value, it's there for your convenience, you can do whatever you want in the processing method.

The form won't be multipart as uploads are done async. Sounds like a tag that's not closed properly.

[2018-08-14 21:50] stack-its commented on #95
Sigh... I don't know what's wrong w/ the CODE !  I need help w/ the code.

Typical html generated before browse/drop for file:
[code]
I discovered clicking on Browse wasn't working because of some styling.  I changed it to this to move it up & get it above other elements, so at least the browse window shows up now.
[code]

JS is now this (**File never reaches fpUpload function & Preview image neve

[2018-08-15 07:25] #100 closed

[2018-08-15 07:36] rikschennink commented on #95
I've created a Codepen that works, maybe you can use it as a starting point:
https://codepen.io/rikschennink/pen/XBwpNM?editors=1011

[2018-08-16 11:19] samjmckenzie opened #101 "Hover animation stops working properly when using transform on container element"
### Summary

When styling the parent container element of a FilePond element, the hover animation on the FilePond element stops functioning as intended. The circle will appear in the wrong position depending on how the container element is transformed.

### How to reproduce

Create a `div` with the style property `transform: translateX(10%)` or any transform function that either changes the size o

[2018-08-16 17:42] rikschennink commented on #101
Thanks for the detailed error report @samjmckenzie, super helpful, I'll probably be able to pick this up next week.

[2018-08-16 19:02] samjmckenzie commented on #101
I'll add that in my use case, it's not the direct parent of the FilePond element that has the `transform` style property. The FilePond element is actually a secend-level child of the element that has been transformed. It was actually being used to center the element (`left: 50%; transform: translateX(-50%);`), but I will be replacing it with a flexbox alternative anyway since it's better practice.

[2018-08-17 05:55] #95 closed

[2018-08-17 13:33] lekoala opened #102 "How to have links in filename?"
Hi!

I'd like to have a clickable link or icon on the file so that it's possible to view or download the uploaded file (mostly for already uploaded files).

It seems html is escaped (but I didn't investigate much). Some kind of clickable icon next to the name would be perfect (I know there is the poster/preview plugin, but that's not quite what I want to do).

Do you have any idea how I can achiev

[2018-08-17 23:15] samjmckenzie opened #103 "Custom revert handler is being called with serverId file property as first argument instead of uniqueFileId"
### Summary

The custom revert handler in the server property of the options seems to be getting called with the `serverId` property of the file instead of a `uniqueFileId` (is the `uniqueFileId` just the `id` property of a file?).

### How to reproduce

[code]

### Expected behaviour

Expected behaviour is for `uniqueFileId` to actually be a unique identifier, not the same "Created" string for ea

[2018-08-18 22:35] stack-its opened #104 "Multiple Inputs on the Page"
Hi Rik,

Making good progress now - preview loads now.  I will have multiple fileponds on the page.
I have moved the registerPlugins outside of any main functions.

If I generated the Drop/Browse prompt on first input - the preview loads.  If I then generate the prompt on a second input, the first input shows this error:

<img width="510" alt="206" src="https://user-images.githubusercontent.com/12

[2018-08-19 06:50] rikschennink commented on #104
I’m not sure what you mean with

[2018-08-19 12:03] samjmckenzie commented on #103
Alright, I must have misunderstood the documentation then. 👍

[2018-08-19 12:03] #103 closed

[2018-08-19 13:53] dima19972525 opened #105 "iconProcess doesn't work"
Hi, i want to change process icon, but when i try it remains the same, other icons change.
` render() {

        const { allowMultiply, maxFiles, server, t } = this.props;
        return (
            <Panel
                className="panel-default"
                title={ 'FILE' }

                <div>
                    <FilePond allowMultiple={allowMultiply} maxFiles={maxFiles} server={server

[2018-08-19 17:15] stack-its commented on #104
When I click on an image, a script builds the inputs & then does the file cloud call which creates file pond's Drop/Browse prompt, i.e. 'Drag & Drop File or Browse'

[2018-08-19 17:34] rikschennink commented on #105
The processing progress indicator is a dynamically animated SVG and can't be replaced. The `iconProcess` refers to the up arrow used to manually start a file upload.

[2018-08-19 17:36] rikschennink commented on #104
I'm not sure why it's throwing an error or what's happening, I do know that there are multiple FilePond instances running on the FilePond product page. The issue might be related to shared variables between functions or other code problems, I doubt it's in FilePond itself.

[2018-08-20 06:47] #105 closed

[2018-08-20 06:47] y-za opened #106 "CSS Crash with Buefy UI"
Hallo,

this is nice library, but i found css crash with Buefy UI 😭

![](https://2.bp.blogspot.com/-0QsjcohUE3g/W3pjRNpDwpI/AAAAAAAAADQ/zMHQzIoc8JsQiK0bET7OnO4HJDwyDoJgwCLcBGAs/s1600/Image%2B40.png)

can anyone helpme 😔

[2018-08-20 07:15] rikschennink commented on #106
I think indeed there might be a some style collisions but I'm also wondering if you've linked up the image preview CSS? If you didn't, can you do so and then post a new screenshot? A public test case would also be useful.

[2018-08-20 08:08] y-za commented on #106
thx u, in this case i using Buefy v0.6.6
this is my css list

![](https://3.bp.blogspot.com/-GKCdFpL_vb4/W3pyx_PiozI/AAAAAAAAADk/bdPtLLDMveopTFmhf_b2lurgfvyLCaA-gCLcBGAs/s1600/Image%2B43.png)

i'm just clear my browser cache, and now work but how to fill this space?
![](https://4.bp.blogspot.com/-0GGlbadJYbw/W3pyH2WrKgI/AAAAAAAAADc/_GugLcwwDAEPr7eYauJ0jPiSE64K4-9AQCLcBGAs/s1600/Image%2B42.png)

[2018-08-20 08:11] rikschennink commented on #106
I think something like this should fix it:

[code]

[2018-08-20 09:15] y-za commented on #106
this is no effect
[code]
i just added this code for remove unordered lists from Buefy UI
[code]
and finally i set the margin like this, in my case this look little bit better 😅

![](https://2.bp.blogspot.com/-kJcCJVLnyhE/W3qAZyZpSMI/AAAAAAAAAD8/KTVAtYF6a1sIew4L3u_A8WYYTspGxjBbgCLcBGAs/s1600/Image%2B45.png)

[2018-08-20 10:52] rikschennink commented on #106
Okay, well, if you have a public test case I can look into it further. I would advise to inspect the elements (list, item and file-wrapper) and see if any margins or paddings are overruled, you can then specifically revert those.

[2018-08-20 10:52] #106 closed

[2018-08-21 06:14] #102 closed

[2018-08-21 20:59] yukyolol opened #107 "Clear input after upload successful."
Hello, my Filepond is working perfectly.

I'm wondering how to clean files after uploading.
As I have Multi-upload enabled ideally I want to remove the selected file after every upload instead of all the files in the input.

Tried all these options:
[code]
and lot more jquery/js methods anyone worked.

Then tried to use:
`pond.removeFile();`

Tried all:
[code]

Nothing.
Any idea?

Where I'm using

[2018-08-22 07:06] rikschennink commented on #107
You can add a onprocessfile callback (see docs) and then remove the file in that function.

[2018-08-22 07:06] #107 closed

[2018-08-22 07:15] rikschennink commented on #95
As you’re using a custom processing method that depends on your implementation, if you create a formdata object and append the file to it in the correct way (there’s some tutorials on this online) and post using jQuery Ajax then it should be sent as a file object and end up in the FILES array.

[2018-08-22 20:57] stack-its commented on #95
I think the file in fpUpload function is not a standard js file object & thus can't be uploaded as a file object using normal methods.  I've tried using this code in the function to get the normal file object dropped/browsed to, but still no success - maybe if you provide some code to interface w/ your plugin.

[code]

[2018-08-23 05:38] rikschennink commented on #95
The custom processing method receives a plain file object. The `getFile` method returns a file item, the `file` property of the file item is a plain file object.

[2018-08-23 07:47] #104 closed

[2018-08-23 14:36] yukyolol opened #108 "insertAfter how to?"
Hello, I know this is not a bug or something it's just I don't know where to place the insertAfter and how to do it.

Actually, I have a problem that my uploader loads before an element that has some dynamic values, and my uploader is having empty values.

So I think inserAfter should solve this problem right?
Or there's any "action" to "refresh" the Ffilepond and re-read again the properties?

If

[2018-08-23 17:05] yukyolol commented on #108
Hello, I've noticed also when any dynamic value changes I.e: file size, it keeps stuck on the old value. How I can force a refresh?

Thanks.

[2018-08-23 17:30] rikschennink commented on #108
I’m not sure what you mean with both comments can you try to provide a test case or improve the example code?

[2018-08-23 17:35] yukyolol commented on #108
My question is quite simple, sorry if you didn't understand.

I have everything working pretty well, I'm using dynamic fields to maxsize. When the filepond uploader loads on the page gets the value of that input only when loading first time. When the value of the input changes it stills using the old value.

So my question is, how I can force filepond to update after x input is modified?

Thanks.

[2018-08-23 18:13] rikschennink commented on #108
I’d youre writing this in vanilla JavaScript without using any frameworks you’ll have to listen for changes on your dynamic fields and re-assign the value to filepond properties.

[2018-08-23 22:01] yukyolol commented on #108
So filepond does not have a refresh action to be called to do that?

Something like Filepond.refresh

[2018-08-24 02:14] #108 closed

[2018-08-24 02:17] yukyolol opened #109 "Filepond + Slim?"
Hello, It's possible to use Filepond + Slim?

I have Filepond with cropping plugin but I want to give to the user the ability to drag his own cropping selection.

I saw there pqina has created also an awesome cropping plugin: https://pqina.nl/slim/
https://puu.sh/Bjn63/bdea9900f3.gif
My question is: It's possible to show the button and show the pop-up when the button is pressed.
And replace my cro

[2018-08-24 05:48] rikschennink commented on #108
No, and to be honest I'm not sure what you're looking for, this is basically how JavaScript functions, parameters are [passed by value](https://stackoverflow.com/questions/373419/whats-the-difference-between-passing-by-reference-vs-passing-by-value), see below:

[code]

[2018-08-24 05:52] rikschennink commented on #109
In theory that is possible. You'd have to manually add the edit button to FilePond by writing a custom plugin (the quickest way to do that would be to fork the [image preview plugin](https://github.com/pqina/filepond-plugin-image-preview)).

You can then link up the button click with the Slim cropper.

Please note that I'm currently working on a new image cropper that will integrate with FilePond.

[2018-08-24 05:52] #109 closed

[2018-08-24 11:05] yukyolol commented on #109
Is there any time estimation for this?
So I can wait or try to search for another solution until then

Thank you so much

[2018-08-24 12:16] rikschennink commented on #109
I'm hoping it's done in a couple of months.

[2018-08-25 10:24] leoliu opened #110 "Uncaught TypeError: Cannot read property 'filename' of null"
### Summary

I had something like the following to remove a file after upload succeeded.

[code]

 However I am seeing a crash in production: Uncaught TypeError: Cannot read property 'filename' of null at Object.DID_COMPLETE_ITEM_PROCESSING......

I traced the crash to this code in filepond.js

[code]

UA:

"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66

[2018-08-25 10:59] rikschennink commented on #110
What version of FilePond are you running?

[2018-08-25 12:03] rikschennink commented on #110
Hmm odd, the events should be async, what is happening is that you're removing the file before the process file thread has had time to complete (which of course should not happen). Wrapping the `uploadSucceeded` call in a `setTimeout` should fix this for now.

[code]

[2018-08-25 12:38] leoliu commented on #110
Thanks for the workaround. I'll try it and report back.

I also have a button where users click to upload all files (instantUpload is false). The button click triggers the following function. Could this be the problem (some race issue maybe)?

[code]

[2018-08-25 13:06] leoliu commented on #110
The workaround doesn't work. I am still seeing the same crash.

[2018-08-25 13:29] rikschennink commented on #110
Alright that’s to bad, will take a look at this on Monday and get back to you.

[2018-08-25 13:58] leoliu commented on #110
Sounds good ;) look forward to the fix.

[2018-08-26 02:28] leoliu commented on #110
I found a fix. In the `submit` function above change `this.pond.processFile(file).then(this.uploadSucceeded);` to `this.pond.processFile(file);`.

Looks like some code in filepond doesn't expect the `file` to be removed.

[2018-08-26 09:01] leoliu opened #111 "Confusing progress indicator"
💡 If you want to submit a feature request, go right ahead!

I am using filepond with a small server that often responds slowly. The filepond progress indicator looks confusing. It looks like the progress is on the bytes sent so it quickly reach 100% awaiting server reply to indicate success. In my case there is more than 10 seconds wait between 100% and server reply and the UI provides no visual h

[2018-08-26 09:14] leoliu opened #112 "Access to server error response body on processfile"
I have replaced the upload UI of an existing project with filepond and loved it. I have a request regarding error handling.

When an upload failed the filepond UI has generic error indicator which often doesn't tell much what to do to fix them if fixable. My server may send more informative error messages and I like to get at them handily. Here is what I am doing now:

[code]

which shows a notifi

[2018-08-26 10:43] rikschennink commented on #111
If I understand correctly the bytes match up but after the upload completes the final response is delayed? Is that because the server takes some time to run other processes before returning?

[2018-08-26 10:50] rikschennink commented on #112
The `onerror` handler on the `server.process` property allows you to select the error message from the server response to show in the file item. Is that not what you're looking for?

[2018-08-26 12:37] leoliu commented on #112
@rikschennink,

Thanks for the pointer. I'll finally get the hang of what onerror does that satisfy my needs for now. But if custom error messages can show up on the file items it is much better usability-wise.

Thanks.

[2018-08-26 12:53] leoliu commented on #111
Yes.

I am using filepond to replace an old solution in a project. I need to skip the "limbo" step completely for the server. The server process and store the uploaded files in one go and thus reply is delayed.

[2018-08-26 14:06] leoliu opened #113 "dropOnPage not implemented?"
🐜 If you've found a bug, please use the template below to report it.

I am initialising filepond with `dropOnPage: true` but it doesn't seem to do anything. Is this an oversight?

[2018-08-27 06:03] rikschennink commented on #112
Hi @leoliu just published version `2.1.0` it adds the option to set a function to a label property. The function receives the current error object, based on that you can then decide what to show the user.

[code]

[2018-08-27 06:03] #112 closed

[2018-08-27 06:04] rikschennink commented on #113
You need to set `dropOnElement` to `false` for it to work.

[2018-08-27 06:04] #113 closed

[2018-08-27 06:07] rikschennink commented on #111
It would be better if it switched to the infinite loading state after being at 100% for say a couple of seconds?

[2018-08-27 07:01] leoliu commented on #111
Is it possible to stay loading until server replies? That seems more intuitive. What do you think?

[2018-08-27 07:12] leoliu commented on #112
Hi @rikschennink, I am using 2.1.0 and this new feature is neat. Thanks.

[2018-08-27 07:38] rikschennink commented on #113
That's interesting, I'll add it to my use case.

`dropOnPage` is mostly there to catch everything dropped and prevent the browser from opening dropped images, which is almost always not what you want :-)

[2018-08-27 08:00] rikschennink commented on #101
Just published version `2.1.1` which fixes this issue, thanks again for reporting @samjmckenzie

[2018-08-27 08:00] #101 closed

[2018-08-27 08:01] rikschennink commented on #110
Just published version `2.1.1` which should fix this issue, it adds a tiny delay to the resolve call of `processFile`, not the best solution but it seems to work. Please confirm it resolves the issue.

[2018-08-27 08:11] rikschennink commented on #111
It doesn't know how long that would take, so if it receives progress events it will calculate the progress made so far, slowly going from 0% to 100%, then it'll wait for the server response.

[2018-08-27 08:14] #110 closed

[2018-08-27 09:46] leoliu commented on #111
Maybe you do whatever is best for filepond and I'll test the feature and give you some feedback.

I am getting complaints because the server is not beefy but I am planning to upgrade the server anyways so the situation might not be that bad eventually. Thanks for looking into this.

[2018-08-27 09:58] leoliu commented on #110
Yes, it fixes the issue. Thanks.

[2018-08-27 10:44] rikschennink commented on #111
I've put it on the todo list.

In the meantime, you could write a custom process method to get the intended result.

[2018-08-27 11:37] Konafets opened #114 "Just show default image"
The documentation describes the `files` property to show an initial image, which should be uploaded immediately. Is there a way to just show an image without uploading it?

My usecase is an avatar upload:

1. If the user has not uploaded anything yet, it shows the default empty template.
2. The user uploads an image.
3. Next time the user goes to his profile page, he sees the uploaded image

[2018-08-27 11:42] rikschennink commented on #114
Two options I think:

1. Set the default empty template as a background image on the drop area.

2. Use the [file poster plugin](
https://pqina.nl/filepond/docs/patterns/plugins/file-poster/) and add a stub file.

[2018-08-27 11:59] Konafets commented on #114
Thanks!

[2018-08-27 11:59] #114 closed

[2018-08-30 02:37] leoliu opened #115 "How to prevent dropping files greater than maxFiles?"
I have a UX design issue that I don't know how best to solve. I want to reject dropping files more than `maxFiles` completely i.e. they either all succeed or none does. This is easier for my users to reason about. I have an upload form that has `maxFiles: 36`, so reject partially can be confusing to work with.

[2018-08-30 05:33] rikschennink commented on #115
I think I'll replace the way it currently functions with this solution as it's a lot clearer to the user.

I've added it to the roadmap.

[2018-08-30 06:12] leoliu commented on #115
Excellent and thanks for taking this on.

[2018-09-03 16:54] maverickpravin opened #116 "Strange padding when set max-height of .filepond--root"
Thank you  for this amazing component. I have been using this component in one of my projects and its works like a charm.
My problem is  that when is set the max-height of .filepond--root I see weird padding.
Below are two cases, i have set my max file upload to 5 and max-height to 30em

![1](https://user-images.githubusercontent.com/11708491/44996832-cbf53e80-afc7-11e8-9464-a88feaef7114.PNG)
![2]

[2018-09-04 12:32] rikschennink commented on #116
Hi! Seems to be a bug, the height of the list is not calculated correctly, I'm looking into it now.

[2018-09-04 14:54] rikschennink commented on #115
Publishing `2.0.0` right now, fixes this issue. Turned out to be a bug. Let me know if it works :-)

[2018-09-04 14:54] #115 closed

[2018-09-04 15:27] leoliu commented on #115
Already using `2.2.0` seems working as expected. Thanks.

[2018-09-04 18:31] maverickpravin commented on #116
@rikschennink FYI, I am working with Vuejs. And i used  the same settings like before.
Below is my dependencies of package.json just in case if you suspect about any conflict.
[code]

[2018-09-04 18:44] rikschennink commented on #116
Very odd, do you have a public test case?

[2018-09-04 18:47] maverickpravin commented on #116
@rikschennink Kindly review my  package.json dependencies, i updated the core @2.1.6

[2018-09-06 06:19] rikschennink commented on #116
@maverickpravin I just re-tested on my local dev environment and can no longer reproduce the problem. Kindly supply me with a public test case.

[2018-09-07 18:30] maverickpravin commented on #116
@rikschennink I am afraid to say but the problem persists. I am sure because i updated all my dependencies again.
I will try to reproduce a public case if i get time.

[2018-09-08 15:12] udemethegrtman opened #117 "How do i use it with laravel 5.2"
### Summary

How do i use file pond with laravel 5.2

### How to reproduce

i have tried everyting i can but it is uploading but not going to the folder i ask it to goto.

[2018-09-08 15:37] maverickpravin commented on #116
@rikschennink I could not reproduce a public test case but i have create a fresh vue project with filepond plugin and gave the same error. i tried with same filepond config as before.
you may want to reproduce the on your local machine. i used this official vue boilerplate [https://github.com/vuejs-templates/webpack](url)

![2](https://user-images.githubusercontent.com/11708491/45255827-89a67580-b

[2018-09-09 10:45] rikschennink commented on #117
This sounds like A Laravel configuration issue, the FilePond library only uploads the files, folder and storage should be handled by the server. I'll close this, I advise to search StackOverflow.

[2018-09-09 10:45] #117 closed

[2018-09-09 10:51] rikschennink commented on #116
It looks like you have some custom styling, please disable it and only have the FilePond default styles (+ image preview), I'm interested to know if the problem is the same then.

[2018-09-10 11:14] leoliu opened #118 "Failed to construct 'Worker': Access to the script at 'blob:https...'"
I have `script-src 'self'` in the `content-security-policy` header and found this exception that seems to relate to the preview plugin:

[code]

User agent:

Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.81 Safari/537.36

[2018-09-10 11:32] rikschennink commented on #118
The workers are generated dynamically, can you test if this works:
https://github.com/mapbox/mapbox-gl-js/issues/4062#issuecomment-319702384

[2018-09-10 12:34] leoliu commented on #118
I have to add `blob:` for img-src so yes it will silence the error.

But I am a bit hesitant to add blob: to script-like context since the main purpose of CSP is to prevent XSS. Do you see a way that can solve the issue without requiring a `blob:` in CSP? Thanks.

[2018-09-10 13:19] rikschennink commented on #118
Okay great.

I could only find the following resource on security risk.
https://security.stackexchange.com/questions/190331/is-allowing-blob-in-content-security-policy-a-risk

I don't think it's possible to solve this without extracting worker code from the library, but that would make the library setup process a hassle as every worker would be in its own file. It seems a lot of other libraries al

[2018-09-10 14:51] leoliu commented on #118
Thanks a lot. I'll do that. Feel free to close this.

[2018-09-10 14:54] #118 closed

[2018-09-13 17:16] WifiDubt opened #119 "Delete confirmation & Prevent upload"
Hi!

I'm a Portuguese developer that's currently working with your component in a Vue enviornment.
Before exposing my feature request, I would just like to congratulate you guys on the tool - you did a really great job in terms of design, documentation, user-xp and combining all of them!

As for feature requests, I have 2 - both regarding the server-connected filepond:
1. I would like to have the

[2018-09-13 20:49] 19th commented on #116
Same problem for me - strange bottom.

![image](https://user-images.githubusercontent.com/637672/45514979-9282b700-b7af-11e8-9cd6-3fdd067a8fd0.png)

I am using CSS suggested here: [https://pqina.nl/filepond/docs/patterns/api/style/#limiting-the-height-of-filepond](url)

`.filepond--root {
        height: 255px;
    }`

[2018-09-14 06:18] rikschennink commented on #119
Hi!

Thanks so much for the positive feedback!

1. If I understand correctly `instantUpload` is set to `true`, so files are uploaded on drop. The moment a user taps the remove button there should be a way to intercept this action and show a popup?

2. You can add mock files, see [setting initial files](https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files)

[2018-09-14 06:19] rikschennink commented on #116
Looking into it now.

[2018-09-14 07:51] rikschennink commented on #116
@19th, @maverickpravin I just published version `2.2.1` which should fix this issue🤞

[2018-09-14 17:41] maverickpravin commented on #116
@rikschennink Negative again !
Kindly check my dependencies. i have something more to point out
This case is when i upload multiple images (i have config-ed to 5 at once).
![3](https://user-images.githubusercontent.com/11708491/45565883-b955f180-b872-11e8-9861-3c65ab5368cd.PNG)

I am not sure about this case, but it appeared to me.
![1](https://user-images.githubusercontent.com/11708491/45565884-b

[2018-09-14 18:05] maverickpravin commented on #116
@rikschennink Affirmative..it works !!

[2018-09-14 18:06] #116 closed

[2018-09-16 13:06] nordbit opened #120 "How to set formdata field name?"
My api consumes only data with this kind of structure:
{member: {avatar: file}}

In dropzonejs I can set:
paramName: 'avatar[file]'
Is there an option similar to dropzonejs "paramName"?

[2018-09-17 05:59] yoldar opened #121 "How to only compress image without resizing it?"
Hi! Thank you for that great upload plugin!

Is it possible to compress the image without resizing it? I mean only to compress? Because as I understood compression happens only when these attributes are set:
[code]

[2018-09-17 06:46] rikschennink commented on #120
I'm looking at the Dropzone docs, the `paramName` property basically sets the `name` attribute of the input field (which defaults to `'file'`).

[code]

With FilePond you have the same option but the property is named `name` and is automatically copied from the file input element if one is used as a base.

So this will work:

[code]

Or when using JavaScript options

[code]

[2018-09-17 07:01] rikschennink commented on #121
If you omit the resize or crop plugin and only have the quality parameter set it should compress as well.

[code]

See this related thread:
https://github.com/pqina/filepond-plugin-image-transform/issues/1

[2018-09-17 08:50] #121 closed

[2018-09-17 09:02] yoldar opened #122 "Is that possible to get image dimension size in metadata object of process function?"
Is it possible to get image dimension size in metadata object of process function?

I saw that image size validation check size of image but if would cool to get image dimension from metadata.

[2018-09-17 11:06] yoldar commented on #122
Made small plugin :)
https://github.com/yoldar/filepond-plugin-image-size-metadata

[2018-09-17 11:06] #122 closed

[2018-09-17 12:03] rikschennink commented on #122
Awesome! Super nice :D

[2018-09-17 12:56] WifiDubt commented on #119
Thanks for the help on the 2nd question.

About the first, yes, that's it.
I don't know if it makes sense for you guys to add the popup confirmation
itself to the component. If not, maybe just a "beforeDelete" function,
through which we can prevent or trigger the deletion itself?

Rik <notifications@github.com> escreveu no dia sexta, 14/09/2018 à(s) 07:19:

--
Cumprimentos,
Filipe Lopes.

[2018-09-17 14:08] rikschennink commented on #119
I'll probably add an `onbeforedelete` callback or something, will update the issue when it's done!

[2018-09-17 15:54] nordbit commented on #120
Heah, i'm slightly slow and can't get concept from docs.

For now my api got empty params form filepound generated by:
[code]
And effect after uploading,  from server side:
`%{"file" => "{}"}`

Filepound is wrapped only around input file field.
How to implement aroud whole form with input file field and send all data form.
[code]

[2018-09-17 17:01] rikschennink commented on #120
FilePond only handles the file input field.

I think you have to alter the file input name to `avatar[file]`.

[code]

[2018-09-19 22:08] nordbit commented on #120
I found in chrome console:

[code]

Second request is rewriting first data, and I have no idea why filepond is sending file input field twice.
I think this is a reason why my api endpoint can't get binary file.

`%{"image" => %{"file" => "{}"}}`

and after plug encode plugin:

[code]

and my api endpoint:
`%{"image" => %{"file" => "{\"base64\":\"/9j/4Q1jRXhpZgAATU0AKgAAAAgABwESAAMAAAABA and more
`

[2018-09-20 06:19] rikschennink commented on #120
It sends both the `file` object and the file item `metadata`. When using a PHP backend the file ends up in the $_FILES array and the metadata ends up in the $_POST array. Is this something you can configure with your backend API? I'm happy to look into it but I could not determine the server from the code snippet.

[2018-09-21 12:24] dannycallaghan opened #124 "Ability to throw FilePond error?"
Firstly, thank you for FilePond - it's awesome.

Is there a way I can throw a FilePond error?

In my app, after a successful file upload, I POST the details to an API endpoint. If, for some reason, that POST fails, I'd love to be able to show the fault within FilePond, so that everything is contained with the beautiful FilePond UI.

Something like:

[code]
Is anything like this possible?

Thanks i

[2018-09-21 14:27] nordbit commented on #120
Unfortunately I can not change my api code. It depends from other two modules, not maintained by me. They expect a specific data structure.
In dropzonejs I can specify single file form upload and trigger POST with every single form/file individually.
I'm closing for now, I see it is a api structure issue not filepond.
Thank You for colabaration.

[2018-09-21 14:27] #120 closed

[2018-09-21 14:46] rikschennink commented on #124
Hi @dannycallaghan!

That's currently not possible without writing a custom processing method. You could then do the two upload steps in a single go and handle the error states gracefully as well.

[2018-09-21 14:51] dannycallaghan commented on #124
Thanks for the quick response @rikschennink

Fair enough, thanks for the confirmation. I'll try and put something together.

[2018-09-21 14:57] rikschennink commented on #124
I've written a quick outline of a custom processing method, haven't tested it thoroughly but this is basically it.

There's more info to be found here:
https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects

And some information on the server config in the FilePond docs:
https://pqina.nl/filepond/docs/patterns/api/server/#advanced

[code]

[2018-09-21 14:59] rikschennink commented on #120
Alright, then I think you could opt for a custom processing method.

This is a quick outline of a custom processing method, haven't tested it thoroughly but this is basically it.

There's more info to be found here:
https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects

And some information on the server config in the FilePond docs:
https://pqina.nl/filepond/docs/pattern

[2018-09-21 15:09] dannycallaghan commented on #124
Wow, awesome stuff @rikschennink. Thanks for this, leaving the office now, but will give it a go as soon as.

Cheers.

[2018-09-23 15:16] lukey78 opened #125 "React: populating initial files issue // load via server"
### Summary

Setting initial files with the `files` property on `<FilePond>` instance seems to have no effect. Is this correct?

Setting initial files with `<File>` children works like this:
[code]

But:

If I remove the file (via GUI) and/or add new files, FilePond tries to load the newly uploaded files with the **load** method. But the newly uploaded files were only transferred temporarily, so t

[2018-09-24 17:32] rikschennink commented on #119
Just published version `2.3.0` which adds the `beforeRemoveFile` hook.

Also updated docs:
https://pqina.nl/filepond/docs/patterns/api/filepond-instance/

[2018-09-24 17:32] #119 closed

[2018-09-25 08:36] rikschennink commented on #125
The initial files list will be preloaded by FilePond as long as the file data is not stubbed. Using the `origin` property you can inform FilePond where the files are located on the server, `local` (for uploaded files) or `limbo` (for temp files).

I just tested to be sure, but if I drop new files they are added normally and not routed through the `server.load` endpoint.

Maybe I'm misunderstanding

[2018-09-25 08:37] #124 closed

[2018-09-25 14:20] WifiDubt commented on #119
Thank you so much! :)

Rik <notifications@github.com> escreveu no dia segunda, 24/09/2018 à(s)
18:32:

--
Cumprimentos,
Filipe Lopes.

[2018-09-25 20:08] lukey78 commented on #125
I'm sorry, the problem was not in FilePond, but in my wrapping component using Formik. Formik tried to rerender the FilePond field several times upon image removal, and that caused the component to misbehave. I fixed that by implementing a shouldComponentUpdate => return false function.

[2018-09-25 20:08] #125 closed

[2018-09-26 06:02] rikschennink commented on #125
@lukey78 Alright! Thanks for the updated :)

[2018-09-29 20:39] nordbit commented on #120
Yes, your solution work.
Thank You for help.

[2018-10-02 12:16] nam-co opened #127 "Help with jQuery and encode"
Hi, thanks for the excellent script, I was wondering if you could help mee, Im trying to send the images as base64 on submit, but Im always getting a filepond = null on post submit, what am I doing wrong?

Appreciate any help, thanks

plugins used: encode, resize and preview

`<input type="file" class="comment_photos" name="filepond[]" multiple data-max-file-size="8MB" data-max-files="5" accept="i

[2018-10-02 12:17] yukyolol opened #128 "Is Filepond down?"
Hello, is Filepond down? Everything was working correctly until today.
When the page loads sometimes it doesn't load correctly the uploader or when uploading something no matters what server I'm selecting the uploader keeps rolling the loader and nothing happens.

I'm running the version 3.0.1
I don't see any errors in my code, and I didn't changed anything. The last change was done 2 months ago,

[2018-10-02 12:30] rikschennink commented on #128
Have you also updates the plug-ins?

I’m not sure what you mean with “down”, the product site seems to function as intended.

[2018-10-02 12:34] yukyolol commented on #128
This is what i'm using:
[code]

And:

[code]

Does the code changed syntax or something? That I need to update my code?

[2018-10-02 12:36] rikschennink commented on #127
Is the `filepond = null` a server error?

Can you see the base64 encoded data in the hidden input fields created by FilePond?

Please note that big files might cause a browser to crash, in this case, a single 8MB file is probably enough to bring a mobile browser to its knees.

[2018-10-02 12:46] nam-co commented on #127
thanks @rikschennink , null is the post request output
[code]

I see this being generated with each image:
<input type="hidden" name="filepond[]" value="">

[2018-10-02 12:47] rikschennink commented on #128
There are some changes to crop data format so that might be it?

I would advice to lock to a certain version, instead of auto getting the latest version. You can specify the version in the unpkg url.

[2018-10-02 12:47] nam-co commented on #127
the file is just 1MB, but question: how do we handle uploads from phones for example, where every image is big on megapixels

[2018-10-02 12:48] rikschennink commented on #127
Then I think it’s either too much data (try with a really small file), or you’re server function is expecting file objects?

[2018-10-02 12:48] yukyolol commented on #128
I'm planning to use the image editor and remove the old CROP plugin. Will remove now the crop from the code and I will see if the uploader reacts.

Could you give me the locked link to the CURRENT version now? So I can lock the uploader to this current version after replacing the crop.

Thanks.

[2018-10-02 12:50] rikschennink commented on #127
Either resize the image on the client using the image transform plugin or upload the data async (set server property).

Unfortunately this is a browser limitation so there’s no work-around.

[2018-10-02 12:52] nam-co commented on #127
yes, the server (Laravel) is expended to just var_dump all request info and files

I also tried with a 6k image, same thing
I haven't install yet the "transform" or "resize" plugins, but I was expecting that the "encode" plugin will send the image data

[2018-10-02 12:53] rikschennink commented on #128
I’m currently on my phone as my main workstation is updating to Mojave :-)

You can check https://unpkg.com/ how to format the url. Check what the latest version is on GitHub and use that.

It’s somehing like:
https://unpkg.com/filepond@3.0.1/dist/filepond.min.js

[2018-10-02 12:56] rikschennink commented on #127
It sends text data (base64 encoded files), so I think that might be the problem.

If you’re going to be sending big files I would go the async route. Set the server property to the location of your backend and it should automatically post actual file objects to your server, the server should then return a unique file Id (this then gets posted to the server along with the rest of the form so you kn

[2018-10-02 13:02] yukyolol commented on #128
Okay thank you, will check it no worries.
One more question, before I remove the old CROP from my code. My plan is to add the new live edit image, but in the doc i don't see the way to register the plugin:

Like this:
[code]
Thanks.

[2018-10-02 13:03] nam-co commented on #127
It sends text data (base64 encoded files), so I think that might be the problem.
yes, but is not sending the code for small images, so Im definitely doing something wrong on the code

[2018-10-02 13:06] rikschennink commented on #128
You can add it to the end of the list. FilePondPluginImageEdit, the file is available in the product page, so you can’t get it from a CDN but will have to upload it to your own server and link it.

It should be in the docs but I see now that I’ve forgotten to add the registerPlugin statement, the other part, script and style embed, of the manual installation section is correct though:
https://pqin

[2018-10-02 13:08] rikschennink commented on #127
Alright, will try to setup a quick jQuery example when my laptop is done installing the latest version of MacOS 🙃

[2018-10-02 13:09] yukyolol commented on #128
Perfect, before this new changes what was the past version? That is using the OLD crop settings, and has no changes on the code?

Want to keep both versions :dancer:

[2018-10-02 13:17] rikschennink commented on #128
I think you can set it up like this, with the `^2` to automatically select the previous version:
https://unpkg.com/filepond@^2/dist/filepond.min.js

You can see the latest versions and when they were released in this list:
https://www.npmjs.com/search?q=filepond

So that's 2 for:
- filepond-plugin-image-transform
- filepond-plugin-image-preview
- filepond-plugin-image-resize

And 1 for:
- filepond

[2018-10-02 13:33] yukyolol commented on #128
Thanks @rikschennink,
I tried with older versions and nothing, when using older version the uploader looks weird and stills not working:
https://imgur.com/a/k1WTeeU

Is there any way to send you my code privately and you can may check if there's any other changes?

Thanks.

[2018-10-02 13:46] rikschennink commented on #128
Hmm is it possible that the browser might have cached the old CSS files? Have you tried clearing the cache?

If that doesn’t work you can send them to info@pqina.nl

[2018-10-02 13:58] nam-co commented on #127
Thanks a lot @rikschennink , your very helpful :)

[2018-10-02 14:45] yukyolol commented on #128
How I can see the plugins older versions?? I believe the problem is that.
What's the correct link to the older version that was using as max 29 august 2018?

[code]

[2018-10-02 15:04] rikschennink commented on #128
See this reply for the version numbers:
https://github.com/pqina/filepond/issues/128#issuecomment-426269833

You don’t need the specific version, just the major version, add like this: `^2`

[2018-10-02 15:12] yukyolol commented on #128
Also for the plugins? Like this:
<link href="https://unpkg.com/filepond-plugin-image-preview^2/dist/filepond-plugin-image-preview.css" rel="stylesheet">
<script src="https://unpkg.com/filepond-plugin-image-preview^2/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-exif-orientation^2/dist/filepond-plugin-image-exif-orientation.js"></script>
<scri

[2018-10-02 17:35] rikschennink commented on #128
You forgot the `@` and not all plugins should be at version 2.0, just successfully tested the following should work:

[code]

[2018-10-02 18:03] rikschennink commented on #127
This snippet correctly populates the hidden input fields generated by FilePond, when the parent form is submitted the data is correctly sent to the server.

[code]

<img width="638" alt="screenshot 2018-10-02 at 19 57 35" src="https://user-images.githubusercontent.com/1132575/46367377-abc7a680-c67d-11e8-8041-60df702d983a.png">

This is the Chrome network tab showing the POST:

<img width="741" alt

[2018-10-03 00:34] #128 closed

[2018-10-03 13:19] fabianPas opened #129 "Vue and FilePond styling issue"
### Summary

I've been using FilePond in my backend application since a few days. I first used FilePond without any adapter which worked perfectly including the FilePreviewPlugin. As I'm using Laravel I wanted to implement FilePond using Vue.js and after implementation the styling showed a few errors as can be seen [here](https://imgur.com/a/QCddVAZ).

The file preview is not centered and the butt

[2018-10-03 13:29] rikschennink commented on #129
Hi!

Are you using the [vue-filepond](https://github.com/pqina/vue-filepond) adapter?

With version 3.0.0 of FilePond some styles have been updated, are you sure you have version 3.0.0 CSS files and have cleared the browser cache?

[2018-10-03 13:31] fabianPas commented on #129
I am using the vue-filepond adapter with the following CSS files in my view:

[code]

I've emptied the cache without results. I'm developing with caching disabled, so it shouldn't be a problem.

[2018-10-03 13:38] rikschennink commented on #129
I think because the FilePond dependency within the adapter has not yet been updated but you're using the unpk url's you're mixing versions.

This should install the latest version of FilePond.
[code]

[2018-10-03 13:44] fabianPas commented on #129
I've run the `npm install` command but nothing has changed. Am I supposed to use the CSS files from the `dist` directory instead of the `unpkg.com` urls?

[2018-10-03 13:47] rikschennink commented on #129
Either that or lock the unpkg.com urls to an earlier major version.

[code]

[2018-10-03 13:51] fabianPas commented on #129
Using the locks you provided the remove button is back at it's position, the preview image is still not centered. Also, using the CSS files from the `dist` directory does not seem to fix the issues described.

[2018-10-03 14:07] rikschennink commented on #129
Are you using version 2.x of FilePond or 3.x?

[2018-10-03 14:12] fabianPas commented on #129
You got me there. I forgot to revert the npm packages to 2.x. It works with 2.x now! But can we confirm there is something weird going on using Filepond 3.x?

[2018-10-03 14:27] rikschennink commented on #129
Fantastic!

I'll test the vue-filepond adapter with v3 in the coming days. Will update here.

[2018-10-04 10:29] rikschennink commented on #129
Package has been updated to v3

[2018-10-04 10:29] #129 closed

[2018-10-04 21:09] leandroruel opened #130 "the plugin is very good, the docs sucks"
i'm trying to upload with filepond, but the docs are very bad on pointing me to a direction

[2018-10-05 03:32] leoliu opened #131 "Uncaught (in promise) TypeError: Cannot read property 'flip' of undefined"
I have every dep updated to the latest and observed this crash with filepond 3.0.2 and its plugins.

[code]

[2018-10-05 06:50] ipoj commented on #131
I also found this same problem last night when upload image. my package.json include

[code]

[2018-10-05 06:54] rikschennink commented on #131
I think installing the `filepond-plugin-image-crop` plugin should fix this temporarily (no need to set a crop aspect ratio).

I'm working on a fix in the mean time.

[2018-10-05 07:19] rikschennink commented on #131
Just published version `3.0.1` which should fix this issue. Please let me know if it does.

[2018-10-05 07:59] leoliu commented on #131
Thanks, that fixes the issue for me.

[2018-10-05 08:36] #131 closed

[2018-10-06 02:01] ravindra4me opened #132 "How to upload file as octet stream instead of multipart form data ?"
My server doesn't support multipart form data processing, it accepts octetstreams only. How to configure filepond so that it uses binary octet stream upload only instead of multipart form data ?

[2018-10-06 03:09] ravindra4me commented on #132
Nevermind, this can be closed now. i modified the filepond.js by change xhr upload script.

[2018-10-06 03:09] #132 closed

[2018-10-06 11:55] rikschennink commented on #130
Hi!

I'm very much open to constructive criticism on the product, I'm however not open to the generic bashing of said product.

You could've added something of value to this issue (like what specifically in the docs you didn't understand, where did you get stuck?), that would've allowed me to help you out. You choose to ignore the issue template and stopped adding value to the issue after generica

[2018-10-06 11:55] #130 closed

[2018-10-06 21:39] nam-co commented on #127
Thanks a lot @rikschennink , I will try it

[2018-10-07 16:54] nam-co commented on #127
Hi @rikschennink sorry to be a pain in the ..., but I could not get it working, I really don't know what's wrong, I put the file online, maybe you have some time and know the answer

sorry to bother you so much

[2018-10-08 00:01] nam-co commented on #127
Thanks @rikschennink , if you press submit you can see the request data

[2018-10-08 05:32] rikschennink commented on #132
As far as I can tell by quickly searching online the only requirement is an additional request header.

You can add these in the server configuration object.

[code]

[2018-10-08 06:34] rikschennink commented on #127
@nam-co Found the problem, the 2.x version of the FileEncode plugin is only compatible with the latest version of FilePond (3.x). So you either have to update FilePond and the Image Preview plugin or you have to downgrade the FileEncode plugin and install the latest 1.x version.

[2018-10-08 06:34] #127 closed

[2018-10-08 10:05] enisdenjo opened #133 "filepond container not scrollable"
### Summary

Unable to scroll when there are more items then the height of the `filepond--root`.

### How to reproduce

Set `max-height` on the `filepond--root`, upload more items than the height of the container.

### Expected behaviour

Scroll the container.

### Actual behaviour

Items go outside the container and are not scrollable.

### Environment

Filepond version: `3.0.2`

[2018-10-08 16:01] pryley opened #134 "Display images previews in a grid"
It would really be nice if Filepond allowed you out-of-the-box to display image previews in a grid (left-to-right, flex) instead of top to bottom.

[2018-10-08 16:36] rikschennink commented on #134
@pryley fully agree! I have some ideas about this, but at the moment it's quite the undertaking, when I'm done with the [Image Editor plugin](https://pqina.nl/filepond/image-editor.html) I'm moving on to these kinds of improvements.

[2018-10-08 16:37] rikschennink commented on #133
Hi, haven't tested yet, but before I before I do a quick question, have you updated both the JS and CSS of FilePond and related plugins?

[2018-10-08 18:19] wwarne commented on #120
Thank you @rikschennink
I am learning React and was trying to upload images to a backend powered by Ruby on Rails. The second part of request with file metadata ( with {} ) was rewriting the first one with actual data.
And your solution just saved me! Thanks you a lot!

[2018-10-08 18:57] enisdenjo commented on #133
I did. I use Filepond as a module from npm.

[code]

[2018-10-08 18:57] nam-co commented on #127
![97174-youre-the-best-around-gif-imgu-k4l9](https://user-images.githubusercontent.com/3951529/46628088-1a838480-cb02-11e8-9347-16ea66220edf.gif)

thanks a lot

[2018-10-08 20:21] rikschennink commented on #133
Thanks for confirming @enisdenjo will get back to you as soon as possible.

[2018-10-09 04:57] glennpenridge opened #135 "IE11 - XMLHttpRequest hangs indefinitely"
Hi there, I'd like to submit a bug regarding IE11 XHR support for FilePond. I've included a fix for the bug as well. (At least, the bug that appears on my system.)

I am using FilePond 3.0.2.

### Summary

When FilePond prepares a POST request in IE11, the request hangs indefinitely.  It never fires a network request at all.

### How to Reproduce
**NB:** I know the steps for repro are for React, b

[2018-10-09 05:43] glennpenridge opened #136 "IE11 - "Assignment to read-only properties is not allowed in strict mode""
Hi there, I'd like to submit a bug regarding IE11 support for FilePond. Again, I've included a fix for the bug as well.

I am using FilePond 3.0.2.

### Summary

When the `applyStyles` method is called, IE throws an error that blocks FilePond from being able to render style changes:

[code]

The issue occurs in `filepond.js` at line 1023: `element.currentStyle = styles;`

### How to reproduce

**N

[2018-10-09 06:38] rikschennink commented on #135
Thanks for the high-detail bug report @glennpenridge , super helpfull for fixing the issue.

[2018-10-09 06:40] rikschennink commented on #136
Seems I might have cut too many corners adding previous speed improvements :-) Will fix this one tomorrow morning as well. Thanks again for the detailed report!

[2018-10-09 08:46] glennpenridge commented on #135
Thanks mate!

[2018-10-09 08:47] glennpenridge commented on #136
Cheers!

[2018-10-09 11:03] enisdenjo opened #137 "When `allowMultiple` is disabled, display error when dropping multiple files"
This is a **feature** request.

Filepond with `allowMultiple=false` displays no error at all if multiple items are drag-and-dropped. They just disappear without any feedback.

The user will end up blaming the app, or writing support tickets; instead of noticing that they can drag-and-drop only one file.

[2018-10-09 11:12] rikschennink commented on #137
Good point, I've been meaning to introduce some generic visual error state but haven't gotten around to it. A good start would be to at least communicate the error state via callback so a custom error message can be shown.

[2018-10-09 12:20] #135 closed

[2018-10-09 13:05] rikschennink commented on #133
@enisdenjo I just quickly tested this in Chrome but it seems to work correctly, did you have this problem in another browser maybe?

[2018-10-09 13:07] rikschennink commented on #133
Okay, as I hit submit on the above message the bug jumps right at me.

[2018-10-09 13:55] enisdenjo commented on #133
I am on Chrome too, the latest one. So you've caught the bug? 😄

[2018-10-10 04:28] glennpenridge opened #138 "iOS 8.3/8.4: ReferenceError: Can't find variable: performance"
Hi @rikschennink, got another bug for you. :)

(This one was spat out of Rollbar from a client session, and I've been able to replicate using BrowserStack and test devices.)

### Summary

Using `performance` causes a blocking crash preventing further script execution on iOS.

### How to Reproduce

**NB:** As per #135/#136, I know the steps for repro are for React, but the wrapper uses the core Fil

[2018-10-10 10:11] glennpenridge commented on #138
My apologies; I missed that part of the documentation.

Thank you for the suggested fix. I appreciate it.

[2018-10-10 10:15] rikschennink commented on #138
No problem @glennpenridge!

[2018-10-10 11:59] chiex opened #139 "How to get the unknown file type using filepond"
Is there a way to get the file type of Uncommon file extensions using filepond?

Thank you

[2018-10-10 12:37] rikschennink commented on #139
Please don't double post.

[2018-10-10 12:37] #139 closed

[2018-10-10 15:08] jdriesen opened #140 "Validating Excel Files"
### Summary
It seems that Filepond uses the file MIME types to check for valid filetypes.
Which I like a lot !

I'm using
[code]

This works PERFECTLY, as long as the MIME-type (content type) for the file is filled in...

Though, it seems, that certain versions of MSOffice (Excel) are NOT filling in the MIME-type of an Excel file. (*******)
See attachment.

(*******) It seems that in these particu

[2018-10-10 16:42] rikschennink commented on #140
You’re in luck!

I’ve published a new version of the file validation plugin this afternoon and it allows setting a custom file type detector function (see docs).

You can use this method to test if the default analysis resulted in an empty string and if so you can then return a correct mime type. Either by basing it on the file extension or for instance actually reading the file data with FileRead

[2018-10-10 17:28] jdriesen commented on #140
PS... You're saying "see docs" ...
Are you talking about the online docs at https://pqina.nl/filepond/docs/patterns/plugins/file-validate-type/ ?
(don't see anything related with "custom filetype detector", that's why I'm asking)

Thanks in advance for your replu.

Grtz,
Johnny

[2018-10-10 18:02] jdriesen commented on #140
Found the docu...
Thought not yet 100% clear to me how to use it...
(sorry) ...

[2018-10-10 18:08] rikschennink commented on #140
No worries! :-)

I’ve written an example function in this comment:
https://github.com/pqina/filepond-plugin-file-validate-type/issues/6#issuecomment-428554985

If needed I’m happy to help out tomorrow morning.

[2018-10-10 18:15] jdriesen commented on #140
Clear docu. Thanks man. Great support.

I'm using Filepond with Vue...
Is this function also available in the Vue Instance ?

[2018-10-10 18:20] rikschennink commented on #140
If you update the file validate type plugin to the latest version it should be available no matter the adapter used.

[2018-10-11 07:45] rikschennink commented on #140
Hi @jdriesen, it seems like you need to set the `acceptedFileTypes` array, this method is only for detecting the type, the validator still needs to have a list of acceptable file types.

[2018-10-11 07:59] jdriesen commented on #140
Thanks for your prompt reply ...

Even with the "acceptedFileTypes" array set, the function is not performed.

(Just as an info, and see also my post from yesterday ... the AcceptFileTypes will return a "not accepted" cause my MimeType is and empty string" ...)

[2018-10-11 08:10] rikschennink commented on #140
Looking at the detector method again, it seems like it's not returning the Promise.

[code]

I'm not sure if the detector should be in the `methods` list. It's basically a function that stands on its own, it's an event or anything so the `@` doesn't work.

I haven't tested this code snippet but I think it should be configured something like this:

[code]

[2018-10-11 09:36] jdriesen commented on #140
Feedback at lightning speed.
Thanks @rikschennink

Will test it ASAP and will provide Feedback

[2018-10-11 09:52] jdriesen commented on #140
**This is working like a CHARM !!**

Really great piece of software, and wonderful support !

Thanks again @rikschennink

[2018-10-11 10:34] rikschennink commented on #140
Fantastic! :-)

[2018-10-11 10:34] #140 closed

[2018-10-11 11:02] jdriesen commented on #140
Extra small remark ...

When using the :fileValidateTypeDetectType = "detectorFunction", the
acceptedFileTypes param becomes obsolete in the component definition

(cause all validation now has to be done in the "detectorFunction)

In case it might help somebody ...
This is my detectorFunction
[code]

[2018-10-11 11:17] rikschennink commented on #140
It depends on the implementation, FilePond will try to detect the type using browser methods and pass the type that it has detected to the `detectorFunction`.

You can rewrite the above method to only test if `type` is empty and then correct the mime type based on the extension.

[2018-10-11 11:29] jdriesen commented on #140
Well, that's what I tried, and this was NOT working ... (sorry to say ...).
That's why I came up with this solution...

[2018-10-11 11:31] rikschennink commented on #140
With or without `acceptedFileTypes` property?

[2018-10-11 11:51] jdriesen commented on #140
With "acceptedFileTypes" ...

My idea was (at least, how I was thinking it would work out of the box...)

- If the MIME type matches one of the "acceptedFileTypes", it is an accepted file
- if the MIME type does NOT match one of the "acceptedFileTypes", the "detectFunction" is performed.

Though, this didn't seem to be the case...
That's why I REMOVED the "acceptedFileTypes", and moved all my "log

[2018-10-11 11:55] rikschennink commented on #140
It will always call the detect method, even if it detected a type, this is to allow correction of the mime type even if it seems correct.

[2018-10-11 12:56] KevinCocquyt39 commented on #82
Hi. Here I am again... I implemented filepond in a production website using unpkg.com without an explicit version number. As my client was testing the functionality today, he couldn't get it to work in IE11. As I had a look at the history of this project, there were (since my implementation) 2 major releases for filepond and for those, it seems the IE11 support is lacking, even when using the poly

[2018-10-11 13:04] rikschennink commented on #82
Hi @KevinCocquyt39, a number of IE11 bugs have been fixed in the past days so it should now function, I'll re-test it as soon as possible.

I would advise to always lock version number to major version.

[2018-10-11 13:06] KevinCocquyt39 commented on #82
First time I ever used unpkg to serve libraries and learning it the hard way. Thanks for the quick response!

[2018-10-11 14:09] rikschennink commented on #133
We're getting there: https://twitter.com/rikschennink/status/1050274969505153025

[2018-10-11 17:33] enisdenjo commented on #133
Haha thats right! One step closer to the fix. 😁

[2018-10-12 09:06] rikschennink commented on #133
@enisdenjo Just published version `3.1.1` it should fix the issue. :-)

[2018-10-12 09:07] rikschennink commented on #82
@KevinCocquyt39 Can you try adding this babel polyfill:
[code]

[2018-10-12 09:15] jdriesen commented on #140
Perfectly clear.
Thanks @rikschennink

[2018-10-12 10:45] rikschennink commented on #133
Fantastic!

Yeah, it currently doesn't redraw on resize. Feel free to open a separate issue about that.

[2018-10-12 10:45] #133 closed