[2020-03-11 09:46] rikschennink commented on #461
@vgavrilovikj As stated in the issue template, please ask questions on SO:

[2020-03-11 11:53] EthosData commented on #463
Thanks Rik.

Maybe another approach for this to explain better what we are looking for:

The plugin return the files with their metadata and relative path so, for example, if we drop a folder structure like this:

FOLDER_A/SUBFOLDER_A/File_a.txt
FOLDER_A/File_b.txt
FOLDER_B/File_c.txt

In our application we can recreate the folder structure and upload the files in their folders.

However if we try

[2020-03-11 12:38] rikschennink commented on #463
It's this method: https://github.com/pqina/filepond/blob/master/src/js/app/utils/requestDataTransferItems.js#L93

I think the only approach is to extract all the file items (items that can be uploaded), this already happens, and at the same time build a separate directory tree and send that to the server as file metadata. Still that would mean the tree is attached to each file, which would also be

[2020-03-12 09:16] rikschennink commented on #459
Should be fixed in v4.12.1

[2020-03-12 09:43] rikschennink commented on #464
Should be fixed in v4.12.2

[2020-03-12 13:01] boulepick commented on #354
This is great that chrome is updating it's code to fix the issue, but what if the user has an outdated version of chrome, is there a workaround to fix this? Is the solution provided by "rikschennink commented on Jan 24" can be considered as a workaround?

[2020-03-12 13:10] rikschennink commented on #354
@boulepick as it solves the issue, I believe so.

[2020-03-12 13:36] boulepick commented on #354
thank you

[2020-03-13 00:17] hason opened #465 "Order of input elements in FilePond subtree doesn't match order of files"
### Summary

Drag and drop only change position of files via css. DOM is unchanged. The hidden inputs doesn't reflect ordered positions of files. On server, the array of file names is not ordered.

### Expected behaviour

Drag and drop should move real DOM elements.

| Environment  | Version
|------------- | -----------
| OS           | Linux
| Device       |
| Browser      | Chromium 80

[2020-03-13 12:03] rikschennink commented on #465
Fixing now 👍

[2020-03-13 12:39] rikschennink commented on #465
Should be fixed in v4.13.0

[2020-03-14 22:12] hason commented on #465
@rikschennink Thanks!

[2020-03-14 22:12] #465 closed

[2020-03-15 18:14] JaimeBtab commented on #239
Hello again,

I am using the last version 4.11.0 of plugin and I am having same issue as the beggining of this incident. Maybe the problem is repeating again with another later change? Is it working ok again?

I am using Google Chrome as default.

[2020-03-16 09:53] JaimeBtab commented on #463
Actually what we wanted to achieve is reading the empty folders and pass it to plugin and server to create internally the structure in our application. Would we have to manage the folder item as file item and pass it to plugin as an empty file or something?

FOLDER_A/SUBFOLDER_B/  -> empty folder

[2020-03-16 21:50] Chak10 opened #466 "Idea to improve"
Hello, why do you not add time remain and upload speed?

[2020-03-17 09:14] EthosData opened #467 "UI halt when moving to different browser tab"
Hello!

I have notice that while uploading via the plugin, if I go to another tab and then come back after some time, the upload stopped the moment I went to another tag and resume as soon as I went back.

I can see this issue was happening in the past looking at closed ticket #239.

I am using I am using the last version 4.11.0 of plugin and it is happening in Chrome and Edge.

Does anyone also s

[2020-03-17 09:28] rikschennink commented on #466
I've considered this initially but decided against it as most uploads I think are too short lived to calculate an average duration for. Of course it would be nice to add this, but I'd rather add it in a way that would not add too much additional weight to the core package.

So we could route the data that renders the textual progress through a configurable function I guess? At that point I guess y

[2020-03-17 09:31] rikschennink commented on #467
Hi, thanks for reporting, please use the closed issue. Will reopen if confirmed.

Latest is 4.13

[2020-03-17 09:31] #467 closed

[2020-03-17 12:03] Chak10 commented on #466
I am using this library for large files so this solution would be perfect.

[2020-03-18 11:14] JaimeBtab commented on #239
Hello, I updated the plugin to 4.13.0 and tested in Chrome and Firefox and the issue is still happening.

I've checked the code changed in that version and I would like to know if it is possible to change the duration or time of setTimeout value to reduce it.

[code]

[2020-03-18 15:16] Lori0107 opened #468 "Custom chunks upload"
### Summary
Hi Everyone,

I'm using Filepond with VueJS and Ruby on Rails to create a video uploader, I'm using chunks to upload it. I would like to make my chunks upload "resumable".
So, I have 2 questions:

Is it possible to send additional custom parameters on the initial POST which initialize the chunks upload (for instance: send the Filename), and not only the [Upload-Length] parameter ?

Fro

[2020-03-18 15:51] rikschennink commented on #468
Duplicate of https://github.com/pqina/vue-filepond/issues/140

[2020-03-18 15:51] #468 closed

[2020-03-18 19:23] vjanssens opened #469 "allowReorder does not change DOM order"
### Summary
When setting `allowReorder: true` and after drag/dropping, the order of images in the filepond instance are visually changed by using CSS transforms instead of actually changing the order of the DOM elements. When you try to process the form after it has been submitted using a PHP back-end, the files enter the application in the order of the DOM elements (as is usual with regular HTML

[2020-03-18 19:26] vjanssens commented on #469
I just found #465, which resolves this issue. Closing this ticket.

[2020-03-18 19:26] #469 closed

[2020-03-19 08:02] #459 closed

[2020-03-19 08:03] #464 closed

[2020-03-20 16:14] fundup opened #470 "Same name for thumb and original"
I tried to process an upload with original file and thumbs (using imageTransformVariants) but it seems that filenames are all the same on my request.
So on my server I can't retrieve the differents files (only the first one).
![Capture du 2020-03-20 17-13-39](https://user-images.githubusercontent.com/4673348/77183174-38626080-6ace-11ea-8453-b125732fdaee.png)

[2020-03-23 07:38] rikschennink commented on #470
Article on transform variants:
https://dev.to/pqina/generating-image-thumbnails-in-the-browser-using-javascript-and-filepond-10b8

Docs:
https://pqina.nl/filepond/docs/patterns/plugins/image-transform/#using-transform-variants

The field will be the same name, the name of the each file will be different.

If you want to change the field name you will have to set up a custom processing method:
http

[2020-03-23 07:38] #470 closed

[2020-03-24 19:33] Waad-3 opened #471 "Set initial file to a path"
Hi,

Is there a way of setting the initial file from local machine? like just giving a path of an image?
if yes please provide me the details. I'm coding in react

Thank you

[2020-03-25 08:16] rikschennink commented on #471
Hi, as requested in the issue template, please use Stack Overflow for questions.

[2020-03-25 08:16] #471 closed

[2020-03-26 04:32] cloydlau commented on #465
Why can I still reproduce this in v4.13.0? I am using vue-filepond of which filepond is a peer dependency. Or is there a callback I can use to reorder files array manually?

[2020-03-26 06:13] rikschennink commented on #465
@cloydlau I don't know why. Please supply a test case on codesandbox.

[2020-03-28 06:19] christopher4lis commented on #44
Don't think this should be closed, even on the referenced issue, the problem isn't fully solved. Multiple people are having issues loading images from S3, even with CORS options set.

Is there any solution to this with an exact solution in the docs?

[2020-03-28 06:23] christopher4lis commented on #371
What should the CORS headers be set to for this to work? Standard AWS CORS config doesn't work with Filepond:

[code]

[2020-03-30 14:04] avillarubia opened #472 "Multiple upload only uploads 2 files"
**Stay Home, Keep Safe Everyone.**

Summary
Multiple uploads only upload 2 files and save to static folder and the rests are the loading animation never stops. Both client and server allow only a maximum of 5 files.
...

### How to reproduce
Below is my sample code the uses React

[code]

in my server is...
[code]
...

### Expected behaviour
Should upload 5 files.
...

### Additional information
-

[2020-03-30 15:00] chapkovski opened #473 "externally set file value results in a 'gray' status"
I know it's  most likely not a bug, but still:
for some of my fields that use filepond I sometimes set their values outside of FilePond component, by setting its value using 'options' (as it is described in documentation).
The value I set is for instance:

[code]

It works fine, with one caveat:
those files that are 'uploaded' by setting the filepond value externally are gray.
Like that:

![Screen

[2020-03-31 06:02] rikschennink commented on #473
Does setting type to "limbo" make a difference.

[2020-03-31 12:31] rikschennink commented on #371
@christopher4lis I don't have any experience with AWS but I do know if they're set correctly the request works and the `Access-Control-Allow-Origin` response header can then be seen in dev tools network tab

[2020-03-31 13:26] chapkovski commented on #473
'limbo' works!

[2020-03-31 13:26] #473 closed

[2020-03-31 13:41] EthosData opened #474 "Sorting on plugin content"
Hello!

One question: which is the order that the plugin takes to generate the upload list when dropping the content? Is it aleatory, as it comes from the user desktop (drop) or is there any logic (alphabetical, natural, order, etc.)?

This will be important to know in case we need to handle the sorting of the files once they are uploaded.

David.

[2020-03-31 14:22] Riaan-ZA commented on #114
The files property can actually take an array with options, setting type option to local, prevents it from uploading again

[code]

[2020-03-31 22:57] avillarubia commented on #114
@Riaan-ZA thank I'll try that

[2020-04-01 09:27] rikschennink commented on #474
It's defined by the OS, I'm not sure if it's the same everywhere to be honest. Maybe you can use the sort method.

[2020-04-01 09:31] rikschennink commented on #472
Can you try unregistering the `FilePondPluginFileEncode` plugin.

[2020-04-01 09:46] avillarubia commented on #472
@rikschennink still same :(

[2020-04-01 10:01] EthosData commented on #474
Yes, that will work. Thanks!

[2020-04-01 10:01] #474 closed

[2020-04-02 15:40] cloydlau commented on #154
Hello there, I've got an issue that how should I deal with the load() func when I'm using custom fetch method? I'm using a custom HEAD ajax and I surly have the size info, but the file status remains loading if I don't call load(), however there's no file I can call with.

[2020-04-05 18:36] dominiqueh commented on #289
Has there been any updates around this issue? I've run into it and will post if I find a solution.

[2020-04-07 06:18] rikschennink commented on #289
very much appreciated @dominiqueh

[2020-04-07 07:00] rikschennink commented on #472
@avillarubia Then I honestly don't know, if you create a public test case I can take a look.

[2020-04-07 07:21] Nico-L opened #477 "Issue with destroy when used with Svelte"
Hi, I am trying to use filepond with Svelte and I have an issue when destroy components

### Summary

I started with a simple component. I made a Svelte REPL to show :
https://svelte.dev/repl/0f3d60c1bd084cac962cb2df3f70846e?version=3.20.1
If you click on the checked box, the following error is thrown
[code]
and the component becomes unresponsive

### How to reproduce

See the REPL

### Expected b

[2020-04-07 07:57] rikschennink commented on #477
FilePond uses the `input` file element, so Svelte can't find it when FilePond has moved it around. Wrapping it in a div solves the issue.

[code]

You don't have to pass the element to the FilePond `destroy` method. You can just call `pond.destroy()`.

[2020-04-07 08:09] Nico-L commented on #477
Hi @rikschennink

That is a fast answer! And a simple solution, sorry not to have try this.

Thank you. I'm glad I found filepond.

[2020-04-07 08:09] #477 closed

[2020-04-07 08:12] rikschennink commented on #477
@Nico-L No worries 👍😊

[2020-04-07 09:34] rikschennink commented on #154
Hi @cloydlau, you can call load with `{ body: null}`

[code]

[2020-04-07 09:46] rikschennink commented on #154
@cloydlau Just published version 4.13.1, calling `load(null)` should work as well

[2020-04-08 03:07] drone1 commented on #389
Just updated to 4.13.1 and this still happens. Perhaps a console.error() is needed in this case. :)

[2020-04-08 06:37] rikschennink commented on #389
@drone1 again, it's not to be used in this manner. Adding a `console.error()` would add additional weight to the package that is not needed IMHO

[2020-04-08 08:19] cloydlau commented on #465
@rikschennink https://codesandbox.io/s/holy-night-told4?file=/src/App.vue

[2020-04-08 10:02] drone1 commented on #389
I understand that, but it’s still not documented so I ran into it again.

Re package size: I can’t tell if you’re serious.

On Wed, Apr 8, 2020 at 08:37 Rik <notifications@github.com> wrote:

[2020-04-08 10:49] rikschennink commented on #389
I’m serious.

You can add a PR on the docs repo.
https://github.com/pqina/filepond-docs

[2020-04-08 18:09] coreybrett opened #478 "headers not being sent / how to send CSRF token?"
I do the following to setup my pond instance.
[code]
The various settings are taking effect, but the headers option is not. I need to send a CSRF token.

[2020-04-09 05:49] rikschennink commented on #478
It needs to be

[code]

[2020-04-09 05:49] #478 closed

[2020-04-09 06:21] rikschennink commented on #465
@cloydlau This is a FilePond vue specific issue, please create a new one there. The internal hidden input fields are reordered, the issue here is that the `files` prop is not being updated.

[2020-04-09 18:22] coreybrett commented on #478
Thanks!!!

[2020-04-10 03:29] avillarubia commented on #472
@rikschennink it is now solved, I remove node_modules and reinstall and update but not for this concern.

Thank you for your time

[2020-04-10 03:29] #472 closed

[2020-04-10 14:43] cloydlau commented on #465
https://codesandbox.io/s/holy-night-told4
Already changed the dependency to filepond only. It seems files prop still can't be reordered.

[2020-04-11 01:47] chintanp commented on #322
@rikschennink This does not seem to be working for me. I am getting the correct preview in the browser, but the image orientation on the server is not the same. I am using: Filepond (v4.13.1), and FilePondPluginImageExifOrientation (v1.0.6).

The relevant code is as below:

[code]

Any suggestions on how I can debug this?

[2020-04-11 07:29] rikschennink commented on #322
@chintanp which device and os version are you testing with?

[2020-04-11 08:02] chintanp commented on #322
@rikschennink I have seen uploads from Android (OnePlus 7) and iOS (some iPhone) both not oriented right.

[2020-04-11 09:10] rikschennink commented on #322
Which OS versions?

There seem to be issues with iOS 13.4 but I need more info

On Saturday, April 11, 2020, Chintan Pathak <notifications@github.com>
wrote:

[2020-04-11 17:35] patie opened #479 "Error during upload"
Hi,

im trying filepond with php backend, i select image, and i click on upload button.. im see in console (when i add events) "**error during upload**" with no more info..

[code]

[code]

when i try call from api client /api/advert/image/process return text/plain with id, nothing more.. i dont understand where can be problem.. what im missing? thanks

[2020-04-11 19:51] chintanp commented on #322
@rikschennink sorry about the delay in response.

OS tested so far: Android 10 & iPhone iOS 13.3.1.

[2020-04-12 07:35] rikschennink commented on #322
I don’t see the image transform plugin in the register list, it’s needed to apply the changed.

[2020-04-12 07:37] rikschennink commented on #479
Please ask questions on Stack Overflow.

You can take a look at the FilePond php server example for comparison.

[2020-04-12 07:37] #479 closed

[2020-04-12 19:16] chintanp commented on #322
@rikschennink In my latest attempt, I am using the following code:

[code]

with the aim of the additional functionality of resizing before upload. This solves the EXIF orientation issue on my Android (10) and an iPad (iOS 12.x, Chrome and Safari) I tested on. **However, it seems to not work on Chrome (81.0) on Android 10**.  I wonder if it is related to this issue of Chrome (https://stackoverflow

[2020-04-13 06:46] rikschennink commented on #239
@JaimeBtab Looking into this now

[2020-04-13 07:51] rikschennink commented on #239
We can't lower the `setTimeout` interval, it's 16ms right now, on inactive tabs it's automatically set to a higher value by the browser (Chrome prevents values lower than one second).

After running some tests, I find this functionality is still working. What is happening is that FilePond will wait with uploading files till all animations have finished (this is to prevent hick-ups in the animation

[2020-04-13 09:14] JaimeBtab commented on #239
Hi @rikschennink!

I'm just doing tests and it's working nice when tab is not active , thanks!

In long list of files, the animation remains Uploading 100% (in blue state) and do not change to Upload Complete (in green state). It is not a major issue because the real state is correctly Uploaded for those files and when the entire list is uploaded the process ends. It's just a issue to keep in mind

[2020-04-13 11:31] rikschennink commented on #239
@JaimeBtab Glad to hear that 👍

I can't reproduce this.

[2020-04-13 12:10] rikschennink commented on #239
@JaimeBtab I forgot to push 4.13.2 to npm so please make sure you've got the latest version to test with.

[2020-04-13 13:24] JaimeBtab commented on #239
Yes @rikschennink, I had the last version 4.13.2 when I tested.
Thanks for consideration !

[2020-04-14 09:41] EthosData commented on #239
Hi @rikschennink

Thanks for the fix!

My testing it, we have seen that when uploading the files while the tab is inactive, there is a significant difference in terms of upload. As you mention, there is an increase on delay.

Here is an example on comparison between uploading with active tab (top) and inactive (down):
![image](https://user-images.githubusercontent.com/59917489/79209823-d16d6880-7e

[2020-04-14 11:07] rikschennink commented on #239
From the screenshot it's difficult to tell the actual delay between files. I've got an idea what might be causing it, I'll take a look.

[2020-04-14 11:52] rikschennink commented on #239
@EthosData Should be improved in `4.13.3`

[2020-04-14 13:31] EthosData commented on #239
Thank @rikschennink

We applied the change but still we see big delays. Can you let me know the improvement you have done for the last version?

To show better what I am referring to, I have done a short video showing the gaps of the delays while being inactive the tab: [Video.zip](https://github.com/pqina/filepond/files/4475505/Video.zip)

[2020-04-14 13:47] rikschennink commented on #239
@EthosData Can you make sure you're on `4.13.3` and you're cache is cleared.

[2020-04-14 13:57] rikschennink commented on #465
@cloydlau that's because its value doesn't update. It's only used to send information to FilePond.

[2020-04-14 14:00] rikschennink commented on #322
@chintanp Note that it's high on my todolist to look into this. In the mean time, Chrome on iOS is secretly just Safari so that would explain why it works fine on iOS.

[2020-04-14 14:00] EthosData commented on #239
Yes, we have checked it twice and we are in 4.13.3 plus doing the tests after clear cache from browsers (Chrome, Firefox and Edge).

[2020-04-14 14:09] rikschennink commented on #239
@EthosData okay, double checking.

[2020-04-14 14:30] rikschennink commented on #239
@EthosData fixing. We're getting there. Try `4.13.4`

[2020-04-14 14:44] cloydlau commented on #465
I need to refresh files value when order changed. I just found 'reorderfiles' event at #445 which will solve my problem perfectly, thanks. It's missing in document by the way.

[2020-04-14 15:17] cloydlau commented on #465
Document says 'allowReorder' only works in single column mode. Actually it also works on grid layout with a little limit, the position that file items can be dropped onto is restricted in grid layout. Hope this could be optimized later on.

[2020-04-14 15:21] EthosData commented on #239
@rikschennink

This version has now fixed. Now seems there is no delays with the tab is inactive.

Thanks a lot!

[2020-04-14 15:54] pbaggiol commented on #239
I can confirm.  This has resolved the issue for me too.

[2020-04-14 18:01] chintanp commented on #322
@rikschennink also, I found the orientation is not an issue on all Chrome/Anndroids I tested, the three others I tested worked fine.

[2020-04-15 08:59] rikschennink commented on #322
@chintanp I've found the issue, fixing it now.

[2020-04-15 09:19] rikschennink commented on #322
@chintanp Should be fixed if you update the image exif orientation plugin to latest version `1.0.7`, please confirm.

[2020-04-15 19:50] chintanp commented on #322
@rikschennink Thanks a lot for your prompt support. Works now on Chrome and Firefox in my Android as well as Chrome and Safari on my iPad. I Will update if I find an issue elsewhere.

[2020-04-16 01:54] 490626721 opened #480 "从服务器加载文件后无法使用图片预览等插件"
code:
[code]

[2020-04-16 01:58] 490626721 commented on #480
![1587002265(1)](https://user-images.githubusercontent.com/31122122/79406116-ca279580-7fc8-11ea-9eac-308362df4919.png)

[2020-04-16 02:03] 490626721 commented on #480
i want this
![1587002558(1)](https://user-images.githubusercontent.com/31122122/79406347-6e114100-7fc9-11ea-8068-fb828942f3f8.png)

[2020-04-16 06:15] rikschennink commented on #322
@chintanp fantastic 👍

[2020-04-16 06:39] #480 closed

[2020-04-16 06:40] rikschennink commented on #480
Closed because lacks details requested in the issue template. Please also write in English.

[2020-04-20 08:00] dmaus opened #481 "filepond drop file in dynamically created iframe"
### Summary
Drop files does not work when filepond is in a dynamically created iframe.

Aditional bugs:
- height is not set
- inseting with `var pond = FilePond.create(element);` not working

### How to reproduce
https://codepen.io/dm1222/pen/vYNXGvp

[2020-04-20 08:03] rikschennink commented on #481
Does the `iframe` have a valid doctype?

[2020-04-20 12:16] Asad4429 opened #482 "Problem in populating initial files from remote URLs on Safari browser"
### Summary
I'm populating initial files from remote urls in filepond. It's working fine on all browsers excepts Safari. During debug I noticed that load method is not get called due to which image gets failed in Safari. I'm using it in React along with react-filepond.
...

### How to reproduce
Populate initial file in Safari. Load method will not call.
...

### Expected behaviour
Initial image sh

[2020-04-20 12:34] rikschennink commented on #482
Please supply a public test case on codesandbox.io

[2020-04-22 08:42] dmaus commented on #481
I updated the example and added a doctype but no change:
https://codepen.io/dm1222/pen/vYNXGvp

[2020-04-22 09:08] rikschennink commented on #481
Just tested in Chrome, seems to work correctly?

[2020-04-22 09:15] dmaus commented on #481
I get an 404 error when i drop an image file (Chrome, Safari):
![Screenshot 2020-04-22 at 11 11 05](https://user-images.githubusercontent.com/2518368/79963957-5125b380-848a-11ea-914f-de556ef5d4ac.png)

[2020-04-23 10:41] Asad4429 commented on #482
@rikschennink here is the test case link. Problem occurs in Safari browser, Working fine in Chrome and Firefox
https://codesandbox.io/s/github/Asad4429/testproj?file=/src/App.tsx

[2020-04-23 10:48] rikschennink commented on #482
on chrome and firefox it doesn't load either. It's just that Safari seems to cancel the request sooner.

[code]

[2020-04-23 10:49] #482 closed

[2020-04-23 10:51] Asad4429 commented on #482
It's dummy url just to test the call of load method
I put some logs in load method of serverConfig. load method is not get called in Safari but works well in chrome

[2020-04-23 11:13] Asad4429 commented on #482
@rikschennink can you please check console logs in Safari and Chrome? It didn't event print logs which I put in load method before server request in Safari.

[2020-04-23 11:33] Asad4429 commented on #482
@rikschennink I updated test case Can you please check it now?
https://codesandbox.io/s/github/Asad4429/testproj?file=/src/App.tsx

Output On Safari
<img width="549" alt="Screenshot 2020-04-23 at 4 30 56 PM" src="https://user-images.githubusercontent.com/14857273/80094651-0ede9e00-8580-11ea-8ca5-16045f66af29.png">

On chrome
<img width="553" alt="Screenshot 2020-04-23 at 4 31 04 PM" src="https://u

[2020-04-23 12:08] Asad4429 opened #483 "Problem in setting initial files [Safari]"
### Summary

I'm setting initial files in filepond. It's working fine on all browsers excepts Safari. I am using react-filepond.

Output on Safari:
<img width="549" alt="Screenshot 2020-04-23 at 4 30 56 PM" src="https://user-images.githubusercontent.com/14857273/80097465-c83f7280-8584-11ea-9480-0ae1f930f46c.png">

Output on Chrome
<img width="553" alt="Screenshot 2020-04-23 at 4 31 04 PM" src="htt

[2020-04-23 12:39] rikschennink commented on #483
There's already an issue on this, have some patience.

[2020-04-23 12:39] #483 closed

[2020-04-23 12:48] rikschennink commented on #482
It works as it should in this sandbox?

https://codesandbox.io/s/vanilla-filepond-2oltb?file=/src/index.js

[2020-04-23 13:00] Asad4429 commented on #482
yes

[2020-04-23 13:01] Asad4429 commented on #482
yes

[2020-04-23 14:58] Asad4429 commented on #482
I copied same example code snippets which was given in react-filepond repo, So there should not be any issue with implementation. But dependencies and configuration of this test case is different. I think **some compatibility issues with filepond and safari comes when TypeScript/babel/webpack is being used** in react's project, but not sure.

[2020-04-24 04:27] starwarskidfan opened #484 "FilePond.AddFile() doesn't set the correct file name in the UI"
### Summary
After calling the the FilePond.AddFile method and supplying it with a local file, after loading it the file name in the UI is still the serverId

### How to reproduce
[code]
### Expected behaviour

The UI should be using the FileName

### Additional information
[code]
This logs the correct file name but the UI is not updated.

[2020-04-24 06:28] rikschennink commented on #482
@Asad4429 I've set up a React test case for your convenience: https://codesandbox.io/s/filepond-react-server-load-method-test-iwqq5?file=/src/App.js

[2020-04-25 09:23] omiderfanmaneshit opened #485 "add file to the Filepond by using data-files inside <input> returns empty array"
I am going to use PHP MVC and Filepond together and pass the default file URL to the Filepond inside HTML. I don't want to request again to the server and get the URL of my file using addFile() to load it to the pond object.
So, I use data-files inside <input> and pass the URL but the file array is empty.

[code]

[code]

the result of ```console.log(pond.files,pond.name)``` is ```[] "filepond" ``

[2020-04-26 12:35] z-flash opened #486 "I've stuck on a problem within a week "Laravel validation with Filepond Plugin""
@rikschennink
When I try to `dd($request->all());` it will display JSON type data like this

`array:3 [▼
  "_token" => "mt9BLJMyr3i8NdpmqTl22k2DJsF0Bd0D4E6VR5r3"
  "phone" => "31 231 23 12"
  "file" => array:2 [▼
    0 => "{"id":"1r8cqszse","name":"travel.jpg","type":"image/jpeg","size":334996,"metadata":{},"data":"/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODw ▶"
    1 => "{"i

[2020-04-27 06:07] rikschennink commented on #486
This is not a FilePond issue. You can view the [FilePond PHP server repo](https://github.com/pqina/filepond-server-php) for how it parses the request.

[2020-04-27 06:07] #486 closed

[2020-04-27 06:47] rikschennink commented on #485
Please see: https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

You need to use a `<fieldset>` instead of the data attribute.

[2020-04-27 06:47] #485 closed

[2020-04-27 10:58] jcohen02 commented on #433
Hi @rikschennink, is this behaviour by design? I noticed this while working on chunked upload support for the Python Django filepond backend.

At present, if a chunked upload fails after uploading some number of chunks, you can retry or cancel the upload. If you cancel, as @prince272 has pointed out, the upload disappears from the filepond UI but no call is made to the server to notify it of the c

[2020-04-27 12:21] rikschennink commented on #433
@jcohen02 Would be a nice addition, I wouldn’t mind if it was default.

[2020-04-27 12:23] jcohen02 commented on #433
Ok, thanks @rikschennink, happy to take a look at this but its likely to take a few days for me to get round to this.

[2020-04-27 17:39] starwarskidfan commented on #484
Here are my response headers

access-control-allow-origin: https://something.com
access-control-expose-headers: Content-Disposition, Content-Length, X-Content-Transfer-Id
cache-control: no-cache
content-disposition: inline; filename=SourceTreeSetup-3.3.8.exe; filename*=utf-8''SourceTreeSetup-3.3.8.exe
content-length: 25567520
content-type: application/octet-stream
date: Mon, 27 Apr 2020 17:37:34 G

[2020-04-28 06:27] rikschennink commented on #433
@jcohen02 no worries, take your time 👍

[2020-04-28 06:40] rikschennink commented on #484
Please use the `files` property to set initial files:
https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

[2020-04-28 06:48] starwarskidfan commented on #484
I am not setting initial files. Does the AddFile method not work.

[2020-04-28 06:59] rikschennink commented on #484
@starwarskidfan no, you should use `files`, `addFile` is for adding new files

[2020-04-28 13:38] ikkez opened #487 "image preview overflow not working on safari"
Because of the preview image has a bunch of 3d transforms enabled, the overflow:hidden on the `.filepond--image-preview-wrapper` does not seem to work in safari on mac:

![Bildschirmfoto 2020-04-28 um 15 31 52](https://user-images.githubusercontent.com/1177647/80493832-32319080-8966-11ea-873e-e0a9c5e23f9c.png)

Adding this seems to solve the issue for me:

[code]

Now correct:
![Bildschirmfoto 202

[2020-04-28 14:23] rikschennink commented on #143
@sbusch You're right, it doesn't call the `revert`, see test case: https://codesandbox.io/s/vanilla-filepond-revert-remove-o2yqo?file=/src/index.js

Will see if I can pick this up later this week.

[2020-04-30 08:25] rikschennink commented on #487
I've reproduced the issue on iOS 👍

[2020-04-30 09:28] rikschennink commented on #487
`-webkit-mask-image: -webkit-radial-gradient(white, black);` this is not actually masking anything it seems, it just triggers the correct rendering somehow.

[2020-04-30 09:39] rikschennink commented on #487
Should be fixed in https://github.com/pqina/filepond/releases/tag/4.13.5

[2020-04-30 09:39] rikschennink commented on #143
@sbusch should be fixed in 4.13.5, please confirm.
https://github.com/pqina/filepond/releases/tag/4.13.5

[2020-04-30 11:17] santicros commented on #33
Is the load boolean implemented? I don't find it and would like to not download all the pdfs I receive from the server :)

[2020-04-30 11:30] rikschennink commented on #33
@santicros It isn't. You'll have to use mock files and the poster plugin.

[2020-04-30 12:20] JohnRSim opened #488 "Svelte Doka 6.9.0 with filepond - cropping/editing of image failing"
[code]
[code]

### Summary

handleConfirm method that returns the file;
- returns the original preparsed image that was selected through filepond.

If I use the same approach with just Doka and not filepond the response is the edited file.

### How to reproduce

example code above

### Expected behaviour

Doka onconfirm to return edited file and not original.

### Additional information

Also trie

[2020-04-30 12:26] JohnRSim commented on #488
**onclick - pond.browse();**
<img width="270" alt="filepond selected image" src="https://user-images.githubusercontent.com/364208/80709876-0210fb80-8ae6-11ea-9439-b565c925f2a2.PNG">

**Edit image with Doka Plugin**
<img width="270" alt="filepond editimage doka" src="https://user-images.githubusercontent.com/364208/80709885-04735580-8ae6-11ea-8cda-db8e5bc72392.PNG">

**Image returned as original im

[2020-04-30 12:29] rikschennink commented on #488
It doesn't look like you've registered the FilePond image transform plugin? It is needed to do the image transformations.

[2020-04-30 12:54] JohnRSim commented on #488
[code]
hmm I added the above but still the same - also added all the pond callback hooks to see if there were any errors but all seemed fine.

[2020-04-30 13:03] JohnRSim commented on #488
Also appear to be having issues with the cropping starts off as rectangle not square.

Added FilePondPluginImageCrop plugin and also set the following but no luck..
- when I select the corner of the croper it flips to a square.

[code]

[2020-04-30 13:12] JohnRSim commented on #488
https://github.com/pqina/filepond-docs/blob/master/content/patterns/plugins/image-edit.md

Also added the FilePondPluginImagePreview but no change

[2020-04-30 13:36] rikschennink commented on #488
Can you try the included FilePond "integration" example? Run it outside Svelte, add the `onpreparefile` callback to the FilePond config below, test if it works. Then compare with Svelte implementation.

[code]

[2020-04-30 14:09] JohnRSim commented on #488
yes let me try it..

Also I can create a base sapper/svelte project if you want to see the issue
- wont include doka lib you can add that.

[2020-04-30 14:14] JohnRSim commented on #488
That works let me match with my config and see if I can find the issue

[2020-04-30 15:07] JohnRSim commented on #488
Ok disabled instantUpload as this prevented onpreparefile from triggering.
Also disabled the onconfirm in doka
[code]
used onpreparefile - all working as expected now in svelte :)
Still issues with the crop appearing initially as a rectangle but will raise a new issue.

@rikschennink thanks for your help 👍

[2020-04-30 15:07] #488 closed

[2020-04-30 15:32] JohnRSim opened #489 "Doka 6.9.0 with filepond - cropAspectRatio full size not square"
I'm using filepond / Doka to allow users to select their profile picture.

However after selecting their picture and initialising Doka the crop mask initially shows as the full image size / rectangle until the mask is selected and then it autofixes and recorrects / resize to the correct aspect ratio of a square.

Looking at the DemoProfile.svelte code this initalises with the profile image and cro

[2020-04-30 15:36] JohnRSim commented on #489
**On initialise of Doka via filepond - full screen cropper**
<img width="270" alt="filepond_doka_init" src="https://user-images.githubusercontent.com/364208/80729696-896b6880-8b00-11ea-9bfe-cb70abb97454.PNG">

**Select Cropper - cropper resizes to square**
<img width="270" alt="filepond_doka_cropperSelected" src="https://user-images.githubusercontent.com/364208/80729704-8bcdc280-8b00-11ea-9b7d-f53

[2020-05-01 02:34] avillarubia commented on #114
@Riaan-ZA I have the example below

https://codesandbox.io/s/filepond-file-poster-or-default-file-6xdlz

but it can render a preview of a remote image.

Do you have any idea that can help? Thank you.

[2020-05-01 09:09] rikschennink commented on #489
I think you have to remove the `crop` and `cropAspectRatio` properties from Doka.

When using Doka with FilePond, FilePond is in charge, Doka offers the means to edit the image but FilePond should provide the data. This means you have to set the `crop` property to the file item metadata. Same with the `imageCropAspectRatio`.

By the way, `utils` should be an array, `['crop', 'filter', 'color']`.

[2020-05-05 15:31] jcohen02 commented on #433
@rikschennink it would be useful to get your thoughts on the implementation of this feature - I'm still trying to familiarise myself with the design of filepond. I can see you've put a lot of work into the library design and so I'd like any update to stick within the current model. I can see a few different ways to solve this but any advice on which you think is the most suitable would be useful.

[2020-05-06 06:50] chintanp opened #490 "Process hangs during upload when trying to calculate file size"
### Summary

I have been using filepond on my website successfully for several days and recently iPhone users have been reporting an error.

![image0](https://user-images.githubusercontent.com/752869/81145040-465b2c00-8f2a-11ea-862e-fe843cd121e6.png)

Filepond just stays stuck at this screen with message "Waiting for size".

The code I use is as below:

[code]

I do not have an iPhone so I am not

[2020-05-06 06:57] rikschennink commented on #490
Is this with latest versions of all plugins?

[2020-05-06 07:15] #487 closed

[2020-05-06 07:17] rikschennink commented on #484
Closed because inactive

[2020-05-06 07:17] #484 closed

[2020-05-06 07:18] rikschennink commented on #463
Will close for now, if more devs want to upload empty folders I’ll reopen

[2020-05-06 07:18] #463 closed

[2020-05-06 07:20] rikschennink commented on #441
Uploading in background should now be improved, changed require might also resolve some of the issues reported when animations are removed.

[2020-05-06 07:52] chintanp commented on #490
Yes, directly from the NPM cdn.

As a check, the validate size demos and demos on filepond site work fine on
the iPhone in question.

Any other test I can perform on my side to debug the issue?

On Tue, May 5, 2020, 11:57 PM Rik <notifications@github.com> wrote:

[2020-05-06 22:43] meness opened #491 "Process chunks in the case of failure"
Docs say if chunks failed, the client requests `HEAD` and the server must return `Upload-Offset: <offset>`, then the client mark lower chunks as completed, but in my case, the client starts from 0 once again while I send the header with a right offset.

**React**
[code]

**Express**
[code]

My test is: I write `500000` bytes then throw an error. When the client requests a `HEAD` I tell it the offs

[2020-05-07 09:05] rikschennink commented on #490
Will run some tests

[2020-05-07 09:10] rikschennink commented on #433
@jcohen02 appreciate the detail, will get back to you asap, currently swamped with work.

[2020-05-07 09:11] jcohen02 commented on #433
No worries @rikschennink, whenever you get the chance.

[2020-05-07 18:14] chintanp commented on #490
@rikschennink I have a few results from someone with an iPhone, the folder (https://drive.google.com/drive/folders/1MnLbXUBwH69DrbYhRmhqDoQ5PMn81I0t?usp=sharing) has images labeled as work_ and nowork_ for images that worked and did not. Hopefully, Google drive did not mess up the image exif data.

[2020-05-08 00:11] chintanp commented on #490
@rikschennink so some success in getting to the root of the error. I was able to recreate the problem in my Android (10.3.1) Firefox Beta (75.0.0-beta-6), and connecting it to my desktop firefox for remote debugging, I see the following error in the console.

![image](https://user-images.githubusercontent.com/752869/81356118-4f144500-9085-11ea-8847-66691177d7a7.png)

And the timing since the error

[2020-05-08 05:58] rikschennink commented on #490
@chintanp Thanks so much for the detailed test reports, this really helped a lot in quickly solving this. I just pushed 2.0.6 which should fix this.

[2020-05-08 12:55] fmatheis opened #492 "Edited Image not sent to server"
Hi,

I am running into the following problem.

### Summary

After editing an image, the file sent to the server is the original one, not the modified one.

### How to reproduce

[code]

...

### Expected behaviour

Server is called with the modified file.

...

### Additional information

...

| Environment  | Version
|------------- | -----------
| OS           | MacOS
| Browser      | Chrome

[2020-05-08 13:00] rikschennink commented on #492
You have not added the image-transform plugin.

[2020-05-08 13:00] #492 closed

[2020-05-08 13:06] fmatheis commented on #492
Thank you so much for the quick response!!

Adding the plugin did the trick.

[2020-05-08 19:48] chintanp commented on #490
Works on my Android now. Thanks for the quick fix. I am tempted to version lock the library and plugins though. I am new to JS dev, so not sure what the best practices are for this.

If someone can test on iPhone and finds that the issue persists, then they can re-open.

[2020-05-08 19:48] #490 closed

[2020-05-09 05:43] rikschennink commented on #490
Glad to hear it works 👍

I would advise to always version lock.

[2020-05-09 21:26] chintanp commented on #322
@rikschennink apparently there is another modality where the uploaded exif image is not properly oriented.

Please see the video:
![size-reduction-cropped_5kYVkFWG_SiHP](https://user-images.githubusercontent.com/752869/81484865-ffa55480-91fd-11ea-8bbf-166876e55d9c.gif)

for the image: (apparently incorrectly oriented on Github too)

![image2](https://user-images.githubusercontent.com/752869/814851

[2020-05-10 12:34] rikschennink commented on #322
Size is what the browser reports, it's probably different because I believe iOS internally uses a different image format.

Are all plugins updated to the latest version? If so, if you can provide a test case on codesandbox.io that would be helpful.

[2020-05-10 22:45] sbusch commented on #143
@rikschennink first thank you for your effort! I now had the time to test it the new release. Unfortunatley it doesn't work for me.

When I call `filepond.removeFile()`, the first uploaded file is removed from view but no `DELETE` request (as defined by `server.revert`) is submitted.

The reason is - at least - that the file's `origin` is 1 (== `FileOrigin.INPUT`), so your change at https://github

[2020-05-11 22:04] chintanp commented on #322
@rikschennink The issue also exists in the react-filepond and this existing codesandbox had the orientation issue on image resize https://codesandbox.io/s/rylk9z5lzm.

This also exists in the filepond exif orientation demo plugin: https://pqina.github.io/filepond-plugin-image-exif-orientation/ as be seen in this video.

![RPReplay_Final1589153029(1)_Trim](https://user-images.githubusercontent.com/

[2020-05-12 06:32] rikschennink commented on #322
@chintanp the codesandbox demo is still on older versions of the plugins. If you update it it should work correctly.

I can't reproduce the issue on the other demo, tried chrome and safari with all kinds of images that have orientation information, but they all showed correct. Can you make sure the cache is cleared?

[2020-05-12 08:39] rikschennink commented on #143
@sbusch just published 4.13.6 which should fix this issue

[2020-05-12 08:41] rikschennink commented on #491
I don't have time to test this right now, so if you have any ideas what could be causing the issue that would be very helpful

[2020-05-12 09:10] rikschennink commented on #433
@jcohen02 I think option 1 would be best, if we can prevent the looping situation (I think we can by calling `item.revert` instead of dispatching the revert request.

I've added reverting for limbo/input files in the past two releases to fix another issue, it might have "magically" fixed this as well (not sure haven't tested). If not, I think calling `item.revert` will solve the loop issue.

[2020-05-12 10:16] sbusch commented on #143
Works for me, `removeFile()` and `removeFiles()` trigger the `DELETE` request :-)

Thank you very much!

[2020-05-12 10:40] dev7ch opened #493 "Pasting formatted text into unrelated text field causes "Ghost Image" uploads"
### Summary
First of all: Thank you very much for this great and clean js plugin!

Pasting formatted text from a Word doc into a text field creates "Ghost Images" as png, ~~even if `allowPaste: false`~~

![image](https://user-images.githubusercontent.com/15183757/81673760-68820c00-944c-11ea-9b67-20d622272f47.png)

I am a bit unsure where to address this issue? Do you or anyone have an idea?

### H

[2020-05-12 10:54] #143 closed

[2020-05-12 10:59] rikschennink commented on #493
As this is related to FilePond core I've moved the issue there.

FilePond indeed should not catch these "copy paste" actions. So this feature needs to be improved upon. Internally checking if the target is a text input or text area will probably suffice.

In the mean time you can disable this behaviour by setting `allowPaste` to `false`

[2020-05-12 11:21] dev7ch commented on #493
Thanks for the instant reply.

Yes i can confirm `allowPaste` is solving it for now

[code]

[2020-05-12 19:00] krajasekhar opened #494 "Test failing - TypeError: Class constructor Worker cannot be invoked without 'new' - window.matchMedia"
### Summary
When trying to test run for snapshot testing using `jest` and `react-test-renderer`, facing the issue `TypeError: Class constructor Worker cannot be invoked without 'new'` pointing from `filepond.js` which is using `window.matchMedia`
...

### How to reproduce
Test snapshot for a component which is using `filepond` using below code
`it("should render correctly", () => {
    const tree

[2020-05-12 19:06] chintanp commented on #322
I updated the codesandbox with latest libraries (https://codesandbox.io/s/qbh57). Filepond 4.13.6 and exif-orientation 1.0.8, image-preview 4.6.2 and the issue exists in this demo as well as the image-exif demo here: https://pqina.github.io/filepond-plugin-image-exif-orientation/

The issue to specific to image resize inside iPhone (i.e. this resize is not due to filepond, but it is an iPhone feat

[2020-05-12 19:10] krajasekhar commented on #494
Have got a workaround by having this mock before
[code]

[2020-05-12 19:14] #494 closed

[2020-05-13 08:50] rikschennink commented on #322
@chintanp okay, now I understand the issue.

The problem occurs when the image is resized in iOS, interesting. I created a new issue in the exif orientation repo.

https://github.com/pqina/filepond-plugin-image-exif-orientation/issues/7

[2020-05-13 14:12] rikschennink commented on #322
After some research it seems this is indeed the problem:

[2020-05-13 18:04] jcohen02 opened #495 "Errors when running test suite due to window.matchMedia not being defined in JSDOM"
### Summary

When running the filepond test suite - `npm run test`, the test run fails in `server.test.js`, however, this problem occurs in almost all the other test modules too (but the test run doesn't get that far). The error is:

[code]

which is coming from `matchMedia (src/js/app/view/root.js:98:29)`.

I wondered if perhaps I had out of date dependency versions but I've removed my `node_modu

[2020-05-13 18:08] jcohen02 commented on #495
I should add that this seems to be related to #494 which I discovered a short while ago when writing this up. However, I'm not clear if that issue relates directly to filepond's test suite or whether the error there is being generated from filepond's code when running tests on an application that uses filepond...

[2020-05-14 06:46] #495 closed

[2020-05-14 22:27] mverstegen opened #498 "Adding metadata on input field not working"
I'm trying to use the metadata functionality to use it in the server-progress, but i can't get the metadata set.

We initiated multiple fileponds on one page, for each product one. If i dragdrop a file on a filepond, i want to add the productid to the file as metadata so i can save the image to that specific product.

See code screenshots
![image](https://user-images.githubusercontent.com/6741545/

[2020-05-15 06:17] rikschennink commented on #498
Works fine here: https://codesandbox.io/s/vanilla-filepond-metadata-example-iu0ol?file=/src/index.js

Will close for now, please (as requested in issue template) ask questions on Stack Overflow.

[2020-05-15 06:17] #498 closed

[2020-05-15 06:23] rikschennink commented on #489
I think also the FilePond `imageCropAspectRatio` needs to be in "human readable format" so '1:1'.

Will close because inactive.

[2020-05-15 06:23] #489 closed

[2020-05-15 20:45] woodreamz commented on #212
Hi,

If you implement options to configure how metadata are added, it could be great if we can also remove the metadata part from the payload (at least when metadata is empty, currently, it sends an empty object stringified).
On my side, I encounter the same issue as described [here](https://stackoverflow.com/questions/56044285/when-uploading-a-single-file-filepond-submits-an-empty-file-before-sub

[2020-05-17 06:47] mtr1990 opened #499 "How is keep image type image/png, image/jpg when update file ?"
I have two function CREATE and UPDATE Category
Category include two field : name and image

When I create image have type image/png

but When I update category name (not update image ) and submit save => image convert to type blob

How is keep file as image/png

Please help, Thank!

![Artboard](https://user-images.githubusercontent.com/13531993/82137735-cd6ea500-9844-11ea-8c23-884deab0ddac.jpg)
<i

[2020-05-17 08:01] rikschennink commented on #499
Hi,  please use Stack Overflow for questions, see issue template.

[2020-05-17 08:01] #499 closed

[2020-05-17 17:59] cngeru opened #500 "Getting url.split is not a function at getFilenameFromURL and Request for a fresher version"
Getting the error above from this code

[code]

Looks like this problem has never been solved

[2020-05-17 23:29] leoliu opened #501 "Backward incompatible change by 659ed15c59e460578d571b2ae246d72d29835035"
Hello fellow developer!

### Summary

I have been running always up-to-date filepond for 2 years and haven't seen any big issues for at least a year until `4.13.6`.

### How to reproduce

I have a callback which remove uploaded file from the dropping area if upload succeeds like this:

[code]

This is now completely broken in `4.13.6`.

### Expected behaviour

...

### Additional information

...

[2020-05-18 06:01] rikschennink commented on #501
That’s not a bug description, provide more details, the issue template is there for a reason.

Closed for now.

[2020-05-18 06:01] #501 closed

[2020-05-18 06:07] rikschennink commented on #500
This is related to the react implementation, will close this one and reopen the other one.

[2020-05-18 06:07] #500 closed

[2020-05-19 00:11] leoliu commented on #501
Sorry for the unhelpful bug report. Will come back to do it after finishing the work at hand.

[2020-05-20 16:58] alexdshark opened #502 "maxTotalFileSize option parameter being triggered, due to template size problem"
STATEMENT:
   maxFileSize set to 1 MB
   maxTotalFileSize set to 2 MB
   The file (file1) being mock-up in template is 100kb (specified in template size) shows gray template displayed.    [found workaround by making it negative]
   Now, when you load a 2nd real file, way less than 500kb, you get that maxTotalFileSize has been exceed it.   It appear that their is something wrong with template size

[2020-05-21 05:22] vommuan opened #503 "minFiles option support"
I develop a [module for Yii Framework](https://github.com/nowmovesoft/yii-filepond) to easy connect FilePond in project.

Yii contain option [minFiles](https://www.yiiframework.com/doc/api/2.0/yii-validators-filevalidator#$minFiles-detail) in FileValidator. I want to integrate Yii validators to FilePond. So, it will be better to use FilePond validation abilities instead of provided by Yii.

That's

[2020-05-21 06:29] rikschennink commented on #503
While I can see use cases for this, it's also "easy" to determine this using the FilePond API, so will close for now.

[2020-05-21 06:29] #503 closed

[2020-05-22 03:20] vommuan commented on #503
Ok. Can you suggest, what API calls I should use for that?

[2020-05-22 05:28] yovichi opened #504 "Remove file in filepond client-side without triggering revert function"
Hi, first of all, thanks for this wonderful tool for file upload.

I've just noticed that there was an update on the latest version 4.13.6 related to revert function. I used to have 4.13.4 installed in my apps but when I ran npm install yesterday, filepond's removeFile function now triggers revert function which basically triggers file removal in the server. My system requirement prior this update

[2020-05-22 06:48] rikschennink commented on #503
You can use `getFiles` to see how many files are in the list currently

[2020-05-22 06:56] rikschennink commented on #504
I'm not sure I understand the use case, but if the files should not be removed, maybe add mock files?

[2020-05-22 07:22] yovichi commented on #504
I'm not sure if adding a mock file will work as an alternative, but here's my code for you to clearly visualize what I want to achieve.
In 'pondOptions' I have this defined

`
revert: (objectParam, load, error) => {
          var params = JSON.parse(objectParam);
          // Func to delete the file from the server
}
`

then I also have this function to perform some logic once file is successfully

[2020-05-22 07:25] vommuan commented on #503
Thank you.

[2020-05-22 10:41] rikschennink commented on #504
Okay, now I understand, hmm might be better to revert the change and add a parameter to the API method. I’m going to give it some though.

[2020-05-22 11:25] rikschennink commented on #504
Published `4.13.7` should restore functionality to normal.

To trigger revert you can now pass `{ revert: true }` to the `removeFile` method.

[2020-05-22 11:26] rikschennink commented on #501
Probably fixed by `4.13.7`

[2020-05-22 11:28] rikschennink commented on #143
@sbusch this functionality has been reset in `4.13.7` as it caused backwards incompatibility issues, you can still trigger revert by adding `{ revert: true }` as a parameter to `removeFile()` or `removeFiles()`

[2020-05-22 11:33] yovichi commented on #504
Thanks @rikschennink. I really appreciate your help. :) Very nice work.

[2020-05-22 11:33] #504 closed

[2020-05-22 14:02] leoliu commented on #501
Indeed it's fixed in `4.13.7`. Thanks.

[2020-05-22 14:44] vjanssens opened #505 "Order of hidden input fields incorrect (multiple occasions)"
**Describe the bug**
The order of the hidden input fields in .filepond—data does not reflect the order that was given when initializing filepond for existing images.

I've followed the details as described [here](https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files).

I pass an array of images as shown below. The prefix _1 and _2 is in the correct order:
![afbeelding]

[2020-05-22 14:49] sbusch commented on #143
@rikschennink Thanks for the heads-up, didn't expect that kind of service! I'll update & test it

[2020-05-24 19:08] vjanssens commented on #505
I'm not sure if it's related, but i'm getting similar out of order results when **uploading** multiple files at a time. The UI shows the images in the correct order, but `filepond--data` is in the exact opposite order (3, 2, 1, instead of 1, 2, 3).

[2020-05-25 08:10] sbusch opened #506 "API for renaming already-uploaded files"
(*I asked this [previously on Stack Overflow](https://stackoverflow.com/questions/61749391/filepond-api-for-renaming-already-uploaded-files), but got no answer. As far as I understand Filepond's source, there is currently no API for that, so I create this issue as a feature request*)

I'm using Filepond for uploading files to a custom helpdesk system. I need to implement a UI for renaming already-

[2020-05-25 14:58] rikschennink commented on #506
I somehow missed the SO question.

I think forking the file rename plugin is the easiest approach. You can then observe file changes and update inner DOM elements accordingly. You can listen to onactivate file to request a new name and then update the file metadata accordingly.

[2020-05-26 05:42] dannya opened #507 "[HAS PR #508] File not uploading in Edge browser, stalls at "Uploading" stage (no percentage)"
**Describe the bug**
In Microsoft Edge on Windows 10 (Microsoft EdgeHTML 18.19631, Microsoft Edge 44.19631.1.0), when trying to upload a file using FilePond, once the file is selected, the status doesn't proceed past the "Uploading" state with spinner in the UI. There are no console messages, and no AJAX request is made to my /upload endpoint.

File status stays at `PROCESSING (3)`

This same exam

[2020-05-26 06:07] dannya commented on #507
Interestingly, the first example upload form at https://pqina.nl/filepond/#examples does work for me in Edge, so there is obviously some issue somewhere between however that example is configured and build, and my own React project.

I think my changes in PR #508 are still worthy of consideration regardless.

[2020-05-26 23:00] hugosoli opened #509 "File does not upload"
Hi, I have follow the tutorial,
I want to have a simple basic file uploader.
This is my testing webpage on a server. I am sure the folder "files" exists.
No error no probles, just the file is not uploaded. The web says it is uploading, it finished, etc. Any help would be good thansk
`<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devic

[2020-05-27 04:49] rikschennink commented on #509
As stated in issue template, please use stack overflow for questions.

[2020-05-27 04:49] #509 closed

[2020-05-28 01:04] timavaza commented on #238
Hi there,
+1
I'm looking for this too. An example of a well known product that uses this UI interaction would be Slack. Notice on file upload the user can add description, and start the upload on all files. The user cannot individually upload each file.

[2020-05-28 07:00] rikschennink commented on #505
I've confirmed the issue, will look into this as soon as possible. 👍

[2020-05-28 07:42] zhnoah opened #510 "Can file types be validated by file extensions？"
Such as '.jpg, .jpeg, .png, .gif'

If use MIMETYPE, will have some intrusive files, like .pjp .pjpeg

[2020-05-28 07:58] rikschennink commented on #510
https://github.com/pqina/filepond-plugin-file-validate-type/issues/13

[2020-05-28 07:58] #510 closed

[2020-05-28 08:16] thanosalexander opened #511 "Can't send diferrent filename to server"
I have this configuration

[code]

and i try to send a custom name to server (`name: '{{{config('filepond.input_name')}}}',`) ,
but instead it sends the input's file name.

Is there something i miss?

[2020-05-28 12:02] Asad4429 opened #512 "Issue in uploading large number of images"
**Describe the bug**
I uploaded 200 images (2-4 MB each). Only few images were uploaded successfully while all other images got stuck in "Uploading" state even after wait of more than an hour. I am using react-filepond.

**To Reproduce**
Upload 200 images

**Expected behavior**
All images should upload successfully .

**Information about your project:**
- Browser: Firefox 76.0.1 (64-bit)

-  OS: M

[2020-05-29 08:07] Evertt opened #513 "Nobody's responding to my SO question, can you please help me?"
I haven't been able to fix this for a long time now and there's a deadline coming up to deliver the website I'm working on. I would really appreciate it if anyone could look at it for just a few minutes.

https://stackoverflow.com/questions/61952436/why-does-filepond-render-incorrectly-on-my-website

[2020-05-29 08:09] #513 closed

[2020-05-29 11:40] rikschennink commented on #511
The `name` property is for setting the input field name. If you want to change the file name you can use the file-rename plugin. https://pqina.nl/filepond/docs/patterns/plugins/file-rename/

[2020-05-29 11:40] rikschennink commented on #507
@dannya Thanks so much for your effort, I will look into this as soon as possible.

[2020-05-29 15:28] emery opened #514 "Fetching cloudinary file triggers a process call"
Hello,

After fetching already uploaded files from Cloudinary, the custom server process function is called, uploading the file again on the cloud.

- Here is my fetch function:
`    fetch: (source, load, error, progress, abort, headers) => {
      var myRequest = new Request(source);
      fetch(myRequest).then(function(response) {
        response.blob().then(function(myBlob) {
          progres

[2020-05-29 16:58] leonardoarruda commented on #39
I installed FilePond yesterday but needed to translate it, so I made translation in brazilian portuguese. Maybe it is useful for someone. And congratulations for the library, it is very nice.

Best regards.

[code]

[2020-05-30 11:21] rikschennink commented on #514
You haven’t set a file type see server docs, in this case probably “local” if it’s a temp upload it should be “limbo”

[2020-05-30 11:21] #514 closed

[2020-06-02 20:44] rikschennink commented on #506
Closed because inactive

[2020-06-02 20:44] #506 closed

[2020-06-03 11:04] jvpelt opened #516 "Uncaught TypeError: state.request.abort is not a function"
**Describe the bug**
In my Jest test sometimes during destroy(), it generates an error

**Logs**
<details>
TypeError: state.request.abort is not a function
      at Object.abort (node_modules/filepond/dist/filepond.js:5751:18)
      at node_modules/filepond/dist/filepond.js:6169:31
      at Object.abortProcessing (node_modules/filepond/dist/filepond.js:6154:14)
      at node_modules/filepond/dist/

[2020-06-04 07:48] rikschennink commented on #146
Now available in `4.15.0`

[2020-06-04 07:48] #146 closed

[2020-06-04 07:49] rikschennink commented on #516
Will close this and discuss further in PR.

[2020-06-04 07:49] #516 closed

[2020-06-04 07:49] rikschennink commented on #511
closed because inactive

[2020-06-04 07:49] #511 closed

[2020-06-05 01:32] hypernova7 opened #518 "How to convert any image to webp?"
Any way to convert any image to webp with filepond?

[2020-06-05 05:45] rikschennink commented on #518
Closed because doesn't follow issue template

[2020-06-05 05:45] #518 closed

[2020-06-05 12:21] dataconnectnl opened #519 "data attribute on load from file input"
hi,

first like to say that I love filepond... top notch well done!
second the question or questions

i'm writing a upload page for users to upload their car pictures.
The problem i'm facing is to get it to work like i want. I need to generate 8x instances.
it's not pretty but gets the job done.

the idea is to use the class .filepond to load 8 instances of filepond. I already successfully done th

[2020-06-05 12:34] rikschennink commented on #519
Closed.

**See issue template:**

This issue tracker is intended to collect bug reports and feature requests.

For help with integrating FilePond, information on how features work, or questions about specific features of FilePond, please use [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond). Any issues open for help requests will be closed to keep from clogging up the issue tra

[2020-06-05 12:34] #519 closed

[2020-06-08 08:42] rikschennink commented on #507
@dannya It looks like the `Blob` polyfill is causing the problem. If you remove it from the list everything works as expected.

[2020-06-08 17:48] bmalin92 opened #520 "MS Outlook .msg file not uploading properly"
This has been posted elsewhere, but I have yet to see any solution or response for a full resolution. The "application/vnd.ms-outlook" filetype with the ".msg" extension can't be properly uploaded right now with FilePond as far as I can see.

The lack of proper support means when clicking Browse to select a file to upload, the .msg files will always be grayed out. The only workaround is to drag th

[2020-06-08 18:20] LuisSevillano commented on #39
Thank you for the amazing library and thank you @leonardoarruda for the Portuguese translation. I also made a translation into Spanish. Maybe it is also useful for someone:

[code]

[2020-06-09 06:10] rikschennink commented on #520
Just published version `4.16.0`, it should address this issue.

If the `accept` attribute isn't set to the same value you can select all files and validation happens inside FilePond.

[2020-06-09 10:40] dannya commented on #507
Thanks for your investigation into this @rikschennink, I can confirm that removing the Blob polyfill resolves the issue.

That said, I think the changes in my PR (aside from the comment typo and console.log) are still relevant, with the key change being a simplification to using the existing `isFile` utility function, but you can use your own judgement on this.

[2020-06-09 10:40] #507 closed

[2020-06-09 15:22] bmalin92 commented on #520
Thanks for the update! This allows me to add the file through the Browse capabilities. Unfortunately uploading .msg files still prevents the data on the .msg from appearing on the item once uploaded. Basically, any other file I upload, the title of the file will appear as the title in the uploaded item. The .msg will just be blank. Am I not writing this correctly?
[code]

[2020-06-10 07:35] Silbad opened #521 "onreorderfiles fires too many events"
Hello,

**Describe the bug**
onreorderfiles fires too many events, so if you want call an ajax request, you have too many calls

**To Reproduce**
Drag image.

**Expected behavior**
Fire event when you drop the image, not when you drag.
Or add a drop event ?

**Additional context**
Test with jQuery

Thanks ^^

[2020-06-10 09:57] rikschennink commented on #521
It currently should fire an event when the index changes. Does it fire events when it stays the same?

[2020-06-10 10:24] Silbad commented on #521
If I drag & drop an image, I have 11 events (test with two images)

[2020-06-11 01:30] Daviid-Perez-S commented on #238
Hi there too,

It´s just what I´m looking for ohhh 😱 !!
Also I´ve tried many ways to *"hide"* o *"disable"* **Upload Button** in the top right corner of card file, but I haven´t succeeded 😢. I´ve already tried with the property:

[code]

, but this doesn´t work (at least when i wrote this comment).

The only thing that works right (or pretend resolve this one) is the @Silver96's answer just some c

[2020-06-11 07:21] rikschennink commented on #520
That snippet looks okay.

But I'm not sure what you mean with this:

Is the file empty after upload?

It does how the correct name, if that's what you mean?

![Screenshot 2020-06-11 at 09 19 04](https://user-images.githubusercontent.com/1132575/84356664-ce38f380-abc4-11ea-8cd5-11cae0a8a23b.png)

[2020-06-11 08:42] rikschennink commented on #505
Should be fixed in 4.17.0
https://github.com/pqina/filepond/releases/tag/4.17.0

[2020-06-11 08:43] rikschennink commented on #238
`allowRevert` is now available in `4.17.0`
https://github.com/pqina/filepond/releases/tag/4.17.0

[2020-06-11 08:55] tutuk-flowdesk commented on #399
@rikschennink  Hello i'm pretty new to programming. I am coding with React Hooks and trying to solve this problem. Can you maybe show me a little example for this custom `server.process`?

[2020-06-11 09:02] HapLifeMan commented on #238
Thank you @rikschennink, great job 😊🙏🏻

[2020-06-11 09:02] #238 closed

[2020-06-11 09:07] rikschennink commented on #399
@tutuk-flowdesk better to ask this on Stack Overflow

[2020-06-11 09:23] rikschennink commented on #521
Fixed in 4.17.1, event now also receives `origin` and `target` properties which contain indexes
https://github.com/pqina/filepond/releases/tag/4.17.1

[2020-06-11 09:39] Silbad commented on #521
At the top ! Thanks for the reactivity ^^

[2020-06-11 09:39] #521 closed

[2020-06-11 09:49] tutuk-flowdesk commented on #399
@rikschennink  okay, thank you for that fast answer.

[2020-06-11 10:22] Silbad opened #522 "Reorder with a mix of new files and initial files not work very well"
Hello

**Describe the bug**
When you have initial files and new files uploaded, the reorder by drag & drop not work very well. I test with 1 initial file and two new files. The drag & drop don't want sometimes.

**Expected behavior**
Drag & drop new files and inital files works like just new files uploaled

Thanks :)

[2020-06-11 14:07] Daviid-Perez-S commented on #238
Thanks so much @rikschennink, this new version was released exactly in the perfect moment 👏🏻.

[2020-06-11 17:52] bmalin92 commented on #520
When testing this elsewhere, we found that it worked correctly, and we determined there was a server-side issue causing the empty file after upload on the other page.

Do you happen to know why .msg files seem to have issues being accepted file types? We're happy we can upload them now, but we're also hoping someday we won't need to set `allowSyncAcceptAttribute` to false.

[2020-06-12 06:10] rikschennink commented on #520
See: https://pqina.nl/filepond/docs/patterns/plugins/file-validate-type/#custom-type-detection

It's probably that the system uses a different type and so setting the type synced to the `accept` attribute doesn't match the system type and the files cannot be selected. If you can find out what type the system uses it might work.

[2020-06-12 06:10] #520 closed

[2020-06-12 14:54] dataconnectnl opened #523 "ReplaceOnClick"
enhancement:

There is allready this function: allowReplace. However that is only for D&D. the idea is to click on the upload or poster to replace it with a click instead of D&D. if enabled dont show the remove button or optional.

'ReplaceOnClick'

It only requires one touch or click instead of first touch/click the remove button.

[2020-06-15 09:34] rikschennink commented on #522
I can't reproduce this. Please provide a concise test case.

[2020-06-16 06:17] vjanssens commented on #505
Hi Rik, thanks for looking into this but 4.17.1 does not seem to completely resolve the issue. The UI shows the images in the right order as I've set them in the `files: []` array, but the `.filepond--data` DOM element gets populated reversed. This is only when initializing Filepond. After I reorder 1 item, the rest of the hidden input fields in `.filepond--data` are set in the right order.

[2020-06-19 09:00] rikschennink commented on #505
@vjanssens alright, will retest next week.

[2020-06-19 16:04] jacintofleta commented on #469
Hello, I'm having the same issue, I followed #465 but I can't get how to solve this. Could you show me your solution? Thank you.

[2020-06-20 08:39] vjanssens commented on #469
Update of filepond solved this issue. Try to reorder the images _before_ submitting the form, as #505 is still a bug.

[2020-06-21 16:51] bagnus opened #525 "Uncaught exception (in promise) after HTTP 500 (Internal Server Error)"
Hi,
trying to test for server errors during file store at end of upload.
I use PHP Filepond Uploader server with my own file save PHP procedure.
Any exception thrown into one of PHP methods is converted (by handle_server_exceptions()) into http 500 error (this is expected).

Everything works (ex: the graphic file thumbnail get red color and the user is allowed to try again), but I obtain also a Ja

[2020-06-21 21:44] Kurbezz opened #526 "Export all types"
When use vue-filepond with typescript can't define type of callbacks, server option and etc.

Export all types for better types checking with typescript.

Example:

[code]
or can't do
[code]

[2020-06-22 08:44] rikschennink commented on #505
I've confirmed the issue, it should be fixed in `4.18.0` 👍

[2020-06-22 15:06] Kurbezz opened #527 "Wrong type declaration"
Wrong type declaration of FilePond.addfFile options argument when add file without load.

addFile: (source: ActualFileObject | Blob | string, options?: { index: number }) => Promise<File>;

Options argument same as [this comment](https://github.com/pqina/filepond/issues/33#issuecomment-398480072).

[2020-06-22 17:15] rikschennink commented on #527
Feel free to submit a PR

[2020-06-25 16:15] smithbrianscott opened #529 "FilePondOptionProps missing fileRenameFunction"
I updated filepond to the latest version (4.18.0) and I am now getting an error with filepond-plugin-file-rename. It looks as though the previous version I was using (3.3.0) didn't have an interface for "FilePond.setOptions" and now in version 4.18.0 the interface is FilePondOptionProps which doesn't have any a property for fileRenameFunction. According to this documentation the way it is written

[2020-06-26 06:04] rikschennink commented on #529
Can you try adding the below as a `types.d.ts` file:

[code]

I've set `any` to the `fileRenameFunction` for testing purposes

[2020-06-26 17:07] Codth opened #530 "FilePond cannot properly upload large file (> 2mb)"
When I upload a file that is larger than around 2mb, I found that the data I got from the server side is not complete.  (May be because the file is too large for url to take from client to server ? ) Since I realize the problem, I started to use file-upload middleware, such as Multer or Express-fileupload to upload a large file through FilePond. However, It does not work. Therefore, I want to know

[2020-06-27 03:40] smithbrianscott commented on #529
That works, thank you!

[2020-06-27 03:40] #529 closed

[2020-06-27 07:47] rikschennink commented on #530
Closed because doesn't follow issue template.

Please note that uploads above 2MB can be done without issue, this is most likely a server configuration issue.

[2020-06-27 07:47] #530 closed

[2020-06-28 14:11] #505 closed

[2020-06-28 14:12] rikschennink commented on #522
Should be fixed in `4.18.0`

[2020-06-28 14:12] #522 closed

[2020-06-28 14:13] rikschennink commented on #523
I don't feel this is a thing that should be in core, I think you can implement this yourself with `onactivatefile` ?

Will close for now.

[2020-06-28 14:13] #523 closed

[2020-06-28 19:35] Kurbezz commented on #527
#528

[2020-06-29 15:34] 43874 opened #531 "How to load a locally stored image with Laravel?"
Could anyone show me a working example of how to simply load a file stored on the server, which correctly assigns the image server ID to the input element?

[2020-06-29 16:53] rikschennink commented on #531
Closed because doesn’t conform to issue template. Please post questions on Stack Overflow.

[2020-06-29 16:53] #531 closed

[2020-06-30 07:40] ziming commented on #192
Just curious when you load and show the already uploaded files, do the bar shows as green or grey? How to show it as green?

[2020-07-01 11:21] zyyoo commented on #24
Is that easy to understand? FormData + getFiles
[code]
[code]

[2020-07-01 11:44] philipca opened #532 "Is it easy/possible to add success/failure text under image preview"
I am not a programmer, but am employing one to integrate filepond into my simple (hand-coded/non-framework) website.
I would ike to have messages appear underneath the preview, informing user of success, failure, hints, etc.
Is this possible to do?
Is it easy to do?
Advice and instruction on this would be appreciated.

[2020-07-01 12:05] rikschennink commented on #532
Hi, as requested in the issue template, please ask questions on Stack Overflow.

[2020-07-01 12:05] #532 closed

[2020-07-01 13:16] tom-byrom opened #533 "Hidden input value="undefined" with JSON response"
Everything uploads correctly in the background and I get a response from my server in JSON,

`{"success":true,"filename":"image1.png","assetId":946}`

But it doesn't populate the hidden field with the assetId.

Also is there anyway to change the hidden input name after successful upload as well? As Craft the CMS needs the field which it should be saved/linked to? Annoyingly I need one name for the

[2020-07-01 16:48] rikschennink commented on #533
As requested in the issue template, please ask questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

[2020-07-01 16:48] #533 closed

[2020-07-02 13:08] vasemkin commented on #39
For people looking for russian translation:
[code]

[2020-07-02 15:38] hanzlahabib commented on #246
What??????

[2020-07-02 15:38] hanzlahabib commented on #246
Whattt??????

[2020-07-02 15:52] hanzlahabib commented on #246
Hi Strenget please try this

[code]
it works for me

[2020-07-02 17:59] rikschennink commented on #246
There's an issue template to adhere to when submitting a new issue, if an issue doesn't follow the template, it's closed.

[2020-07-02 18:41] hanzlahabib commented on #246
You can ask for more details, and wait until you get more detail, if they respond, answer the query if they don't you are free to ignore this issue and close this with tag incomplete details given,

[2020-07-03 08:42] Zwimber opened #535 "IE 11 - Object doesn't support this action"
**Describe the bug**
On IE11 this error is thrown for almost every user

**Logs**
![Screenshot 2020-07-03 at 10 38 36](https://user-images.githubusercontent.com/6017921/86450269-8c115680-bd19-11ea-91c5-8dbba397fa08.png)

**To Reproduce**
1. Install IE11.
2. Upload a file with FilePond

**Expected behavior**
Upload file without throwing this error

**Stacktraces**

<details>
  <summary>Object doesn

[2020-07-03 08:43] Zwimber commented on #535
Should've looked better to the resolved issues...

[2020-07-03 08:43] #535 closed

[2020-07-03 14:30] #527 closed

[2020-07-04 14:50] rikschennink commented on #462
Has been added by PR

[2020-07-04 14:50] #462 closed

[2020-07-06 11:32] prince272 opened #536 "Order of file names during submit wasn't correct after setting initial files."
After initial files, try submitting the files to the server. You'll notice that the order changes.

[2020-07-06 11:39] rikschennink commented on #536
Please follow issue template.

[2020-07-06 11:39] #536 closed

[2020-07-07 09:53] Obiwarn opened #537 "How can I cancel revert and remove events?"
I would like to add a confirm dialog to the file deletion. Right now I return error() when the user cancels the deletion dialog.

[2020-07-07 10:01] rikschennink commented on #537
Hi @Obiwarn as requested in the issue template, please ask questions on Stack overflow. I also would like to point you to the docs 👉 [beforeRemoveFile](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#hooks)

[2020-07-07 10:01] #537 closed

[2020-07-10 09:54] sajadghobadi opened #538 "how to start upload file by user click on submit or button"
i need to upload file by click on submit or any user input and after user click filepond start uploading with progress and etc.
please help

[2020-07-10 10:08] rikschennink commented on #538
Closed as the issue doesn’t follow the issue guidelines.

Please ask questions on Stack Overflow.

[2020-07-10 10:08] #538 closed

[2020-07-11 07:51] zhaoxin opened #540 "Any method to add clickable link to label?"
Hi,

Thanks for this awesome project.

I want to add a clickable link to labelFileProcessingComplete for my users take some action on succeed uploading.
e.g. "Upload succeed. <a href='/view_data'>Go to view data</a>"
But it seems that the HTML is escaped in the label.
Any method or planned feature for this?

Regards.

[2020-07-11 08:16] Tofandel commented on #39
Would be so much easier indeed if those locales could be added to a locales folder in .json and then imported into filepond as needed..

Eg:
[code]

That was the point of the author of this issue

[2020-07-11 09:57] philipca opened #541 "filepond.supported not working as expected"
The following code:

[code]

does NOT result in the user being taken to the file "not-supported.php"
when the page is opened in Safari 7 or 8, or in Android 5.

[2020-07-11 11:53] rikschennink commented on #39
@Tofandel This is the advise I was looking for, thanks!

I've created a `locale` directory and have added the Brazilian Portuguese translation file, PR's for other locales are very welcome.

[code]

[2020-07-11 12:02] rikschennink commented on #540
No feature planned for this, I'd advise to hide FilePond or show the message above the drop area instead of in the file itself where space is limited.

[2020-07-12 00:38] zhaoxin commented on #540
Got it. Thanks.

[2020-07-12 00:38] #540 closed

[2020-07-13 16:35] Tofandel commented on #39
Okay that's already a first step :+1: now adding the options API as I described would be good, I already made one externally so I can do a PR without too much work in a few weeks

[2020-07-13 16:40] rikschennink commented on #39
@Tofandel I'm not sold yet on the idea of having locale handling inside FilePond, a lot of projects don't need it, and with `setOptions` it seems that loading a new locale is as straightforward as calling `setOptions(newLocale)`

[2020-07-13 18:31] prince272 commented on #434
So how do i change it to 1024

[2020-07-13 19:48] Tofandel commented on #39
Okay but then you should considering making the options nested, that is having all labels under a "label" options, at least when exposed trough the set options externally, it's really not a good idea to mix labels and options all at the same level, it also makes the translation files unnecessarily big, they should look like this
[code]
Where plugin translations are nested under their name and with

[2020-07-14 07:49] rikschennink commented on #434
You’d have to edit the src files

[2020-07-14 11:27] serendipity1004 opened #542 "Filepond preview but don't upload feature"
This is a great library to upload images and files (post request). However, it would be even better if we can use it for patches. Say for example, right now, if we programmatically trigger addFile it will upload the file to the server. However, I think it would be useful if we can just provide the preview of already uploaded file and do not process the upload. This way, users can view the files al

[2020-07-14 12:13] rikschennink commented on #542
https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

[2020-07-14 12:13] #542 closed

[2020-07-14 12:46] rikschennink commented on #39
Why not?

IMHO gzip takes care of all that duplication, it's a decision I made at the start of the project, maybe I'll change this in a new major release but it hasn't been a deal breaker so far. It might be a bit tedious, but once a translation file is written it's pretty much done.

Also, I guess plugin translations should be in the plugins instead of in the core as it's a bit wasteful to get al

[2020-07-14 15:58] Tofandel commented on #39
Plugins translations is exactly where the local api would be useful, as you'd have to import the local for each plugin separately (Already importing multiple plugins and setting them up is such a pain, I'm using more than 7 and it took me more than a day to set it all up) So if you also need to manage and import translations for each plugin separately, you'll just want to dig a hole and cry in it.

[2020-07-15 10:17] SerzhanHelena opened #543 "remove load button after file is uploaded automatically"
I want to upload my file automatically and I used server property to do this. After my file is uploaded, I want to click button x to show pop up and delete it, I do this with revert method. But when I click this button, the panel with file is changed and I have two buttons "load" and "x".
[code]

![image](https://user-images.githubusercontent.com/32465547/87533775-c544b180-c69d-11ea-9771-4ffc321e3

[2020-07-16 18:38] josuemontano commented on #493
@rikschennink is anyone working on this bug? I could open a pull request if not.

[2020-07-17 05:21] rikschennink commented on #493
Feel free to submit a PR

[2020-07-17 14:33] rikschennink commented on #39
I'm on a short vacation, will get back to you in a couple weeks.

[2020-07-19 08:29] ugrupp commented on #39
Hello everyone, these are the german translations:

[code]

[2020-07-19 22:26] prince272 commented on #434
how. I don't understand.

[2020-07-20 09:14] sbusch commented on #143
@rikschennink better late than never:

`removeFile()` works as expected:

- `removeFile({revert: false})` removes first element and doesn't revert (= no `DELETE` XHR)
- `removeFile({revert: true})`  removes first element **and reverts the upload** with a `DELETE` XHR

But I cannot get `removeFiles()` working.  Behavior is the same for `removeFiles({revert: false})` and `removeFiles({revert: true})

[2020-07-20 15:22] rikschennink commented on #543
Closed because doesn't follow issue template. Please use Stack Overflow for questions.

[2020-07-20 15:22] #543 closed

[2020-07-20 19:25] felixdenoix commented on #246
@hanzlahabib, Maybe since @rikschennink coded and offered the module for free to the community the people that are using it can make a tiny weeny bit of effort by respecting the authors guideline on asking a question ? Don't you think ?

[2020-07-24 05:09] AltiumWilliam commented on #243
Hi.
I have same problem. In clients with good hardware this issue is not affected anything and no one feel anything, but in clients with weak hardware it cause CPU usage up to 20%.
I can't load it when I needed because I load this plugin with webpack and it loads filepond on it's startup.
the only way I can fix it is define a global variable (window.hasFilepond) and on vue component beforeMount me

[2020-07-24 12:02] rikschennink commented on #243
@AltiumWilliam The draw loop is used to detect changes in layout and animate the items and drop area accordingly. Maybe the loop can be auto-paused when FilePond is inactive, the trick is to detect changes, maybe we could use `ResizeObserver` for this.

I'll see if I can take another look at this next week.

[2020-07-24 20:06] AltiumWilliam commented on #243
Thanks for quick reply. I'll be happy to see it. You uploader is amazing and I didn't like to switch to another plugin. I see this issue lase week when one of my clients say his computer hang when my program running, when I see his computer, I saw CPU usage is 100% and when program close it reduce to 0%! My program has another performance problems but one the problems was this tick! By increasing

[2020-07-25 12:26] rikschennink commented on #243
@AltiumWilliam It shouldn't really impact performance that much, it will only run the function each frame, but the function doesn't do anything as long as FilePond is in idle mode (all animations are in rest state). Still, it would be nice of the tick function wouldn't be called at all in that situation.

[2020-07-27 09:38] rikschennink commented on #493
Should be fixed in 4.19

[2020-07-27 09:38] #493 closed

[2020-07-27 09:39] rikschennink commented on #541
Need more details on which which Android 5 browser is used.

Detection of Safari 7 / 8 is improved in release 4.19, will close for now.

[2020-07-27 09:39] #541 closed

[2020-07-27 09:39] rikschennink commented on #143
@sbusch should be fixed in release 4.19

[2020-07-27 09:44] edant92 opened #544 "When 'allowReplace' is enabled, replacing file calls onaddfile three times"
### Summary
When 'allowReplace' is enabled (and `allowmultiple` is disabled as detailed [here](https://pqina.nl/filepond/docs/patterns/api/filepond-instance/#properties)), replacing file via drop calls onaddfile three times.

### How to reproduce
Set `allowReplace` to enables and `allowmultiple` to disabled and, after uploading an image, replace it by dropping another.

### Expected behaviour
`ona

[2020-07-28 14:18] mjsaijem09 opened #545 "Error: ER_DATA_TOO_LONG: Data too long for column 'filepond'"
Whenever I submit my data to mysql

div class="form-group filepond-custom-style">
<input type="file"
    class="filepond"
    name="filepond"
    multiple
    data-allow-reorder="true"
    data-max-file-size="3MB"
    data-max-files="3">
</div>

.exe@DESKTOP-HHWE2RX MINGW64 ~/Desktop/js_audio_visualizer_pro (master)
$ node app.js
Server is running at port 3000
Database Connected!

Error: ER_DATA_T

[2020-07-28 14:31] rikschennink commented on #545
Hi, this is a MySQL question and not a question related to FilePond library, please ask it on Stack Overflow.

[2020-07-28 14:31] #545 closed

[2020-07-29 08:02] LostKobrakai opened #546 "npm package doesn't ship locale files"
https://unpkg.com/browse/filepond@4.19.1/

There are no locale files in there.

[2020-07-29 08:09] rikschennink commented on #546
Silly me forgot to adjust the `files` property in the package.json, updating now.

[2020-07-29 08:13] rikschennink commented on #546
Fixed in `4.19.2`

[2020-07-29 08:17] #546 closed

[2020-07-29 14:28] LostKobrakai opened #547 "Pass object to `load` in a custom `server.process` callback"
**Describe the bug**
The input parameter type for `load` within a `server.process` callback allows for objects or strings:
https://github.com/pqina/filepond/blob/d1dd6dbfb6259d51c77bf07a9f1e0d33c1d90777/types/index.d.ts#L136

When I supply an object the hidden input does not have a proper value though, but it's set to `undefined`.

**Expected behavior**
Supplying an object does work.

**Informatio

[2020-07-30 10:45] FBeraZulaloglu commented on #254
I have the same problem but is this problem relevant to filepnd or any file api in web ?

[2020-07-30 13:44] rikschennink commented on #254
@FBeraZulaloglu see my earlier reply:

[2020-07-31 09:27] rikschennink commented on #547
I believe the object should have a `body` property like so.

[code]

I'd advise to return a string instead. The object format is used internally.

[2020-07-31 12:24] LostKobrakai commented on #547
Ok, I've just serialized the object to json for now, so I'll just keep doing so.

[2020-07-31 12:24] #547 closed

[2020-07-31 12:41] rikschennink commented on #547
@LostKobrakai Just make sure each object serialisation results in a unique string.

[2020-07-31 12:43] LostKobrakai commented on #547
The object includes the unique path. I just need to also send back the original filename, as it might not be part of the path and the upload alone doesn't store it elsewhere.

[2020-08-01 00:05] xcrap opened #548 "Image Thumbnail Creation with Resize"
Hi Guys, need help.

I have this code that should resize big files to a limit of 2000 pixels width/height, and them create a thumbnail of 500px.
Works fine when images are below 2000 pixels, if they are smaller if appears if affecting the imageTransformVariants probably because there's no resized image and I get this: "Uncaught (in promise) TypeError: Cannot read property 'size' of undefined".

My

[2020-08-01 00:46] xcrap commented on #548
PS. If I remove imageResizeUpscale it works perfectly, but I don't want to upScale the original image if it's below 2000, I just want to stay with it.

[2020-08-10 01:03] Danscap commented on #238
Fantastic. This is a crucial functionality, thank you for adding it. I just updated my filepond version to the latest.

Would it be possible to update the docs, @rikschennink ? This does not appear in the Properties section

[2020-08-10 05:56] rikschennink commented on #238
@Danscap Just added it to the [docs repository](https://github.com/pqina/filepond-docs), will be uploaded later.

[2020-08-10 16:09] Danscap opened #550 "File size validation (maximum file size feature) does not trigger at all. (see pics)"
Filepond: latest version (4.19)

react 16.8.0

**Relevant images of the problem:**

Imports and registering the plugins:

![image](https://user-images.githubusercontent.com/34867523/89804121-bec12280-db01-11ea-8366-225ec6780bed.png)

The filepond component... relevant areas:

![image](https://user-images.githubusercontent.com/34867523/89804247-e6b08600-db01-11ea-8e64-4f72134599ec.png)

How it is c

[2020-08-10 16:13] #550 closed

[2020-08-10 16:14] Danscap commented on #550
I am so sorry I had typos in my code, please ignore. I closed as soon as I realized my error.

[2020-08-10 16:24] rikschennink commented on #550
@Danscap no worries :-) 👍

[2020-08-10 17:23] osnodegeoffrey opened #553 "Headers update are not reflected in FilePond PATCH calls."
**Describe the bug**
My case is when I have huge file upload chunked. I have my JWT token in the headers but it expires during the upload.
My solution does update the token in the Vuex store and, as far as I can tell, it seems to get updated in the FilePond component (using Vue chrome extension) under props -> server -> patch -> headers. However the XHR calls are still using the outdated token and

[2020-08-12 21:04] royer-r-arevalo opened #551 "error using "beforeAddFile""
Hello

I'm trying to change the maxFiles property based on the selected file.

Example

by default set the maxFiles property to 5, in case the file being loaded is zip, the maxFiles property must change to 1.

to do this use the "beforeAddFile" event, which allows me to evaluate the file before it is loaded into the component and thus change the property.

but this event throws me the following er

[2020-08-13 07:55] rikschennink commented on #551
Updating the property while files are being added will probably not work. I'd advise reading out the current files and then returning false if it's one file and it's a zip.

[2020-08-17 04:06] adars47 opened #552 "Removing files loaded from the server, does not fire any events"
**Describe the bug**
When i press the remove button, the image is removed from the UI, but no event gets fired or request gets send. This only happens for files loaded using file param during initalization. ( for files already uploaded in the server)

**Logs**
Nothing gets logged and no error is posted in the console.

**To Reproduce**
Create an files array, and pass it as the option during initia

[2020-08-17 06:04] rikschennink commented on #552
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-08-19 07:20] rikschennink commented on #553
Not sure if this will fix this specific issue but you can set the server `headers` property to a function, in which case FilePond will call this function before each request to get the headers.

You will have to supply these chunk props yourself. `chunk` has a reference to the `file` so that should be possible.

[code]

See FilePond inner logic below:
[code]

So something like this should work:

[

[2020-08-19 11:17] osnodegeoffrey commented on #553
Thanks Rik.
I checked it out and it works.

A couple of notes though:
- I believe it should be in the patch part of the configuration
- If anyone else comes across this, you would need to add the headers created for you in the default inner logic

Here is my sample from my Vue file using Vuex store:
[code]
This works even if it is set in the `data` element (not needed to have it in `computed`

Dan

[2020-08-19 11:28] rikschennink commented on #553
Thanks, I've updated the code snippet accordingly

👍 💯

[2020-08-19 11:28] #553 closed

[2020-08-21 02:02] allgrowsm commented on #39
Hello there,

I made Japanese one as well.

const labels_JA = {
    labelIdle: '画像又はビデオをドラッグ&ドロップ又は <span class="filepond--label-action">ファイル選択</span>',
    labelInvalidField: "アップロードできないファイルが含まれています",
    labelFileWaitingForSize: "ファイルサイズを待っています",
    labelFileSizeNotAvailable: "ファイルサイズがみつかりません",
    labelFileLoading: "読込中...",
    labelFileLoadError: "ロード中にエラーが発生",
    labelFileProcessing: "読込中.

[2020-08-21 05:53] rikschennink commented on #39
If you created a new translations file, please add it to the [`locale`](https://github.com/pqina/filepond/tree/master/locale) folder and submit a PR 👍

[2020-08-21 05:55] rikschennink commented on #552
You need to implement the `server.remove` property, see:
https://pqina.nl/filepond/docs/patterns/api/server/#remove

[2020-08-21 05:55] #552 closed

[2020-08-21 05:56] rikschennink commented on #551
closed because inactive for 8 days.

[2020-08-21 05:56] #551 closed

[2020-08-22 13:45] ziming opened #554 "allowRevert: false doesn't remove the X button when initial files are loaded."
**Describe the bug**

My filepond component load the already uploaded files as seen in the screenshot below. The 3 files you see there are previously uploaded before I navigate back to the upload page.

https://share.getcloudapp.com/nOukv2O8

As you can see the X button is there allowing people to click it to have the file disappear from the filepond component. When the page refresh, the files com

[2020-08-24 02:50] ziming commented on #554
Edited!

[2020-08-25 10:51] micrac opened #555 "Reverting multiple files removes from server only first one"
When trying to revert multiple files (by calling pond.removeFiles()) that were added to filepond on client side only first one is removed from the server. Also, only first one is removed from UI.
I checked that files appear correctly on server side and filedpond collects appropriate fileServerIds from the server.

My observation: inside the method removeFiles(), when removeFile() is called, the fi

[2020-08-26 10:23] allgrowsm opened #556 "How to prevent from dropping the same file in jQuery?"
Hello,

Is it possible to prevent from droping the same file?

I have following set up in my enviroment and try to not drop the same file.

[code]
Best regards,

[2020-08-26 10:26] allgrowsm opened #557 "Is there any validation logic can be added before dropping the file?"
Hello,

I have select form in my system.

Before dropping the file, I want check that select form and if none selected then I want to cancel dropping the file.

Is it possible to do this?

Best regards,

[2020-08-26 22:55] subodhk01 opened #558 "what are the other return parameters in custom server functions?"
<img width="433" alt="Screenshot 2020-08-27 at 04 23 21" src="https://user-images.githubusercontent.com/19875783/91364730-0c859c80-e81d-11ea-932b-67d76a1d6f0c.png">
The docs only mention an abort parameter in the return object for custom functions. Are there any other parameters or callbacks too?
What if I want to do some task after the custom function such as `process` is done?

<br><br>
This iss

[2020-08-27 06:46] rikschennink commented on #556
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-08-27 06:46] rikschennink commented on #557
Please don't double post.

https://github.com/pqina/filepond/issues/556

[2020-08-27 06:46] #557 closed

[2020-08-27 06:51] rikschennink commented on #558
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-08-27 06:56] subodhk01 commented on #558
Added the template content, is this the thing what was required?

[2020-08-27 06:58] rikschennink commented on #555
Thanks for reporting, will look into this ASAP.

[2020-08-27 06:59] rikschennink commented on #558
When you click "new issue" the textfield contains a template for your to fill in.

[2020-08-27 07:01] subodhk01 commented on #558
I'm sorry I cannot see any textfield when I click "new issue"

[2020-08-27 07:01] rikschennink commented on #558
"New issue" choose the issue type, then where you type the issue description should be a prefill text

[2020-08-27 07:03] subodhk01 commented on #558
Actually I selected **Questions and help** issue template

[2020-08-27 07:05] rikschennink commented on #558
Then, as can be read in the issue template, you should ask your question on Stack Overflow.

See the template below:

[2020-08-27 07:07] subodhk01 commented on #558
✌🏻

[2020-08-27 07:07] #558 closed

[2020-08-31 11:59] rikschennink commented on #555
Should be fixed in `4.20.0` please confirm

[2020-08-31 12:03] rikschennink commented on #554
@ziming you can now disable the remove button by setting `allowRemove` to `false`

[2020-09-01 18:38] Eric24 opened #560 "Add support HTML for "capture" attribute in file input field"
On phones or tablets that have still cameras, it is possible to automatically select camera input when doing a conventional HTML file upload, but including the "capture" attribute (with a value of "user" or "environment", but even "true" works on all platforms we've tested). If the device does not have a still camera (like a laptop) or the platform doesn't support the "capture" attribute, then it'

[2020-09-01 19:27] rikschennink commented on #560
It should be possible to set the `captureMethod` prop. Does it not work?

[2020-09-01 19:57] Eric24 commented on #560
Ah, maybe so. I didn't see that prop. Is it supported in version 4.12?

[2020-09-02 06:43] rikschennink commented on #560
It should be

[2020-09-02 10:51] adarshmadrecha opened #561 "[Document] Add new `allowRemove` option in the documentation"
**Is your feature request related to a problem? Please describe.**
In the latest version `v4.20.0` there is a new option called `allowRemove`. However, this is not covered in the docs.

**Describe the solution you'd like**
Add this new option in the docs.

**Describe alternatives you've considered**
NA

[2020-09-02 11:10] rikschennink commented on #561
Done ✅

[2020-09-02 11:10] #561 closed

[2020-09-02 11:40] nehadhiman6 commented on #30
Please provide this feature.. for disabling remove/undo button.. sometime i need that user can only see initial files but has no right to remove those files..

[2020-09-02 12:09] rikschennink commented on #30
@nehadhiman6 `allowRemove` and `allowRevert` should cover that

[2020-09-02 16:47] djmason9 commented on #118
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/worker-src
worker-src 'self' 'unsafe-inline' * blob:;

this helped me

[2020-09-06 03:46] secmin opened #564 "CORS errors using GCP's cloud storage"
Chrome: the latest
Framework: vue(nuxt.js)
File Pound The Latest

I use vuetify in my design framework, but it displays fine even if you use a direct link to cloudStorage.
When I put an image link to filepond for initial display, I get a CORS error.
I'm having trouble recovering even after setting up cloudStorage's CORS.
Why do I get a CORS error only when displaying with filepond?

[2020-09-07 06:47] rikschennink commented on #564
Image data is resized and presented in a <canvas> element so CORS needs to be configured on the remove server.

Please, next time when you submit an issue, follow the issue template (it's the text in the issue text area). 👍

[2020-09-07 06:47] #564 closed

[2020-09-07 12:14] albertjimenez commented on #466
Interested in that!

[2020-09-07 18:09] #556 closed

[2020-09-07 18:10] rikschennink commented on #560
will close for now

[2020-09-07 18:10] #560 closed

[2020-09-11 14:42] #434 closed

[2020-09-12 15:54] rikschennink commented on #555
Closed because inactive

[2020-09-12 15:54] #555 closed

[2020-09-12 15:55] rikschennink commented on #554
Closed because inactive

[2020-09-12 15:55] #554 closed

[2020-09-14 09:15] wailashraf71 opened #567 "Change hidden inputs name"
I'm trying to structure my request like **Color->Images[]** so I need to change the hidden input **name** attribute, how can I do that with Filepond Vue?

[2020-09-14 09:16] rikschennink commented on #567
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-09-14 22:44] paperscissors opened #568 "500 error, getServerIdFromPath() must be of the type string, array given"
**Describe the bug**
Using the precise example from the `README` file, I receive the error `Argument 1 passed to DigitalCreative\Filepond\Filepond::getServerIdFromPath() must be of the type string, array given, called in /Users/tomfilepp/work/ResultGroup/vendor/digital-creative/nova-filepond/src/Filepond.php on line 350` as a 500 error.

**Logs**
The error points to line vendor/digital-creative/no

[2020-09-14 22:48] #568 closed

[2020-09-15 06:02] benviatte opened #569 "Several instances leads to having several submit.php's, which doesn't work"
First of all, many many thanks for this amazing plugin.

I'm trying to make several instances of filepond on the same page, that should lead to different upload directories. I'm using the following code that was suggested on the github page:

[code]

However, having several servers means each server comes with it's own submit.php. But one form can only have one submit button, right? As a result, m

[2020-09-15 07:20] rikschennink commented on #569
Hi, Thanks, glad to hear that!

We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/t

[2020-09-17 19:17] ndmgrphc opened #571 "process() access image dimension information after resizing"
My goal in using filepond was simply to get uploaded images into some reasonably scaled state via compression and resizing before uploading to an s3 transfer accelerated bucket and transferring to their final destination (when they're queued for additional processing, etc).  **All is working here for us except that I can't seem to determine where on earth the finished file dimensions are after com

[2020-09-17 19:20] ndmgrphc commented on #571
Adding reference to #122 and #22 both 3 years old.

[2020-09-18 06:24] rikschennink commented on #571
The metadata object contains resize instructions.

If you need the image size in the process method you can use the `getImageSize`snippet from issue #122

https://github.com/yoldar/filepond-plugin-image-size-metadata/blob/master/dist/filepond-plugin-image-size-metadata.js#L20

[2020-09-18 06:24] #571 closed

[2020-09-18 17:37] ndmgrphc commented on #571
Should definitely be accessible somewhere since you already calculated it, though...

[2020-09-21 09:04] #569 closed

[2020-09-21 09:04] #567 closed

[2020-09-24 19:00] yasirrose opened #573 "Upload large files through chunk on s3 using Multi Part Upload"
**Description of Issue:**
My case is that I want to upload large files on S3 without interacting with my site server. The files size can be 2gb Or more.

**Logs**
Don't have any logs right now.

**Process through which i am trying:**
The documentation provides details to upload files through patch and post on the same server but not directly to S3. So I am implementing through advanced process to

[2020-09-25 06:14] rikschennink commented on #573
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-09-25 21:20] yasirrose commented on #573
@rikschennink I have updated using issue template. Can you please check.

[2020-09-28 12:37] meness opened #574 ""filepond--drop-label" displays over the picture sometimes"
**Describe the bug**
The element with `filepond--drop-label` class displays over the picture sometimes as you see on the image below.

![تنظیمات-پروفایل-Balcon-us](https://user-images.githubusercontent.com/7955356/94432056-092a5b80-01a3-11eb-8ba4-93a0a598f4e0.png)

**To Reproduce**
It's hard to say how to reproduce this bug, but I see it sometimes with the following configuration.

[code]

[code]

[2020-09-28 12:45] rikschennink commented on #574
Please provide a public test case on preferably codesandbox.io

[2020-09-28 13:50] rikschennink commented on #573
`async` will not work for the `headers` function, it's a sync function.

[code]

[2020-09-28 14:53] fisketavlingnu opened #575 "Waiting for size, similar to #490"
**Describe the bug**
I have been using filepond on my website successfully for quite a while. But now I can see that on at least android and chrome it get stuck with  "waiting for size".

It is not for all images.  But I have a specific image that creates the problem.

My code:
[code]

**Logs**
Browser Console:
`
Uncaught (in promise) TypeError: Cannot read property 'size' of undefined
    at resi

[2020-09-28 14:54] rikschennink commented on #575
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-09-28 15:48] yasirrose commented on #573
@rikschennink Ok.
I am using ajax to get signature in the function. Can i force the patch request to wait for ajax request for signature header?

[2020-09-28 17:33] rikschennink commented on #573
I don't think so, you'd have to write a custom patch function instead of rely on the default logic.

[2020-09-28 18:09] yasirrose commented on #573
@rikschennink can you please show some example of custom patch?

[2020-09-28 21:04] jmhellman opened #576 "File size calculation configurable as binary or decimal"
**Is your feature request related to a problem? Please describe.**
A few questions from customers have arisen regarding the difference between what a user sees for file size information in Windows vs what is displayed as the size of file when chosen for upload. The disparity increases as the file size increases -- for example a file Windows reports as an 8.61 GB file (9,255,155,634 bytes) displays

[2020-09-28 22:14] fisketavlingnu commented on #575
Updated according to template

[2020-09-28 23:07] fisketavlingnu commented on #575
Hmm, my example image was smaller so I changed
   imageResizeUpscale:false to
   imageResizeUpscale:true,

[2020-09-29 06:29] rikschennink commented on #573
@yasirrose https://github.com/pqina/filepond/blob/master/src/js/app/utils/processFileChunked.js#L18

Function should look like this:

[code]

[2020-09-29 06:31] rikschennink commented on #575
Can you try the solution offered in this thread:
https://github.com/pqina/filepond-plugin-image-transform/issues/21

[2020-09-29 07:10] fisketavlingnu commented on #575
This problem arises when the image is to small.   In my case < 800 px. By changing
imageResizeUpscale:false
 to
imageResizeUpscale:true,
The problem disappeared and it worked.

But I guess that the correct behaviour would be not resize the image if width in uploaded picture was to small.

[2020-09-30 12:21] yguerdat opened #577 "issue with Huawei mobile phone"
**Describe the bug**
It's actually not possible to use the plugin filepond on a Huawei P20 Pro and on this mobile phone only. I get an error every time I try to upload a file on this mobile phone but it's working fine on any other Android or iOS phone. We are actually working with the version 4.11.0 but we can reproduce the bug on the last version of the plugin.

**Logs**
Here is a sample of the e

[2020-09-30 13:01] rikschennink commented on #577
Can you reproduce the issue on https://pqina.nl/filepond

[2020-09-30 13:57] yguerdat commented on #577
Yeah I confirm you that I can reproduce the issue on the URL you give me.

[2020-10-02 06:15] rikschennink commented on #573
I believe it should be set to `patch`

[code]

[2020-10-02 13:22] tzsk-rw opened #582 "Hook :before-drop-file is not working"
**My code:**
[code]

Now, the problem here is, the `beforeAdd` method in my component is firing successfully but not the `beforeDrop`.

### Here is the example for your reference: https://jsfiddle.net/9vb3cf75/

I've tried multiple things like,

[code]

I know that the `.on` is used to listen for the events. But it was worth a try. Also the `@` is for events as well.

**Additional context**

I hav

[2020-10-02 13:24] JonathanSchndr commented on #24
This is my solution, inspired by @zyyoo

submit a form:
[code]

[2020-10-02 13:48] tzsk-rw opened #579 "Hook beforeDropFile is not working"
I have the issue detailed in the `filepond-vue` repository. Please read that first: https://github.com/pqina/vue-filepond/issues/176

I'm creating this one as well, cause I looked into the Vue component file in that package as well, and there is nothing that is happening differently for `beforeAddFile`. Then still the `beforeAddFile` is working and `beforeDropFile` is not.

Which got me thinking t

[2020-10-02 14:44] rikschennink commented on #576
Will add new prop to configure this at the start of next week.

[2020-10-02 16:02] yasirrose commented on #573
@rikschennink

I have tried following ways but it doesn't work. It is not going into patch for both cases. But I can see in network that it is sending patch request to page URL for first process code but not for second process code.
[code]
________

[code]

[2020-10-03 09:21] ayophanz commented on #102
Hi could you post sample code how to add url to make it clickable?

[2020-10-04 11:16] rikschennink commented on #102
@ayophanz
https://github.com/nielsboogaard/filepond-plugin-get-file

[2020-10-05 06:48] rikschennink commented on #576
Now available in `4.21.0` 👍

[2020-10-05 06:52] rikschennink commented on #579
Please don't double post. I've moved your other issue here.

[2020-10-05 06:52] #579 closed

[2020-10-05 07:23] rikschennink commented on #573
Sorry. I was mistaken. I just checked the code to be sure, patch is only to be used in conjunction with default `process`.

If you want to do custom chunk uploading you can forget a bout the `patch` property and simply define a complete custom `process` method for chunk uploading.

[2020-10-05 20:40] mkraha opened #583 "PSR-7 Support"
Does anyone help with implement psr-7 support with filepond php version for Slim framework 4. ?

[2020-10-06 05:45] rikschennink commented on #583
As requested in the issue template, please ask questions on Stack Overflow.

[2020-10-06 05:45] #583 closed

[2020-10-06 09:26] KrisPetkov opened #584 "[Question] Async upload and additional metadata"
Hello guys,

First of all congratulations for the amazing tool that you managed to create!

I have the following situation:
My web site has an **add/update item form** which contains few text fields and I'm using Filepond for images which can be attached to that item. I'm using the async upload of images and everything is perfect. Also I'm implementing a scenario where the user can select an image

[2020-10-06 11:31] rikschennink commented on #577
Tried to test this on BrowserStack but I can't find the device.

[2020-10-06 13:40] rikschennink commented on #584
Thanks!

FilePond will upload both the file and the metadata to the `server.process` end point.

I suggest uploading the selected value separately.

You can set metadata to the each file in the files prop.
https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

[2020-10-06 14:07] KrisPetkov commented on #584
@rikschennink you are right that FilePond will upload them during the `server.process` but in my case the `server.process` uploads the files to the server and the server saves them as temp files, after this the server returns an ID as a response for each file (i.e. some-guid). The form is still not submitted. After this the user may decide to select one of the images to be primary/default (clicks

[2020-10-06 14:29] rikschennink commented on #584
@KrisPetkov Add another field where you store the selection?

[2020-10-06 14:45] KrisPetkov commented on #584
@rikschennink currently nowhere that's why I was wondering if it is possible to store the selection inside the concrete file's metadata and to pass the file's metadata to the server on form submit instead just the file ID. But if it is not possible I guess I will store the selection in a  separate field

[2020-10-06 14:49] rikschennink commented on #584
That's currently not possible, you'd have to sync the values yourself using `onupdatefiles`

[2020-10-06 14:51] KrisPetkov commented on #584
Thank you for the information! I will close the issue.

[2020-10-06 14:51] #584 closed

[2020-10-06 15:37] ayophanz commented on #102
Thanks
It would be nice if filepond does have like this see video(link to view uploaded file) https://screencast-o-matic.com/watch/cY6h2DK0OS
I achieved this by jquery (jquery is my last option)

[2020-10-10 17:54] #576 closed

[2020-10-10 17:55] rikschennink commented on #574
Closed because inactive for 12 days

[2020-10-10 17:55] #574 closed

[2020-10-11 11:28] mkraha opened #585 "Possible to create multiple image upload at single form or page?"
Hi,
Possible to create multiple image uploads at single form or page?
screenshot: https://pasteboard.co/Jv8QraA.png
[code]

[2020-10-11 13:40] nightwolf-041 opened #586 "how to change filePond default white background ?"
i mean this area...

![Screenshot (1244)](https://user-images.githubusercontent.com/51447528/95680191-8e226580-0be4-11eb-873f-e5ec3a2f91af.png)

[2020-10-12 06:58] rikschennink commented on #585
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-10-12 06:58] #585 closed

[2020-10-12 06:58] rikschennink commented on #586
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-10-12 06:58] #586 closed

[2020-10-14 04:57] jacklimwenjie commented on #366
This is still an issue though.

Example to reproduce the issue: https://codesandbox.io/s/react-filepond-live-demo-forked-076gt?file=/src/index.js

[2020-10-14 14:41] jimmycallaghan commented on #371
I  had the same problem and tracked it down to this:
https://stackoverflow.com/questions/44865121/canvas-tainted-by-cors-data-and-s3

I load the images in another part of my page before using them in the Doka contaner. This means that the images are cached by the browser. When Doka requests the image, the browser checks its cache and finds that the object it has is still valid. It then uses this o

[2020-10-14 15:10] rikschennink commented on #371
I’ve also written about this here, might be of use:
https://pqina.nl/doka/docs/patterns/faq/

[2020-10-14 16:12] rikschennink commented on #371
@jimmycallaghan 👍 apparently there’s an issue with cached CORS requests on Chrome. I was hoping the Vary header would fix that :-)

[2020-10-14 21:00] nicolaferrara82 opened #587 "URL components with special characters as & are not encoded."
**Describe the bug**
I have an issue uploading files with "&" character in url component name, if I process  encodeURIComponent() on the folder name it will also be processed after with encodeUri().

**To Reproduce**
[code]

**Expected behavior**
`upload?folder=r&b` become `upload?folder=r%2526b` instead of `upload?folder=r%26b`

[2020-10-15 05:32] rikschennink commented on #587
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-10-15 05:32] rikschennink commented on #575
will close because this seems to be resolved? unclear.

[2020-10-15 05:32] #575 closed

[2020-10-15 05:33] rikschennink commented on #573
will close because inactive for 10 days

[2020-10-15 05:33] #573 closed

[2020-10-15 05:34] rikschennink commented on #577
Any errors in the developer console?

[2020-10-15 07:46] nicolaferrara82 commented on #587
Solved editing my script appending url component in the formData.

[code]

[2020-10-15 07:46] #587 closed

[2020-10-16 08:50] last-partizan opened #588 "Pasting files when focused on another input"
**Is your feature request related to a problem? Please describe.**

https://github.com/pqina/filepond/commit/1a10367bd00ebd38d9ed3ce7898689fab4865e22#diff-13202d0d98680aa2d5c1ee46b009e4ff596b345aa99264cf4cfdd4356d3927d4

This commit removed ability to paste files outside of `.filepond--root`, we're used it with vue with template like this:

[code]

And now pasting files works only with unfocused t

[2020-10-16 08:51] BuchholzTim commented on #491
@meness Ddid you find a workaround or a solution to your problem?
I'm currently facing the same problem, with the only difference being, that I'm using the VUE-Adapter instead of React.

[2020-10-17 20:48] Kendysond commented on #58
Hi @simioluwatomi , please would you mind sharing the final code you use that worked for s3 presigned uploads?

[2020-10-18 09:54] BuchholzTim commented on #491
So I debugged it today to see what exactly is happening and filepond is in fact working correctly.

In my case it was an error caused by ExpressJS in the backend, because I didn't set:
`res.set('Access-Control-Expose-Headers', 'Upload-Offset');`

Filepond received `null`, when trying to read the response header by `xhr.getResponseHeader("Upload-Offset")` and defaulted to using `0` as Offset.

[2020-10-20 18:49] shoxter opened #593 "Drag and Drop from Gmail Failing"
When dragging an embedded image from a Gmail email to the Filepond drag and drop handle, the upload immediate turns red with the following errors: "Waiting for Size" and "Error During Load"

- Chrome 83, 84 and 85 affected
- Linux KDE and Windows 10 affected

Version 4.4.12

[2020-10-21 01:32] simioluwatomi commented on #58
@Kendysond the code is what you have as my first post in the issue which I clearly indicated has been amended to reflect all comments in the issue. So I believe the code up there works

[2020-10-21 08:43] rikschennink commented on #593
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-10-21 13:28] shoxter commented on #593
Sorry about that. I'm very short on time and was hesitant to even post the issue initially.

I've reformatted it so that it fits the template. If a repo reproducing the issue is absolutely necessary to investigate, you can close the issue. I unfortunately don't have the time to create one at the moment.

[2020-10-22 13:31] liarco opened #594 "Options order does matter, but it's not documented (setting initial files can seem broken)"
I was trying to [set some initial files](https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files) passing them to the `.setOptions(...)` function, but I was always getting a 400 error with no HTTP request or any other activity from the inspector.
Then I created [this example on CodePen](https://codepen.io/Liarco/pen/ZEOBxje?editors=1111) and I found out that setting the

[2020-10-25 11:37] thepower50 commented on #460
@lokeshKumar90 What was the resolution? I am writing a spfx webpage using react and have an issue where it doesn't recognise the type for msg files  I am also unable to use the property fileValidateTypeDetectType even though I have installed the plugin. Did you have to include any particular code to get it to work?

[2020-10-25 11:45] beejaz opened #595 "Revert or remove file on REST API with dynamic url"
Very nice to explore FilePond, kudos!

I have a struggle with revert / remove file after it has been uploaded. I run a PHP backend with OpenAPI 3 REST API standard and I need/want to use a dynamic url when revert/delete. I use Vue-adapter.

I use this method to return the uuid after file has been uploade to my example.com/media
[code]

If i use the revert: '/' way to remove, it will send the id as

[2020-10-26 07:56] rikschennink commented on #595
Thanks!

We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We wi

[2020-10-26 09:27] rikschennink commented on #594
Thanks for the detailed description @liarco, agree that it would be better if the order was fixed.

[2020-10-26 12:43] beejaz commented on #595
Hi, sorry, ill post my question on Stack Overflow instead

[2020-10-26 12:43] #595 closed

[2020-10-26 13:30] starwarskidfan commented on #284
@rikschennink How did you manage to do that? I can find any documentation on the server.load method.

[2020-10-26 13:32] rikschennink commented on #284
@starwarskidfan not sure I understand the question but: https://pqina.nl/filepond/docs/patterns/api/server/#load

[2020-10-26 13:34] starwarskidfan commented on #284
@rikschennink You said that if you assign a custom sever.load method that you can assign a name to the blob. How did you manage to do that. I have not found a way to have a custom server.load method.

[2020-10-26 13:57] rikschennink commented on #284
It's specified here: https://pqina.nl/filepond/docs/patterns/api/server/#advanced

[2020-10-26 14:07] starwarskidfan opened #596 "When filepond uses the load method, it inconsistently will use the source id or the file name ContentDisposition Header Value."
**Describe the bug**
When filepond is set with initial files. It calls the load method.

When that method is called sometimes it will populate with the file name from the ContentDisposition Header Value. While other times it just uses the source id

**Logs**
General
Request URL: https://domainname.com/api/v2/file?json=%7BGuid%3A%20%276aae318f-54ad-4ecf-85b0-4b489a00ce67%27%2C%20FileId%3A608%20%7D

[2020-10-26 14:51] rikschennink commented on #596
Please provide a working and concise test case.

[2020-10-26 17:52] RayhanYulanda opened #598 "How to add input text for multiple file?"
I want to add input text for each of the files. How to make that with filepond? I've search to make it with metadata but i'm still confused how to make the input and others. Anyone can help?

[2020-10-26 17:55] rikschennink commented on #598
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-10-27 09:53] Herz3h commented on #394
It would still be useful to simply disable the cancel button, as your workaround sounds more complicated.

In my case I first upload to a php server, which then uploads to sharepoint, so cancelling doesn't work since it cancels only the first part, while the file is actually being uploaded to sharepoint

[2020-10-27 10:18] Herz3h opened #599 "Automatic upload retry"
**Is your feature request related to a problem? Please describe.**
When uploading many files, sometimes there are errors with some files which cause failed upload

**Describe the solution you'd like**
It would be nice to have some kind of automatic upload retry. Like specify number of maximum retries before giving up and letting user retry manually if so he wishes.

**Describe alternatives you've

[2020-10-27 10:32] rikschennink commented on #599
You can call `processFile` or `processFiles`, I believe the later will retry processing files that errored

[2020-10-27 12:04] Herz3h commented on #599
Thank you !

For future visitors, here is how I've done it:

[code]

[2020-10-27 12:04] #599 closed

[2020-10-27 13:13] liarco commented on #594
Thank you @rikschennink, I'm quite busy these days, but I can try open a PR so that you can save some time.

[2020-10-27 13:22] starwarskidfan commented on #596
@rikschennink, the code that I have right now is protected by an NDA, so give me a bit to come up with a test environment

[2020-10-27 13:23] starwarskidfan commented on #284
@rikschennink Even, setting the headers is still not setting the name properly. Can you give me a string that worked for you?

[2020-10-29 06:41] rikschennink commented on #284
@starwarskidfan See `content-disposition` snippet here: https://pqina.nl/filepond/docs/patterns/api/server/#load

[2020-10-29 09:26] Manjuth-Qliclabs opened #602 "@Kendysond the code is what you have as my first post in the issue which I clearly indicated has been amended to reflect all comments in the issue. So I believe the code up there works"

[2020-10-29 09:27] #602 closed

[2020-11-02 07:40] rikschennink commented on #394
@Herz3h what would happen if the user refreshes the page?

[2020-11-02 08:42] harshpatel1692 commented on #596
It would be great if this could be solved quickly. recently integrated doka + filepond and stuck with this for 2 days until I came across this ticket.

[2020-11-02 08:53] rikschennink commented on #596
@harshpatel1692 feel free to contact me using the support form on the customer portal

[2020-11-02 09:00] Herz3h commented on #394
If upload reaches server before being canceled, upload still goess through I guess (not sure tbh). Either way I just hide the cancel button with css 👍

[2020-11-02 12:05] rikschennink commented on #582
Is this resolved with the PR?

[2020-11-02 12:42] tzsk-rw commented on #582
Yes

[2020-11-02 12:42] #582 closed

[2020-11-02 19:30] fisketavlingnu opened #604 "Problem with resizing BIG images on Android"
**Describe the bug**
The application is a competion report where you provide two pictures. The pictures are resized before transfered to the server.
The problem are images taken with state of the art phones like Samsung S20 in full resolution. These images are sometimes 15MB but even images as small as 6.7MB causes some problems.

I have set the limit to 16 MB. The problem is that the image transf

[2020-11-02 20:18] rikschennink commented on #604
Thanks for the detailed issue report (and attaching a test image)!

Going to investigate this first thing tomorrow morning 👍

[2020-11-02 20:21] fisketavlingnu commented on #604
I did add the plugin to check the size of the image. And got a new error:
![image](https://user-images.githubusercontent.com/53155624/97914643-80c64a00-1d50-11eb-95f1-e2aef39ce46d.png)

[2020-11-02 20:36] rikschennink commented on #604
What happens if you set

imageTransformCanvasMemoryLimit

To

4096 * 4096

[2020-11-02 20:56] fisketavlingnu commented on #604
Actually now it looks like it is working. I will do some more testing...

[2020-11-02 21:16] rikschennink commented on #604
It resizes the initial image data before FilePond goes to work on it. It normally only has to do this for iOS because it cannot load more than (I believe around) 12 mega pixels of data to the canvas element. Not sure what the limit is for Android and/or this is because of canvas or another browser api memory limit but at least this is a quick workaround.

[2020-11-02 22:31] harshpatel1692 commented on #596
Let me know if this test case helps.

**Filepond Instance**
`FilePond.create(
	document.getElementById('upload-images'),
	{

		files: [
			{
				source: 'http://yourserver.com/file-with-server-id.jpg', //url to fetch image from server
				options: {
					type: 'local'
				}
			}

		],
		server: {
			load: (source, load, error, progress, abort, headers) => {

				const myRequest = new Request(sourc

[2020-11-02 22:41] harshpatel1692 commented on #596
Let me know if this test case helps.

**Filepond Instance**
`FilePond.create( document.getElementById('upload-images'),
	{
		files: [
			{
				source: 'http://yourserver.com/file-with-server-id.jpg',
				options: {
					type: 'local'
				}
			}
		],
		server: {
			load: (source, load, error, progress, abort, headers) => {
				const myRequest = new Request(source);
				fetch(myRequest).then(functio

[2020-11-03 08:02] rikschennink commented on #596
@harshpatel1692 FilePond will get the filename from the content disposition header _only_ if you pass a URL to the `server` prop or one of it's "sub" properties.

In your demo you're using `fetch` to get the file from the URL, the response is then turned into a `Blob`, a `Blob` does not have a `name` property. You need to add it in your custom `load` method.

[code]

[2020-11-03 08:18] harshpatel1692 commented on #596
@rikschennink Thanks for clarification. can you please elaborate or point me to the documentation on "pass a URL to the server prop or one of it's "sub" properties".

[2020-11-03 08:23] rikschennink commented on #596
@harshpatel1692 https://pqina.nl/filepond/docs/patterns/api/server/#configuration

[code]

or

[code]

or

[code]

more elaborat example

[code]

In all these examples FilePond will run the request and handle the data. When you set up a custom method you need to feed the correct file data to FilePond (you take over the wheel).

[2020-11-03 13:41] rikschennink commented on #604
Best approach might be to set the upper limit to 8096x8096 in case of non-ios, does that still work?

[2020-11-04 19:01] #598 closed

[2020-11-04 20:04] tvb commented on #571
@rikschennink can you make the uploaded image dimensions accessible in the file object? https://pqina.nl/filepond/docs/patterns/api/file/

The use case here is we want to put the uploaded image onto another `<img>` element and set it's dimension to the uploaded image.

[2020-11-05 23:02] VladG1986 opened #608 "Can I set to upload one file at at time"
Hello, is there an option to set 1 upload at a time with multiple images?

Example: users can upload up to 10 images. The issue is that first 2 images upload almost at the same time:

2020-11-05 17:44:31.980977732 -0500 EST m=+60.133032415

2020-11-05 17:44:31.996447309 -0500 EST m=+60.148501975

2020-11-05 17:44:34.184205773 -0500 EST m=+62.336260455

2020-11-05 17:44:36.491500178 -0500 EST m=+64

[2020-11-06 05:51] dashawk commented on #35
i also have this issue, but the given link is not even public.

[2020-11-06 07:39] rikschennink commented on #35
@dashawk The link indeed doesn't work.

Should be: https://github.com/pqina/filepond-server-php/blob/master/index.php

[2020-11-06 07:42] rikschennink commented on #608
You can set `maxParallelUploads` to `1`

---

We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.c

[2020-11-06 09:35] rikschennink commented on #571
@tvb Where do you need them? I can look into creating a plugin that adds this info.

You can also run this in the process method:

[code]

[2020-11-06 11:57] tvb commented on #571
What I am now doing is once the file has been added to the pond (but not uploaded/saved) I want the image to be displayed elsewhere on the page as a preview. This is what I am doing now to achieve this. Which works, I guess..

[code]

The dimensions should be known already, right? If so, the `var image = new Image()` would not be needed and the original dimensions of the uploaded file can be fetch

[2020-11-06 12:16] rikschennink commented on #571
@tvb I think this is (at this moment) the best approach. FilePond is not purely aimed at handling image files so that's the reason why it's not available by default.

This is the function I use in the next version of Doka, it quickly gets the correct image size without waiting for the entire image to load.

[code]

You can use it like this

[code]

[2020-11-06 12:31] tvb commented on #571
Gotcha! Thanks, I like Doka and will probably get a license at some point in time, but until then I will stick with my current code. Or change it if you decide to make a plugin for it!

[2020-11-06 12:57] VladG1986 commented on #608
Thank you very much.

[2020-11-06 21:42] #608 closed

[2020-11-11 21:56] eacan7 opened #609 "Error message when drag and dropped files aren't able to be uploaded"
**Is your feature request related to a problem? Please describe.**
No message or indication of an error is being displayed when the amount of files being dragged and dropped is greater than the max file count. Currently nothing displays, this may be confusing to a user.

**Describe the solution you'd like**
A customizable error message when a drag and dropped file cannot be upload because it excee

[2020-11-12 07:55] #596 closed

[2020-11-12 07:58] rikschennink commented on #315
Please note that if you set up a custom load method and you return a `blob`, FilePond can't know the filename as the `blob` doesn't have a `name` property. Content disposition parsing is only handled by FilePond if there's no custom load method defined.

Will close this.

[2020-11-12 07:58] #315 closed

[2020-11-12 07:58] rikschennink commented on #609
https://github.com/pqina/filepond/issues/137

[2020-11-12 07:58] #609 closed

[2020-11-16 01:00] CameronSumpter opened #610 "addFile() Encoding Encoded URL Parameters"
**Describe the Bug**
When using `addFile()`, FilePond changes querystring parameters inconsistently before retrieval.

**To Reproduce**
Pass a URL containing an already-encoded character.

For example, calling:
`filepond.addFile('https://pqina.nl/filepond/docs/images/logo.svg?x=y%2Cz');`

Will result in it attempting to fetch:
`https://pqina.nl/filepond/docs/images/logo.svg?x=y%252Cz`

**Expected

[2020-11-16 04:23] michaelcuneo opened #611 "serverConfig load: works locally, but not when the build is pushed to it's AWS S3 Host."
**Describe the bug**

A clear and concise description of what the bug is.

Not sure if this is a bug, or just a usage problem.

I have quite an editor with a react FilePond component inside for uploading images to an AWS S3 stack. Adding, and Deleting from this S3 Stack using the FilePond works fine...

Editing works fine but only locally.

If I want to edit my file, I use this following setup.

[

[2020-11-16 05:40] michaelcuneo commented on #611
Further to my issue, I've hard coded some variables to be displayed above the FilePond window so that I can screenshot the local running version, and the build hosted from S3.

These are my results. The serverConfig is being ignored running from an S3 it seems... it's really odd... both local and remote copies are identical code.

**Working Local Build**
![WorkingLocal](https://user-images.githubu

[2020-11-16 06:32] rikschennink commented on #611
I’d look at the developer tools network tab and console to see if there are any errors and/or if the requests both look the same.

[2020-11-16 06:50] michaelcuneo commented on #611
There are no requests at all. If I throw an alert/log, or even set a variable inside server load, to see if it's being called... it isn't.

[2020-11-16 07:25] michaelcuneo commented on #611
Hitting the edit page locally, I instantly get 5 x 200's and some logs.

![Local_Req](https://user-images.githubusercontent.com/12700009/99223601-ed554480-2838-11eb-9a26-0d4362bdfb65.PNG)

Hitting the edit page remotely on the S3 Stack, I get the single GraphQL request, and no other requests or logs.

![GraphQL_Req](https://user-images.githubusercontent.com/12700009/99223646-03630500-2839-11eb-815

[2020-11-16 07:28] michaelcuneo commented on #611
You can see the URL in the console if you want to have a look... https://admin.soci.org.au/

[2020-11-16 14:38] Anatolych97 opened #612 "Instance 'destroy' method is undefined"
**Describe the bug**

Filepond instance doesn't provide the destroy method. It's always undefined, but a declaration of the class contains this method
![image](https://user-images.githubusercontent.com/19807353/99264399-140b7f00-2829-11eb-9f2b-098ceb94ea5c.png)

**Logs**

Try to show in console code of destroy method
![image](https://user-images.githubusercontent.com/19807353/99263977-90519280-282

[2020-11-16 20:04] michael-ciavattone opened #613 "Ability to edit and remove for local files"
Hello,
I have added the files property when creating a new FilePond instance for previously uploaded files to the server and added the FilePondPluginFilePoster plugin which shows a preview image for those files. My question is how can I still allow the user to edit and remove this file? I am given the ability to do both of those actions on initial upload of the file but once I return to the page a

[2020-11-16 21:27] michael-ciavattone opened #614 "Filepond ignoring crop aspect ratio when imageEditInstantEdit is true"
Describe the Bug
When imageEditInstantEdit is set to true, the imageCropAspectRatio does not work and is being ignored at first. Once the user starts to resize it automatically goes to the imageCropAspectRatio set. However, if changing imageEditInstantEdit to false and then manually selecting to edit the file, it will use the correct aspect ratio.

To Reproduce
Create a new FilePond instance, set

[2020-11-17 10:02] rikschennink commented on #614
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-11-17 10:02] rikschennink commented on #613
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-11-17 10:04] rikschennink commented on #611
I'm sorry I don't know why this is happening but I suspect it's not related to FilePond.

[2020-11-17 22:41] michaelcuneo commented on #611
It looks like it might be a condition of how and when to render things and when to not render things, because of my complex usage structure. I have the FilePond components wrapped in Formik to validate. I stripped all Formik validation areas from the FilePond component and gave it raw files values, and actually got it to function locally and remotely.

But, there's now an issue with the timing for

[2020-11-18 10:15] rikschennink commented on #611
This is so project specific. Please create a concise test case on codesandbox.io happy to take a look but I'm afraid I can't help out further.

[2020-11-18 16:08] michael-ciavattone commented on #614
Sorry for the incorrect format, I believe it is correct now.

[2020-11-18 16:08] michael-ciavattone commented on #613
Sorry for the incorrect format, I believe it is correct now.

[2020-11-19 08:27] YotYot opened #615 "Compress a folder to a zip file before uploading it"
When a user uploads a folder, it could potentially contain a very long list of files.

My suggestion is to allow the compression of a directory to a zip file and upload the zip file alone.

Thanks!

[2020-11-19 08:40] rikschennink commented on #615
This plugin should do the trick: https://github.com/tzsk/filepond-plugin-zipper

[2020-11-19 08:51] YotYot commented on #615
Thanks! I Will look into it

[2020-11-19 08:59] #615 closed

[2020-11-19 10:31] rikschennink commented on #614
Can you try setting `imageCropAspectRatio` as a numeric value?

[2020-11-19 13:34] michael-ciavattone commented on #614
Still doesn't seem to change anything. Here is my code for reference. I have tried changing the value to a numeric value, a string and even 1/1 but nothing works on render of doka. As soon as I just click on one of the four corners to resize, it automatically resizes the crop area to the 500 x 500 that I set but only when I go to make any modifications and never on load.

` var pond = FilePond.cre

[2020-11-19 13:41] michael-ciavattone commented on #614
Still doesn't seem to change anything. Here is my code for reference. I have tried changing the value to a numeric value, a string and even 1/1 but nothing works on render of Doka. As soon as I just click on one of the four corners to resize, it automatically resizes the crop area to the 500 x 500 that I set but only when I go to make any modifications and never on load.

[code]

[2020-11-19 13:48] rikschennink commented on #614
`_EXCLUDE_TRANSFORM_IMAGE: true,` this won't work, you need conditional compilation to do that.

`onconfirm` is handled automatically so can be removed as well.

`allowImageCrop` is `true` by default.

Have you registered the required plugins?

[code]

[2020-11-19 14:23] michael-ciavattone commented on #614
I was missing the FilePondPluginImageResize plugin but I just added it and made the changes you suggested above and still behaving the same way. Below is the updated code:

[code]

[2020-11-19 14:27] rikschennink commented on #614
Can you match the order of the plugins.

[2020-11-19 15:07] michael-ciavattone commented on #614
Ya that worked. Seems to be dependent on the order the plugins are loaded. Thank you so much for your help!

[2020-11-19 15:07] #614 closed

[2020-11-20 09:24] shahrizal96 commented on #613
@michael-ciavattone did you found the solution. I facing the same issue as well.

[2020-11-20 19:28] michael-ciavattone commented on #613
No I have not. I am still awaiting a response but trying to resolve it on my own hasn't worked out as of yet.

[2020-11-23 00:08] michaelcuneo commented on #611
I am in the middle of creating one, but this never works out well for me, due to the fact that sandbox projects don't ever end up identical to my actual problem, and usually work fine, but in this case it is actually broken. I can't even get it to run without infinite loop.

https://codesandbox.io/s/filepond-recursion-545po?file=/src/App.js

[2020-11-23 00:34] michaelcuneo commented on #611
From what I can see... onupdatefiles triggers for every single step of the server load process... so grabbing the file, triggers an onupdatefiles, with a failure receiving an [object object], then the next step triggers it again for the actual file, then the next step converting it to a blob triggers it again. So I end up with sometimes 6 files when I'm only loading 2... then of course because it'

[2020-11-23 17:16] michael-ciavattone commented on #613
@rikschennink just checking in to see if you've had a chance to review the issue.

[2020-11-23 17:56] rikschennink commented on #613
@michael-ciavattone I have, just haven't gotten around to inspecting it further.

[2020-11-24 15:07] rikschennink commented on #613
This renders a remove button and edit button.

[code]

I believe currently some button positions unfortunately don't work as advertised. So try to remove these
[code]

[2020-11-24 15:10] rikschennink commented on #611
This will probably cause issues:

[code]

[2020-11-24 15:25] rikschennink commented on #610
Thanks for reporting @CameronSumpter

FilePond runs `encodeURI` on the URLs of the requests it makes.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI

Haven't had any issues with this before. Maybe you can set up a custom `load` method to circumvent the encode call?

[2020-11-24 15:46] michael-ciavattone commented on #613
Is the load method a requirement for this to work? Currently I do not have that method so I was wondering if it was necessary to add.

[2020-11-24 16:02] michael-ciavattone commented on #613
I have this but it still does not render a remove or edit button. Is it something obvious that i am missing?

[code]

[2020-11-24 16:21] shahrizal96 commented on #613
For me still cannot see the edit button.

For file opstions you can add file info as below

`
// set type to local to indicate an already uploaded file
                                options: {
                                    type: 'local',

                                    // stub file information
                                    file: {
                                        name: '{

[2020-11-24 16:47] michael-ciavattone commented on #613
@shahrizal96 when i pass in file information, such as the name, it no longer calls the load function but still no edit icon.

[2020-11-24 18:48] michaelcuneo commented on #611
All methods of initial files, then adding more causes issues. None of them work effectively. It seems as though this is impossible.

Sent from my iPhone

[2020-11-24 19:37] michaelcuneo commented on #611
I have modified this sandbox about 8 times in the last 24 hours to include every single method of providing initial files, then adding more files afterwards... all break, and all do not function. Is there any documentation anywhere that provides a valid method of performing this in React-Filepond, I'm in a mission critical project that was due months ago.

I can set initialFiles, I can have them l

[2020-11-25 04:06] shahrizal96 commented on #613
Ya, should not pass the file info. Now working?

Hi. I already follow your load code, images is shown however still no edit button. When I inspect also the edit button is missing. What is expected response? Btw my src is from aws s3.

**My response**
![image](https://user-images.githubusercontent.com/52898588/100181947-60844800-2f16-11eb-9f3b-0de2d3bf7f6a.png)

**My load**
`load: (src, load) =>  {

[2020-11-25 08:18] rikschennink commented on #611
Don't move your development pressure on to me please.

[2020-11-26 06:28] michaelcuneo commented on #611
I've managed to get this working, in an extremely unconventional manner.

Adding files to filepond initially, then adding and / or removing files, 100% fails every single time, unless you add the function onupdatefiles = {} to the component, but leave it entirely blank. Using it to actually perform any updates to the local files, breaks the entire component, which is rather unusual. I've placed a

[2020-11-27 08:49] shahrizal96 commented on #613
Hi. Solve already the issue? If yes, mind to share?

[2020-11-30 19:48] martinschilliger commented on #118
Ok, is it whise to add `*` with the other entries? `worker-src 'self' blob: ;` was enough for me.

[2020-12-01 19:34] virtualize opened #618 "Should not call server.load when using filepond-plugin-file-poster"
**Describe the bug**

Displaying poster images for local files with filepond-plugin-file-poster works well.
But FilePond is still calling the server.load url to make a requests to server. The server response is obviously ignored, as its using the URL set in the file's `options.metadata.poster` to display the image.

If we omit `server.load`, the default URL is used.
Setting `server: { load: null}`

[2020-12-02 08:14] rikschennink commented on #618
I think you can provide mock file info to prevent this.

[code]

https://pqina.nl/filepond/docs/patterns/api/filepond-object/#setting-initial-files

[2020-12-02 08:37] virtualize commented on #618
Thanks for your fast reply.
I've tried your suggestion, but it does not make any difference, server.load still gets called.

[2020-12-02 08:59] rikschennink commented on #618
[code]

this doesn't log "test"

[2020-12-02 09:08] virtualize commented on #618
I'm sorry, you're right. I had the file key under root. Moved it into options now and everything works as expected.
Will make an appointment with my optometrist... :)

[2020-12-02 09:08] #618 closed

[2020-12-02 14:59] vjik opened #619 "How set "allowRemove" separately for each file?"
Something similar to:

[code]

[2020-12-08 23:05] virtualize opened #620 "Filename not visible with option styleButtonRemoveItemPosition: 'right' for local files"
**Describe the bug**

When using the option `styleButtonRemoveItemPosition: 'right'` as described in the documentation, the labels for file name and size are not visible anymore on local files. The labels seem to be pushed to the right outside the `filepond--item`

I fixed it temporarily like this
[code]

**To Reproduce**

https://codesandbox.io/s/vanilla-filepond-forked-jhx52?file=/src/index.js
T

[2020-12-09 04:53] food-billboard opened #621 "whether it controllable to only upload the slice that haven't been uploaded"
I am searching for a long time on net. But no use. Please help or try to give some ideas how to achieve this.

As I known. When an error happen as the the user adding file and uploading. The `filepond` can send `head` request to make the server response to the `Upload-Offset` respons headers. and control the next  chunk that are to uploaded.

**But if it possible to return to the `Upload-Offset` r

[2020-12-09 07:36] rikschennink commented on #621
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-12-09 13:06] Herz3h commented on #229
Was wondering the same about what should the server return in case of error. I think it's still not documented on the docs.

[2020-12-09 13:10] rikschennink commented on #229
4**

[2020-12-09 13:14] Herz3h commented on #229
I know from read your [previous comment](https://github.com/pqina/filepond/issues/229#issuecomment-463096902), my point is that it's probably better to just put in the docs, maybe in the server page ?

[2020-12-09 13:17] rikschennink commented on #229
Aha. The docs are on GH, feel free to submit a PR
https://github.com/pqina/filepond-docs

[2020-12-09 15:07] rikschennink commented on #284
FYI if you have set up a custom load method you need to make sure the file returned to FilePond had a name property with the name you want to show.

[2020-12-10 15:15] MzudemO commented on #593
This can be reproduced on https://pqina.nl/filepond/#multi-file-demo by selecting Browse and adding files from google drive.

Information about the project:
Android 6
 - Chrome 79 no issues
Android 10
 - Chrome 87 no files work ("Error during upload")
 - Chrome Beta 80 .jpg stuck in filesize calculation, .png, .pdf... work
 - Chrome Beta 81 onwards no files work
 - Firefox 82 no issues
 - Edge 45

[2020-12-11 04:18] NishantSingh96 commented on #172
@atishagrawal Did, you find the solution for this problem ?

[2020-12-11 05:52] rohanvachheta opened #622 "filepond gives error while using with iframe, it will throw `Uncaught TypeError: Cannot read property 'removeChild'"
**Describe the bug**

While using file pond library inside iframe it will throw `Uncaught TypeError: Cannot read property 'removeChild' of null at Object.didRemoveItem [as DID_REMOVE_ITEM] (file pond.js:10064)` while removing file . this will only happen when you're providing valid files. if there is any invalid file then it won't happen .also it will happen for the first time only.

**Logs**

`Un

[2020-12-11 08:02] rikschennink commented on #622
From the screenshot I got in my email it looks like this is running in an application.

Please create a public and concise test case at codesandbox.io, happy to take a look. Will close this issue till the test case is live, please reply with URL to test case.

[2020-12-11 10:23] rikschennink commented on #593
I can drag/drop the gmail logo and it works correctly but dropping images from inside the email doesn't work.

Maybe this is because the images are behind a login. The API used to download the images cannot reach the images because of that.

[2020-12-11 10:32] MzudemO commented on #593
It seems to be related to FilePondPluginFileEncode

https://codesandbox.io/s/vanilla-filepond-forked-nc4bk breaks on mobile chrome when selecting drive files (stuck on waiting for size)

[2020-12-11 16:23] MrCull opened #623 "The README file in this repo has a bad link - [404:NotFound] - “Integrating FilePond with Ember”"
**Describe the bug**

The markup version of the readme that is displayed for the main page in this repo contains the following bad link:

“Integrating FilePond with Ember”
Status code [404:NotFound] - Link: https://alexdiliberto.com/ember-filepond/latest/

**Logs**
N/A

**To Reproduce**
Click link under "“Integrating FilePond with Ember”"

**Expected behavior**

At a guess should it point to this

[2020-12-11 17:02] rikschennink commented on #623
Thanks, updated the readme 👍

[2020-12-11 17:03] #623 closed

[2020-12-14 05:36] rohanvachheta commented on #622
https://codesandbox.io/s/react-filepond-live-demo-forked-rn4it?file=/src/index.js here is codesandbox link and here is a video how can you generate this https://www.awesomescreenshot.com/video/2063126

[2020-12-14 08:27] rikschennink commented on #622
@rohanvachheta the video doesn't work.

The codesandbox doesn't load styles.

![Screenshot 2020-12-14 at 09 27 15](https://user-images.githubusercontent.com/1132575/102057694-9bc7b780-3dee-11eb-8ca8-2de30c110920.png)

[2020-12-14 09:18] rohanvachheta commented on #622
@rikschennink  just click on drag and drop and upload files, I know CSS didn't apply because there is an iframe. the reason maybe things are breaking with file pond is it finds an element from dom which is not there because of the iframe .can you please check again

[2020-12-14 17:12] BMCwebdev commented on #82
For people who end up here searching for an answer to this problem, I solved it by using the following:
[https://www.npmjs.com/package/custom-event-polyfill]

[2020-12-15 14:06] rikschennink commented on #621
closed because no additional info supplied within 5 days

[2020-12-15 14:06] #621 closed

[2020-12-16 00:35] kirikintha opened #625 "filepond--drop-label CSS Transition blurred on Chrome 87"
**Describe the bug**

On Chrome 87 on OSX Catalina with a React 16 and bootstrap 4, I noticed that when the animation for removing a file completes, the text is blurred after the transform completes. I am not using the React Component, just loading it into my home page to check it out.

**To Reproduce**

https://pqina.nl/filepond/docs/patterns/installation/ - I was following the basic setup with a

[2020-12-16 07:03] zoulhisham opened #626 "Image preview issue"
After i've upload an image, the preview shows black background. The upload is complete with no error, but the image does not load properly.
(Safari is working fine but chrome, IE not working properly)
![example](https://user-images.githubusercontent.com/45656005/102315418-163f3580-3faf-11eb-8eb7-29d91e8a8b70.PNG)

[2020-12-16 07:57] rikschennink commented on #625
Hey, thanks for the detailed issue! Is it possible one of the FilePond parent containers is transformed as well and maybe positioned at a non rounded pixel?

[2020-12-16 13:11] rikschennink commented on #626
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2020-12-16 17:05] kirikintha commented on #625
@rikschennink  - Thanks for responding! I've tried this on a number of pages with the same result, so I am guessing this is at my base app layer. I'm using lazy routing and a lot of fluid layout, so it would not surprise me that things are getting in the way.

I am going to close this, but is a good reference for anyone else who may be experiencing the same issue.

[2020-12-16 17:05] #625 closed

[2020-12-17 09:01] lucvanrooyen opened #627 "Tap to cancel not working"
Hey guys I am quite stuck at the moment - I have override the process method however on my front end whenever I click ''Tap to cancel" - nothing happens. I have tried logging in various places but none of them get hit - can you assist?

[2020-12-17 09:09] rikschennink commented on #627
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2020-12-17 09:15] lucvanrooyen commented on #627
Cool question asked on stackoverflow

[2020-12-17 09:15] #627 closed

[2020-12-19 19:24] Irvin-tl opened #628 "How to revert process file in FilePond JS?"
I started using Filepond JS and I am confused about how to call certain functions. Perhaps it is because my knowledge of ES6 is not that good, or maybe I am just overthinking this whole problem. The process uploads a file to a tmp folder. On the other hand, revert should remove the uploaded file from the tmp folder.

**The Problem:** I cannot seem to revert an upload in filepond.

**Things I tried

[2020-12-19 20:26] #628 closed

[2020-12-21 23:27] NgJason opened #629 "filepond input UI is broken with Bootstrap 4.5"
[code]

This is working with bootstrap 4.0, but upgraded to 4.5 and it looks like this
![image](https://user-images.githubusercontent.com/6984333/102831560-f2aa2f80-43a0-11eb-9c0f-052446a68a29.png)

after upload:
![image](https://user-images.githubusercontent.com/6984333/102831573-f9d13d80-43a0-11eb-983e-deb5e1909e42.png)

[2020-12-21 23:35] NgJason commented on #629
upgrade to latest filepond 4.25.1 and remove .input-group solves this problem

[2020-12-21 23:35] #629 closed

[2020-12-22 05:22] rohanvachheta commented on #622
@rikschennink  hey, is there any update or I require to create another issue same as this?

[2020-12-22 07:52] rikschennink commented on #622
No, there's no update. Simply haven't had time to look at this yet. The CSS not being loaded isn't helping. Please don't create additional issues.

[2020-12-22 14:51] alucard29 opened #630 "FilePond through CDN + Alpine.js = translation ?"
Hi and thank you for this wonderful tool.

I already use FilePond through CDN and Alpine.js in a Laravel context but i'm not able to use translations. Does anyone already perform that (is it at least feasible ?)

Regards !

[2020-12-22 15:38] rikschennink commented on #630
Thanks for using it!

---

Please note that we require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on Stack Overflow and tag it with "filepond".

[2020-12-22 15:38] #630 closed

[2020-12-23 18:53] hasnatbabur commented on #285
@rikschennink The plugin is fine but. The plugin does not work with minimum height style and we are in trouble for this. Images are not shown if we use min-height on root. We also use Doka. We need a bigger height drop zone but not fixed height root with overflow scrollable area. Can this plugin support min-height drop zone?

[2020-12-25 12:20] pmehta18 commented on #622
@rohanvachheta Try wrapping the FilePond component within FrameContextConsumer which provides reference to iframe's document and window object. Refer [here](https://www.npmjs.com/package/react-frame-component#accessing-the-iframes-window-and-document).

[2020-12-27 13:44] rohanvachheta commented on #622
@rikschennink  now the styles are included. can you please update if you get a solution

@pmehta18  I've tried that but file pond does not provide any props for passing different dom object .so it is actually trying to manipulate the things which do not exist in the dom and we get an error.

[2020-12-28 07:44] rikschennink commented on #622
@rohanvachheta I'll look into it again this week.

[2020-12-28 13:45] rikschennink commented on #285
@hasnatbabur you can set a bigger min-height to the `.filepond--root .filepond--drop-label` element.

[code]

[2020-12-29 07:56] Yahasana opened #633 "Data workflow should not rely on the return from event callbacks"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I forget return data from `onload`, `ondata` or `onerror`. filepond run in tricky mode.

**Describe the solution you'd like**
see pr #631

**Describe alternatives you've considered**
`onxxx` should only do something and void return.

[2020-12-29 14:14] alfredasare opened #634 "onprocessfiles not running after preloading images"
I tried preloading images from a remote server. The images do load just fine, but `onprocessfiles` does not run after I add and process new images. `onprocessfile` does run for each image but `onprocessfiles` does not run after they're all done. When I removed the array of preloaded images, `onprocessfiles` run.

![Screenshot (176)](https://user-images.githubusercontent.com/38125880/103289475-3aeb

[2020-12-29 14:22] rikschennink commented on #634
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-01-04 18:51] #634 closed

[2021-01-04 19:03] rikschennink commented on #633
Closed, agree that this would be a nice fix, still not sure if I can merge without causing backwards compatibility issues, let's continue in PR.

[2021-01-04 19:03] #633 closed

[2021-01-04 19:18] rikschennink commented on #622
I'm not sure why this happens. I've taken another look but CodeSandbox itself is based on frames and in all other demos FilePond works correctly, so I would think it's related to how the `react-styled-frame` is rendered?

[2021-01-05 08:47] phelbas opened #635 "Safari (and probably IOS) files are sent with zero length"
On Safari  13.1.3 (OSX Catalina), uploaded files are currently sent with zero length
This appears to be a Safari/IOS problem. I am unsure when the issue appeared, or when/if it has been fixed in Safari/IOS.

The problem, I think, is use of formData().append of a File object. The uploaded multi-part form does not include the contents of each file so on the server side, the files created are zero le

[2021-01-05 10:57] rikschennink commented on #635
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. This issue will be closed in 5 days if the above is not addresse

[2021-01-05 11:53] phelbas commented on #635
Is there a product page demo where one can test that the image is actually uploaded to a server without truncation?

[2021-01-05 12:17] rikschennink commented on #635
It's unclear to me what you mean.

[2021-01-05 12:22] phelbas commented on #635
You said "please try to reproduce this on the product page" however I unless there is something I am missing, there is no way to see what the server received after upload of a file. With this particular issue the browser and FilePond reports all is ok.

So I guess I'd have to adapt the product page example in codepen to post to postman echo test or something like that, then submit that example, as

[2021-01-05 12:35] rikschennink commented on #635
Because of privacy concerns there's no page to see the actual upload.

If you create a public test case with actual upload I'm happy to take a closer look.

[2021-01-05 22:26] phelbas commented on #635
Sorry for the delay. Here you go.

Minimal filepond at  ... http://139.180.163.144:8080/test.html it uploads with POST to same server.

When I inspect network POST using OSX Safari 13.1.3 dev tools:

<img width="703" alt="Screen Shot 2021-01-06 at 9 20 15 am" src="https://user-images.githubusercontent.com/67846089/103706208-98e07100-5000-11eb-929a-c1fc2610c158.png">

It doesn't actually matter wha

[2021-01-05 22:31] phelbas commented on #635
(Safari 13.1.3 is actually the last version of Safari for OSX Catalina which I imagine is still the most common OSX in active use. It may also be the Safari code in iOS 13.x and have the same issue)

 after this, there is Big Sur and Safari 14.0, 14.0.1 and 14.02, and IOS 14

[2021-01-05 23:11] phelbas commented on #635
I was on a wild goose chase, sorry. The zero length file problem on the back-end looks to have been a weird issue with my dev setup :( closing.

[2021-01-05 23:11] #635 closed

[2021-01-06 15:19] rohanvachheta commented on #622
@rikschennink  `react-style-frame` renders the iframe only , i guess it is due to the DOM which filepond takes is the windows object and in iframe the Dom is different from windows , when i try to load library of yours it loads under iframe but operation it try to perform under windows main Dom object .  @rikschennink  do you have any solution for that .

[2021-01-06 15:43] rikschennink commented on #622
@rohanvachheta I've successfully tested FilePond ini frames, how do you explain it working in codesandbox itself?

[2021-01-06 15:54] rohanvachheta commented on #622
@rikschennink  in codesanbox they're generating url based on changes and that url got passed into iframe . here in which if you try using `react-frame-component` or any iframe library where you can append react component ,filepond will fail .here `react-frame-component` in that they're also providing different document object which shows there are some difference , check this out @rikschennink  [h

[2021-01-08 06:41] misisol opened #636 "nsimageTransformVariants resize issue: Uncaught (in promise) TypeError: Cannot set property 'size' of undefined"
**Describe the bug**

I found an issue when imageResizeUpscale = false, smaller images (smaller than imageResizeTargetWidth or imageResizeTargetHeight) don't have access to the resize transform in imageTransformVariants,

`const pond = FilePond.create(document.querySelector('input'), {
      imageResizeTargetWidth: 1280,
      imageResizeTargetHeight: 1280,
      imageResizeMode: 'contain',

[2021-01-08 07:44] rikschennink commented on #636
See: https://github.com/pqina/filepond-plugin-image-transform/issues/21

[2021-01-08 07:44] #636 closed

[2021-01-11 08:01] Stefano1990 commented on #371
Can you mention this issue in the docs please? I lost an entire evening yesterday because of this.

[2021-01-11 08:29] rikschennink commented on #371
Just updated the docs with a link to the stack overflow question.

[2021-01-12 09:10] krittidet opened #637 "How to use resize image feature on multiple image?"
**Describe the bug**

I'm use filepond and use the FilePondPluginImageTransform plugin, when I'm try to resize on multiple upload in 1 time, which upload just 1 image returned.

How to resize multiple image in 1 upload by multiple files?

[code]

[2021-01-13 11:56] rikschennink commented on #626
Closed because template not filled in

[2021-01-13 11:56] #626 closed

[2021-01-13 11:57] rikschennink commented on #637
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-01-13 11:57] #637 closed

[2021-01-13 13:29] Yahasana opened #638 "Too complicated html tags"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when i want to add some css style to the uploaded file. see the html tags `filepond` generated (only one file)
[code]

**Describe the solution you'd like**
A truly refactor for these html/css are required. can we make it simple as it should be?

**Describe alternatives you've considered**
It's just a boring co

[2021-01-13 14:22] rikschennink commented on #638
This is not going to change anytime soon.

[2021-01-13 14:22] #638 closed

[2021-01-14 03:33] mirraj2 commented on #317
@rikschennink I'm having the same issue.  Seems like it should just compute the max height of all the items in the list and use that instead of just using the height from the first one.

[2021-01-14 07:01] rikschennink commented on #317
It isn't

[2021-01-15 15:19] josespinal commented on #628
What did it?

[2021-01-17 02:12] ProSkillls commented on #628
I got it working; please refer to the following link: [](https://stackoverflow.com/questions/65372448/how-to-revert-process-file-in-filepond-js?noredirect=1#comment115607946_65372448)

[2021-01-19 09:03] dmbehrouz opened #639 "Add manually file from server"
Hi
I need to download the files that are on the server and put them in the library. Is it possible in your library to put photos in the library with just one URL?
Thanks

[2021-01-19 09:07] rikschennink commented on #639
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-01-19 09:07] #639 closed

[2021-01-22 11:20] ludoklein commented on #525
Hello bagnus,

Don't know if you're still facing this issue.
I had a similar problem with filepond (uncaught exception (in promise) that stops my JavaScript) when I tried to upload a file larger than the server limit.
In my case it was a 503 error.

After hours of debugging, I found that the culprit was a missing "catch" on the following promise function in filepond.js :

var processFile = functio

[2021-01-22 13:43] bagnus commented on #525
Hi, thanks for your update.
In the next weeks I’ll try your solution.
Greetings Andrea

[2021-01-22 18:41] cajsamra opened #641 "Option for setting a label text missing?"
I am having trouble finding the label text option for the case where the user hits the upload button, but has not selected a file yet.  A message pops up in a small frame with the words “Please select one or more files.”  I need to translate that label into other languages.  Please advise.  I’ve attached a screen shot of what I am talking about.

![Screen Shot 2021-01-22 at 10 39 08 AM](https://us

[2021-01-22 21:46] cajsamra commented on #641
Sorry, but I now understand what is happening.  it is the browser that is putting out that message, not FilePond  Sorry for the bother.

[2021-01-22 22:45] autresrhumbs opened #642 "Filepond uploader disappears after deleting image"
Hello,

I have an issue I couldn't solve so far.
When I delete an image that is first in a row, the whole Filepond uploader disappears.
If I have a look at source code, everything seems to be hided behind something but cannot figure out what it could be.

What am I doing wrong here?!

https://user-images.githubusercontent.com/39381278/105557165-d4bb4c00-5d0b-11eb-82df-bf55e49541a7.mov

Thanks for

[2021-01-23 09:18] rikschennink commented on #641
Hi, yes this is native HTML functionality, thanks for the update. I'll close the issue.

[2021-01-23 09:18] #641 closed

[2021-01-23 10:34] AlexGach opened #643 "Forcing an aspect ratio for avatars or logos"
Hi,
Is there a way to force an aspect ratio for an image?

For avatars or logos, it is really useful to fix an aspect ratio, like facebook or linkedin does.

[2021-01-23 10:36] #643 closed

[2021-01-25 08:11] rikschennink commented on #642
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed. Please le

[2021-01-25 08:11] #642 closed

[2021-01-25 08:36] fratzinger opened #644 "sponsorship - throw some money at rikschennink"
Hey @rikschennink,

I just want to say that I love the filepond ecosystem with it's beautiful plugins! I also contributed code here and there, so it fulfills my needs even more. You merged it quite fast! Really good Open Source work!

I would like to give something back, even if it's not that much! How about a monthly sponsorship? I believe there would be more guys like me willing to throw money a

[2021-01-26 00:35] jakejackson1 opened #646 "Tap to Cancel Unresponsive during Image Transform"
**Describe the bug**

On a budget / low resource tablet / phone, the Tap to Cancel can be unresponsive during the image transformation process. This becomes very noticable with larger images that take some time to process (10MB+), but is intermittent (likely depending on how the memory consumption is going on the device).

The cancel button still works if you select it right away before the transf

[2021-01-26 08:51] rikschennink commented on #646
Hi Jake, Thanks for the detailed report.

The transforms are happening in canvas, and as this runs in the main thread it is blocking for UI interactions. WebKit based browsers can still run animations that's why the spinners do work. I'm planning to move to [OffscreenCanvas](https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas) as soon as possible, this should resolve this on modern br

[2021-01-26 12:08] rikschennink commented on #644
Hi @fratzinger, thanks so much for the kind words, and thanks for contributing!

I've experimented with Patreon sponsorship links in the past but it didn't really "take off", I've just re-enabled it with the more casual donation platform "buy me a coffee". :)

🙏 https://www.buymeacoffee.com/rikschennink

[2021-01-26 12:08] #644 closed

[2021-01-26 12:28] fratzinger commented on #644
5 on me.

Maybe you should consider github sponsorship some day. It surely would not "take off", but I see a slow shift in voluntary financial support. Github sponsorship is a good way of call to action. Just my two cents.

Enjoy your coffee! ;)

[2021-01-26 12:37] rikschennink commented on #644
Thanks @fratzinger! and thanks for the gh sponsorship suggestion, will definitely look into it

[2021-01-27 08:47] muhammederdinc commented on #460
@thepower50
Sometimes a browser doesn’t succeed in detecting the correct mime type for a file. In that situation the file type property is empty and FilePond can’t determine the correct type either (it relies on the browser engine).
I faced the same problem and looked at https://pqina.nl/filepond/docs/patterns/plugins/file-validate-type/#custom-type-detection for a solution. I think you can fix th

[2021-01-28 12:03] prince272 opened #649 "patch 'onload' is not fired as well but process 'onload' is fired"
**Is your feature request related to a problem? Please describe.**
Patch 'onload' is not fired for every patch request filepond makes.

**Describe the solution you'd like**
I would like patch 'onload' to be fired so i can check some information from the server for every patch request.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2021-01-28 12:15] prince272 commented on #649
If it is possible to get the server response when 'onprocessfile' event is called then that would work for me.

[2021-01-28 12:50] ehsanmohebbi opened #650 "onOnce() event method executed as number of files selected, serverId undefined, and revert(deleteFile), JQuery."
Hello to all contributors of this amazing file uploader plugin!

Before writing this, I searched and read the documentation, issues, and questions related to my problems, but I couldn't figure out the solution to my issues. I wish that you would and could help to achieve the results that I want.

I use this plugin to upload multiple .pdf files.  when file(s) are selected I try to send a post reque

[2021-02-02 16:02] navarrodavide opened #651 "Filepond not work on Miui Browser"
**Describe the bug**

I use Miui Browser (Mobile) to test upload file. After I took a picture I click 'OK' (V) and the browser refresh the page or go back to previous tab.
I test here: https://codesandbox.io/embed/react-filepond-live-demo-iw9ri?codemirror=1

**Information about your project:**
browser : Mozilla/5.0 (Linux; U; Android 10; it-it; Redmi 7A Build/QKQ1.191014.001) AppleWebKit/537.36 (K

[2021-02-03 09:55] ReymarEnteria opened #652 "changing of revert icon not working"
Hi,

I just want to raise an issue on changing revert icon from "Cross Icon" to "Trash Icon".
I am using vue-filepond v4.25.1 .

here's the screenshot of my code.
![image](https://user-images.githubusercontent.com/44773797/106729668-b6791880-6648-11eb-8ff8-6bad08feba21.png)

here's the actual result
![image](https://user-images.githubusercontent.com/44773797/106729873-ede7c500-6648-11eb-9fbf-fb678

[2021-02-03 09:57] rikschennink commented on #652
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed. Please le

[2021-02-03 09:57] #652 closed

[2021-02-05 09:21] tomdav999 opened #653 "Grid not wrapping fixed width items properly"
I am using fixed width for filepond items:

.filepond--item {
    width: 200px;
}

Depending on container width, the last item will overflow instead of wrapping properly to the next row.  I believe the problem is the use of Math.round instead of Math.floor:

var itemsPerRow = Math.round(horizontalSpace / itemWidth);

[2021-02-06 03:34] tomdav999 opened #654 "Grid view enhancements"
Thanks for this amazing library, much appreciated!  As much as I thrilled with it, I am finding horizontal grid display to be a bit frustrating to style.  A couple suggestions.

1) Would it be possible to eliminate the CSS "hacking" required for grid view?  Currently an inordinate number of media queries is needed, for example, this is very painful!

[code]

Why not add a gridItemMaxWidth paramete

[2021-02-08 14:16] rikschennink commented on #650
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed. Please le

[2021-02-08 14:16] #650 closed

[2021-02-08 14:26] rikschennink commented on #654
1. That could be possible but I felt it was better to leave this up to CSS as it's a CSS layout thing. Not something I'm going to change for this major version, if a new version of FilePond is coming layout will probably be even more CSS oriented instead of less.

2. I'm not sure how this would then allow ordering files, can files only be dropped on the file drop area that just moved to the right,

[2021-02-08 14:28] rikschennink commented on #653
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

The more information we have, the faster the issue can be resolved.

We will be able to more closely look at your issue once the issue template has been filled out. The issue will be closed until the above is addressed. Please le

[2021-02-09 06:57] elahekaramzade opened #655 "load initial image from s3"
I want to load the initial image from s3 in vue-file-pond, but it sends Xhr request to s3 and **blocked by cors origin policy**.( I don't use server side option because I submit image via form . ).
Here is my file pond tag
[code]
storage_url is my s3 base URL.
It loads simply on img tag but in file pond ...
 what can I do? I had a full week with nightmare :(( plz help.

[2021-02-09 07:35] rikschennink commented on #655
We require the issue template to be filled out on all new issues. The issue template helps us collect all the information we need to address your submission efficiently.

If your issue can be classified as an integration question or a question about specific features of FilePond we ask you kindly to submit it on [Stack Overflow](https://stackoverflow.com/questions/tagged/filepond).

We will be abl

[2021-02-09 07:35] #655 closed

[2021-02-10 12:19] rikschennink commented on #596
Related
https://github.com/pqina/react-filepond/issues/122

[2021-02-11 20:51] tomaswallentinus opened #656 "Support contract"
The  "Developer Support Packages" on https://pqina.nl/filepond/#support is gone. If I want to know that Filepond will be maintained in a couple of years it has to be a commercial part of it. Is the support package temporarily gone or is there an alternative route to commit to the framework?

Regards Tomas

[2021-02-11 21:04] rikschennink commented on #656
It’s gone because there was literally zero interest in it.

If you want to support the project feel free to sponsor (see link at the top).

Or better yet treat yourself to a [Doka Image Editor](https://pqina.nl/doka/) license. Lots of Doka Image Editor customers use it with FilePond so as long as Doka is financed FilePond will be maintained.

[2021-02-12 07:16] tomaswallentinus commented on #656
Great, will do the second. Upload is an important part of our page so we need it to be long term :)

[2021-02-12 07:57] Abhi0725 commented on #560
@rikschennink I have added `captureMethod: "camera",` in "options during FilePond.create()". But the browser on laptop always opens file browser. Isn't camera option supported?

[2021-02-12 09:32] andreasklostermaier opened #657 "Error "Ruleset ignored due to bad selector" in Firefox"
**Describe the bug**

Loading a page in Firefox (85.0.1), with filepond active, produces two errors of type "Ruleset ignored due to bad selector."
The error messages seem to not affect the correct performance of FilePond (therefore low prio).

**Logs**

Ruleset ignored due to bad selector. filepond.css:656:45
Ruleset ignored due to bad selector. filepond.css:660:45

**To Reproduce**

The error mes

[2021-02-12 09:38] andreasklostermaier opened #658 "Error "Error in parsing value for 'contain'. Declaration dropped." in Firefox"
**Describe the bug**

Loading a page in Firefox (85.0.1), with filepond active, produces the error
"Error in parsing value for ‘contain’.  Declaration dropped. filepond.css:936:24"
The error message seem to not affect the correct performance of FilePond (therefore low prio).

**Logs**

[code]

**To Reproduce**

The error message only shows up in Firefox (cannot see it in Brave/Vivaldi).
The error

[2021-02-12 09:46] rikschennink commented on #657
These are selectors prefixed so they target other browsers. Firefox chooses to show a warning about this. Closed because won't fix and is not a bug.

[2021-02-12 09:46] #657 closed

[2021-02-12 09:48] rikschennink commented on #658
Tried to reproduce this on pqina.nl/filepond and in a local test project, the error does not show up.

Please create a public test case.

[2021-02-12 09:48] #658 closed

[2021-02-14 12:22] rikschennink commented on #560
@Abhi0725

see this comment in the code

[code]

[2021-02-14 17:45] brentscholl opened #660 "Drag and Drop reorder possible, but not seeing documentation for it."
When I use the image preview plugin I can drag and drop the order of the images in filepond. However, I am unable to find documentation on this features.

I'm using file pond for users to upload images to a gallery and the order of the gallery needs to be saved.

How do I save these images in the order the user sets in filepond using drag and drop reordering? (I'm using Laravel and Livewire)

[2021-02-15 06:44] Abhi0725 commented on #560
@rikschennink Yes tried that but it works on mobile device only.

[2021-02-15 07:33] rikschennink commented on #560
@Abhi0725 Then it's likely the browser on your laptop doesn't support selecting the camera.

Alternatively you can use WebRTC to capture a photo and then send the resulting file to FilePond.
https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos

[2021-02-16 07:55] VeRJiL commented on #114
I could finally figure a way which is not optimal to load the image. Check this answer on stackoverflow:

[](https://stackoverflow.com/a/66220498/7295420)

they have a great library and good documents but some little details are missing from the Docs, I hope they update the docs

[2021-02-16 15:06] TekVanDo opened #661 "Is Doka 7+ supported by Filepond?"
Can`t find any example by FilePond and Doka 7+

All examples that I found used the method Doka.create does not exist in version 7 https://pqina.nl/doka/docs/v7/api/exports/

[2021-02-16 15:59] rikschennink commented on #661
It’s supported but I’m so super busy I haven’t gotten around to updating the Doka and FilePond websites. It’s on the todo list to add a filepond integration example to the docs.

The product package contains a fully functional example project.

[2021-02-17 07:21] rikschennink commented on #661
In the mean time, see code snippet below:

`FilePondPluginImageEditor.js` is included with the project, you no longer need to load all the separate FilePond plugins. `filepond-plugin-file-poster.js` replaces the image preview plugin (for now).

[code]

[2021-02-17 16:01] rikschennink commented on #661
FilePond installation instructions have been added.

👉 https://pqina.nl/doka/docs/v7/getting-started/installation/filepond/

[2021-02-17 16:01] #661 closed

[2021-02-19 10:40] ehsanmohebbi commented on #33
Hello!
The `revert` is not executed when I use the `files `property to load the previously uploaded file from the server!

[code]
![ScreenShoot](https://user-images.githubusercontent.com/17772597/108493694-48bb2680-72af-11eb-84cf-0673dbbe4946.PNG)

When I click on X button it is removed from FilePond Instance but it doesn't send the request to the server to be removed also from there.

Thank you!

[2021-02-19 17:36] bersyatina commented on #660
Hello, Brentscholl! Look at this screencast here:
https://laravel-livewire.com/screencasts/s8-dragging-list
At the end there is a function that works with sorting. But the problem, as it seems to me, is not in changing the order of files when dragging, but in the order of transferring files from the client to the server. Each time, the server accepts files in a different order, even during the ini

[2021-02-20 00:01] brentscholl commented on #660
Not sure if this is correct, but it seems to work

I added this to `FilePond.setOptions()`

[code]
This removes the previous uploaded images and reuploads with the new order.

[2021-02-20 22:59] tomdav999 commented on #653
**Describe the bug**

When filepond items have fixed width (for grid view)  the last item in the row will overflow and not wrap properly if it consumes more than 50% of remaining container width.

**Logs**

n/a

**To Reproduce**

Set item width to 200px (see OP).

1) Set container width to 320px. Add 2 images.  Second image will overflow instead of wrapping.

2) Set container width to 300px.  Add

[2021-02-22 14:54] bartek5186 opened #662 "allowMultiple does not set default filepond[] name"
**Describe the bug**

Normal setting without "name" parameter dont generate multiple field name.
allowMultiple: true, dont generate name for multiple.
I must set name to "filepond[]" to get multiple ids from post, because before all have the same name "filepond"

![image](https://user-images.githubusercontent.com/4134966/108724819-0bac9980-7526-11eb-83a8-02fafe501157.png)

(Browser: Opera)

[2021-02-24 07:34] kudo-clubt opened #663 "How to throw Filepond error manually while validating an image requirement"
Is it feasible to throw a Filepond error from javascript so that everything is done within the original FilePond UI?

I have Filepond Instance which l validate image types and file size.
I'd also like to validate file length, but as I understand, length validation is not supported by Filepond so I've done it manually via js. I get image width and height by loading DatUrl from Filepond. Any feature

[2021-02-24 07:38] #663 closed

[2021-02-24 07:39] rikschennink commented on #663
I’m not sure what you mean with file length (maybe orientation?) but I would advice to fork one of the validation plugins and adjust the source to your needs.

[2021-02-24 07:41] raykudo opened #664 "Is it possible to throw Filepond error"
Is it feasible to throw a Filepond error from javascript so that everything is done within the original FilePond UI?

I have Filepond Instance which l validate image types and file size.
I'd also like to validate file length, but as I understand, length validation is not supported by Filepond so I've done it manually via js. I get image width and height by loading DatUrl from Filepond. I'd like to

[2021-02-24 07:42] #664 closed

[2021-02-24 09:15] #656 closed

[2021-02-25 11:02] teawithfruit commented on #1
I know, this thread is very old.
But I had the same problem and didn't found any good answer. So I think, that this is a good solution, to rename the metadata field.

[code]

[2021-02-25 14:42] TekVanDo opened #665 "Can`t upload edited image"
I faced a problem  with filepond + doka 7+.
I turn off instantUpload
but if I will edit image in doka, button upload not apearing,
and I tryed no leasan some events like onconfirm or onpreparefile to trigger upload mannualy but it is not triggered

my current config

[code]

[2021-02-26 07:15] rikschennink commented on #665
I’ll respond to the GitHub issue.

Kind regards,

Rik | PQINA

Web: https://pqina.nl
Email: info@pqina.nl

PQINA BV
Sint Willibrordusstraat 16
5502 BH Veldhoven
The Netherlands
On 25 Feb 2021, 15:42 +0100, Alexander Strochkov <notifications@github.com>, wrote:

[2021-02-26 07:27] rikschennink commented on #665
Can you check which version of FilePond you're on, I just noticed the included FilePond files in the preset template were very much outdated, best to download the latest versions from this repository. I'm updating the Doka Image Editor product package right now.

This method is only available on FilePond, you can't set it in the `editorOptions`
[code]

Doka release v7.4.1 will enable binding `onco

[2021-02-26 11:40] TekVanDo commented on #665
Ok i am waiting for a release. But it is strange that filepond don't react on doka image changes and don't suggest upload file.

[2021-02-26 13:41] rikschennink commented on #665
@TekVanDo I'm not sure what you mean.

Anyway, version 7.4.1 is now available for download, you can listen for Doka events using the new `handleEvent` property.

I'll close this issue, please submit a support ticket if you haven any further trouble.

[2021-02-26 13:41] #665 closed

[2021-02-26 18:11] TekVanDo commented on #665
Hm it seems not working for me. handleEvent dont trigger any events

``
pondOptions = {
    labelIdle: `Drag & Drop your picture or <span class="filepond--label-action">Browse</span>`,
    // imageCropAspectRatio: '1:1',
    // stylePanelLayout: 'compact',
    styleButtonRemoveItemPosition: 'left bottom',
    styleButtonProcessItemPosition: 'right bottom',
    instantUpload: false,
    credits: nu

[2021-03-02 02:57] rosnaib11 commented on #523
On your filepond instance add method `:onactivatefile="activateFile"`

then call the browse method

[code]

[2021-03-02 09:41] rikschennink commented on #665
Fixed in 7.4.2

[2021-03-05 09:27] tomdav999 opened #667 "imageTransform is inconsistent when deciding whether to transform"
**Describe the bug**

Image transform is inconsistent when deciding whether to transform

**Logs**

n/a

**To Reproduce**

Register FilePondPluginImageTransform

Case 1
do NOT set imageTransformOutputMimeType (should default to the input file type)
do NOT set imageTransformOutputQuality (should default to browser quality)
do NOT set imageTransformOutputQualityMode (should default to always)
upload

[2021-03-05 14:17] animaux opened #668 "FilePond:updatefiles is always triggered twice on file-drop"
**Describe the bug**

When dragging Files onto FilePond, `FilePond:updatefiles` is triggered twice.

**To Reproduce**

https://codesandbox.io/s/vanilla-filepond-forked-shyr6?file=/src/index.js

See `console.log()`.

**Expected behavior**

I would expect it to be triggered only once.

**Information about your project:**

- Your browser and the version: Safari 14.0.3
- Your operating system:  MacOS

[2021-03-06 23:23] tomdav999 opened #669 "Image resize plugin is incorrectly setting resize metadata when imageResizeMode is 'cover'"
**Describe the bug**
The Image resize plugin is incorrectly setting resize metadata when imageResizeMode is 'cover' leading to token image transformation and file compression of originals when no resize should occur.

**Logs**
n/a

**To Reproduce**
1) set the following resize options:
[code]
2) upload a 600 x 200 image

3)  check uploaded filesize and dimensions

**Expected behavior**
Image should

[2021-03-08 14:01] rikschennink commented on #668
Hey! It's currently called for adding files, removing files, and when files finish loading.

[2021-03-08 14:32] rikschennink commented on #653
Should be fixed in https://github.com/pqina/filepond/releases/tag/4.25.2

Please close when confirmed.

[2021-03-08 14:32] rikschennink commented on #620
Should be fixed in https://github.com/pqina/filepond/releases/tag/4.25.2

Please close when confirmed.

[2021-03-08 17:10] animaux commented on #668
Thanks for clarification Rik. So there is currently no event that is triggered *only once**, after one or more files have been added?

[2021-03-08 17:18] #668 closed

[2021-03-09 06:59] rikschennink commented on #668
Possibly `addfilestart`

[2021-03-09 07:22] animaux commented on #668
Thanks, I’ll have a look!

[2021-03-09 13:18] Sopamo commented on #249
@rikschennink wow that's really unfortunate. We are using this feature now, so feel free to send me an email with the specifics of what was offered for this feature and we might be able to reimburse your for the feature (at least to some extend).